<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.CustomsFinanceCoRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.CustomsFinanceCoRelation">
        <id column="id" property="id" />
        <result column="yunbaoguan_name" property="yunbaoguanName" />
        <result column="kingdee_name" property="kingdeeName" />
        <result column="kingdee_code" property="kingdeeCode" />
        <result column="deprecated" property="deprecated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, yunbaoguan_name, kingdee_name, kingdee_code, deprecated
    </sql>


    <select id="findCompanyRelationPage" resultType="com.jayud.finance.po.CustomsFinanceCoRelation">
        select * from customs_finance_co_relation
        where 1=1
        <if test="form.yunbaoguanName != null and form.yunbaoguanName != ''">
            and yunbaoguan_name like concat('%',#{form.yunbaoguanName},'%')
        </if>
        <if test="form.kingdeeName != null and form.kingdeeName != ''">
            and kingdee_name like concat('%',#{kingdeeName},'%')
        </if>
        <if test="form.kingdeeCode != null and form.kingdeeCode != ''">
            and kingdee_code like concat('%',#{form.yunbaoguanName},'%')
        </if>
        <if test="form.deprecated != null">
            and deprecated = #{form.deprecated}
        </if>
    </select>

</mapper>
