<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderPaymentBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderPaymentBill">
        <id column="id" property="id" />
        <result column="legal_name" property="legalName" />
        <result column="customer_name" property="customerName" />
        <result column="already_paid_amount" property="alreadyPaidAmount" />
        <result column="bill_order_num" property="billOrderNum" />
        <result column="bill_num" property="billNum" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_no, begin_account_term, end_account_term, settlement_currency, legal_name, customer_name, audit_status, make_user, make_time, audit_user, audit_time, apply_status, payment_amount,
        already_paid_amount,bill_order_num, bill_num, created_user, created_time, updated_user, updated_time
    </sql>

    <select id="findPaymentBillByPage" parameterType="com.jayud.finance.bo.QueryPaymentBillForm" resultType="com.jayud.finance.vo.OrderPaymentBillVO" >
        SELECT DISTINCT
            oi.legal_name legalName,
            oi.customer_name customerName,
            opb.already_paid_amount alreadyPaidAmount,
            ifnull( opb.bill_order_num, 0 ) billOrderNum,
            ifnull( opb.bill_num, 0 ) billNum,
            (
            SELECT
                SUM( opc.change_amount )
            FROM
                order_payment_cost opc
            WHERE
                opc.order_no IN ( SELECT a.order_no FROM order_info a WHERE a.legal_name = oi.legal_name AND a.customer_name = oi.customer_name )
                AND opc.is_bill = '0'
            ) notPaidAmount,
            (
            SELECT
                count( DISTINCT opc.order_no )
            FROM
                order_payment_cost opc
            WHERE
                opc.order_no IN ( SELECT a.order_no FROM order_info a WHERE a.legal_name = oi.legal_name AND a.customer_name = oi.customer_name )
                AND opc.is_bill = '0'
            ) notPaidOrderNum
        FROM
            order_info oi
            LEFT JOIN order_payment_bill opb ON opb.legal_name = oi.legal_name
            AND opb.customer_name = oi.customer_name
    </select>
    <select id="findPaymentBillNum" parameterType="com.jayud.finance.bo.QueryPaymentBillNumForm" resultType="com.jayud.finance.vo.OrderPaymentBillNumVO" >
        SELECT
          DISTINCT
            op.bill_no billNo,
            DATE_FORMAT( op.begin_account_term, '%Y-%m-%d' ) beginAccountTermStr,
            DATE_FORMAT( op.end_account_term, '%Y-%m-%d' ) endAccountTermStr,
            ( SELECT count( DISTINCT opbd.order_no ) FROM order_payment_bill_detail opbd WHERE opbd.bill_no = op.bill_no ) billNum,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'RMB' ) rmb,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'MY' ) dollar,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'OY' ) euro,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'GB' ) hKDollar,
            op.local_amount localAmount,
            (select sum(cav.real_receive_money) from cancel_after_verification cav where cav.bill_no = op.bill_no) heXiaoAmount,
            op.audit_status billStatus,
            op.make_user makeUser,
            DATE_FORMAT(op.make_time,'%Y-%m-%d %H:%i:%S') makeTimeStr
        FROM
             order_payment_bill_detail op left join order_payment_bill opb on op.bill_id = opb.id
             where opb.legal_name = #{legalName} and opb.customer_name = #{customerName}
    </select>
</mapper>
