<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderReceivableBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderReceivableBill">
        <id column="id" property="id" />
        <result column="legal_name" property="legalName" />
        <result column="customer_name" property="customerName" />
        <result column="already_paid_amount" property="alreadyPaidAmount" />
        <result column="bill_order_num" property="billOrderNum" />
        <result column="bill_num" property="billNum" />
        <result column="sub_type" property="subType" />
        <result column="is_main" property="isMain" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_no, begin_account_term, end_account_term, settlement_currency, legal_name, customer_name, audit_status, make_user, make_time, audit_user, audit_time, apply_status, invoice_amount,
        already_paid_amount,bill_order_num,bill_num,sub_type,is_main,created_user, created_time, updated_user, updated_time
    </sql>
    <select id="findReceiveBillByPage" parameterType="com.jayud.finance.bo.QueryReceiveBillForm" resultType="com.jayud.finance.vo.OrderReceiveBillVO" >
        SELECT DISTINCT
        oi.legal_name legalName,
        opc.customer_name supplierChName,
        ifnull( opb.already_paid_amount, 0 ) alreadyPaidAmount,
        ifnull( opb.bill_order_num, 0 ) billOrderNum,
        ifnull( opb.bill_num, 0 ) billNum,
        (select ifnull(sum(t1.change_amount),0) from order_payment_cost t1 where t1.is_bill = '0' AND t1.is_sum_to_main = '1' and t1.customer_name = opc.customer_name and t1.main_order_no in (select o1.order_no from order_info o1 where o1.legal_name = oi.legal_name)) notPaidAmount,
        (select count(DISTINCT t1.main_order_no) from order_payment_cost t1 where t1.is_bill = '0' AND t1.is_sum_to_main = '1' and t1.customer_name = opc.customer_name and t1.main_order_no in (select o1.order_no from order_info o1 where o1.legal_name = oi.legal_name)) notPaidOrderNum
        FROM
        order_payment_cost opc
        LEFT JOIN order_info oi ON oi.order_no = opc.main_order_no
        left join order_payment_bill opb on opb.legal_name = oi.legal_name
        and opb.supplier_ch_name = opc.customer_name
        and opb.is_main = 1 where 1 = 1
        <if test="form.supplierChName != null and form.supplierChName != ''">
            and oi.customer_name like concat('%',#{form.supplierChName},'%')
        </if>
        <if test="form.legalName != null and form.legalName != ''">
            and oi.legal_name like concat('%',#{form.legalName},'%')
        </if>
    </select>
    <select id="findPaymentSubBillByPage" parameterType="com.jayud.finance.bo.QueryPaymentBillForm" resultType="com.jayud.finance.vo.OrderPaymentBillVO" >
        SELECT DISTINCT
        oi.legal_name legalName,
        opc.customer_name supplierChName,
        ifnull( opb.already_paid_amount, 0 ) alreadyPaidAmount,
        ifnull( opb.bill_order_num, 0 ) billOrderNum,
        ifnull( opb.bill_num, 0 ) billNum,
        (select ifnull(sum(t1.change_amount),0) from order_payment_cost t1 where t1.is_bill = '0' AND t1.is_sum_to_main = '0' and t1.customer_name = opc.customer_name and t1.main_order_no in (select o1.order_no from order_info o1 where o1.legal_name = oi.legal_name)) notPaidAmount,
        (select count(DISTINCT t1.main_order_no) from order_payment_cost t1 where t1.is_bill = '0' AND t1.is_sum_to_main = '0' and t1.customer_name = opc.customer_name and t1.main_order_no in (select o1.order_no from order_info o1 where o1.legal_name = oi.legal_name)) notPaidOrderNum
        FROM
        order_payment_cost opc
        LEFT JOIN order_info oi ON oi.order_no = opc.main_order_no
        left join order_payment_bill opb on opb.legal_name = oi.legal_name
        and opb.supplier_ch_name = opc.customer_name
        and opb.is_main = 0 and opb.sub_type = #{form.cmd} where 1 = 1
        <if test="form.supplierChName != null and form.supplierChName != ''">
            and oi.customer_name like concat('%',#{form.supplierChName},'%')
        </if>
        <if test="form.legalName != null and form.legalName != ''">
            and oi.legal_name like concat('%',#{form.legalName},'%')
        </if>
    </select>
</mapper>
