<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderReceivableBillDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderReceivableBillDetail">
        <id column="id" property="id" />
        <result column="bill_no" property="billNo" />
        <result column="begin_account_term" property="beginAccountTerm" />
        <result column="end_account_term" property="endAccountTerm" />
        <result column="settlement_currency" property="settlementCurrency" />
        <result column="order_no" property="orderNo" />
        <result column="local_amount" property="localAmount" />
        <result column="cost_id" property="costId" />
        <result column="created_order_time" property="createdOrderTime" />
        <result column="start_address" property="startAddress" />
        <result column="end_address" property="endAddress" />
        <result column="license_plate" property="licensePlate" />
        <result column="vehicle_size" property="vehicleSize" />
        <result column="piece_num" property="pieceNum" />
        <result column="weight" property="weight" />
        <result column="yun_customs_no" property="yunCustomsNo" />
        <result column="audit_status" property="auditStatus" />
        <result column="make_user" property="makeUser" />
        <result column="make_time" property="makeTime" />
        <result column="audit_user" property="auditUser" />
        <result column="audit_time" property="auditTime" />
        <result column="apply_status" property="applyStatus" />
        <result column="invoice_amount" property="invoiceAmount" />
        <result column="status" property="status" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_no, order_no,begin_account_term,end_account_term,settlement_currency, cost_id, created_order_time, start_address,
        end_address, license plate, vehicle_size, piece_num, weight, yun_customs_no, audit_status,make_user,make_time,audit_user,
        audit_time,apply_status,invoice_amount,status, created_user, created_time,updated_user,updated_time,local_amount
    </sql>

    <select id="findReceiveBillDetailByPage" parameterType="com.jayud.finance.bo.QueryPaymentBillDetailForm" resultType="com.jayud.finance.vo.OrderPaymentBillDetailVO" >
        SELECT distinct
        orbd.id billDetailId,
        orbd.bill_no billNo,
        orb.legal_name legalName,
        orb.customer_name customerName,
        DATE_FORMAT(orbd.begin_account_term,'%Y-%m-%d') 	beginAccountTermStr,
        DATE_FORMAT(orbd.end_account_term,'%Y-%m-%d') 	endAccountTermStr,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='CNY') rmb,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='USD') dollar,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='EUR') euro,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='HKD') hKDollar,
        (select sum(m.money) from make_invoice m where m.opr_type = '2' and m.bill_no = orbd.bill_no and m.`status` = '1') heXiaoAmount,
        (orbd.invoice_amount - (select sum(m.money) from make_invoice m where m.opr_type = '2' and m.bill_no = orbd.bill_no and m.`status` = '1'))  notHeXiaoAmount,orbd.settlement_currency settlementCurrency,orbd.audit_status auditStatus,orbd.apply_status applyStatus,
        orbd.make_user makeUser,
        orbd.make_time makeTimeStr,
        orbd.audit_user auditUser,
        orbd.audit_time auditTimeStr,
        (select c.created_user from cancel_after_verification c where c.bill_no = orbd.bill_no order by c.created_time desc limit 1) heXiaoUser,
        (select c.real_receive_time from cancel_after_verification c where c.bill_no = orbd.bill_no order by c.created_time desc limit 1) heXiaoTimeStr
        FROM
        order_receivable_bill_detail orbd
        LEFT JOIN order_receivable_bill orb ON orbd.bill_id = orb.id
        where 1 = 1
        <if test="form.cmd == 'main_statement'">
            and orb.is_main = 1
        </if>
        <if test="form.cmd == 'zgys_statement'">
            and orb.is_main = 0 and orb.sub_type = 'zgys'
        </if>
        <if test="form.cmd == 'bg_statement'">
            and orb.is_main = 0 and orb.sub_type = 'bg'
        </if>
        <if test="form.customerName != null and form.customerName != ''">
            and orb.customer_name like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.legalName != null and form.legalName != ''">
            and orb.legal_name like concat('%',#{form.legalName},'%')
        </if>
        <if test="form.billNo != null and form.billNo != ''">
            and orbd.bill_no like concat('%',#{form.billNo},'%')
        </if>
        <if test="form.endAccountTerm != null and form.endAccountTerm !=''">
            and orbd.end_account_term <![CDATA[<=]]> #{form.endAccountTerm}
        </if>
        <if test="form.beginAccountTerm != null and form.beginAccountTerm !=''">
            and orbd.begin_account_term <![CDATA[>=]]> #{form.beginAccountTerm}
        </if>
        <if test="form.currencyCode != null and form.currencyCode !=''">
            and orbd.settlement_currency = #{form.currencyCode}
        </if>
        <if test="form.auditStatus != null and form.auditStatus !=''">
            and orbd.audit_status = #{form.auditStatus}
        </if>
        <if test="form.applyStatus != null and form.applyStatus !=''">
            and orbd.apply_status = #{form.applyStatus}
        </if>
    </select>

</mapper>
