<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderPaymentBillDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderPaymentBillDetail">
        <id column="id" property="id"/>
        <result column="bill_id" property="billId"/>
        <result column="bill_no" property="billNo"/>
        <result column="account_term" property="accountTerm"/>
        <result column="settlement_currency" property="settlementCurrency"/>
        <result column="order_no" property="orderNo"/>
        <result column="local_amount" property="localAmount"/>
        <result column="cost_id" property="costId"/>
        <result column="created_order_time" property="createdOrderTime"/>
        <result column="start_address" property="startAddress"/>
        <result column="end_address" property="endAddress"/>
        <result column="license_plate" property="licensePlate"/>
        <result column="vehicle_size" property="vehicleSize"/>
        <result column="piece_num" property="pieceNum"/>
        <result column="weight" property="weight"/>
        <result column="yun_customs_no" property="yunCustomsNo"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="make_user" property="makeUser"/>
        <result column="make_time" property="makeTime"/>
        <result column="audit_user" property="auditUser"/>
        <result column="audit_time" property="auditTime"/>
        <result column="apply_status" property="applyStatus"/>
        <result column="payment_amount" property="paymentAmount"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="remarks" property="remarks"/>
        <result column="status" property="status"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="push_kingdee_count" property="pushKingdeeCount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_id,bill_no, account_term,settlement_currency,order_no, cost_id, created_order_time, start_address,
        end_address, license plate, vehicle_size, piece_num, weight, yun_customs_no, audit_status,make_user,make_time,audit_user,
        audit_time,apply_status,payment_amount,status, created_user, created_time,updated_user,updated_time,local_amount,
        push_kingdee_count
    </sql>

    <!--    <select id="findPaymentBillDetailByPage" parameterType="com.jayud.finance.bo.QueryPaymentBillDetailForm" resultType="com.jayud.finance.vo.OrderPaymentBillDetailVO" >-->
    <!--        SELECT distinct-->
    <!--        opbd.bill_no billNo,-->
    <!--        opb.legal_name legalName,-->
    <!--        opb.supplier_ch_name supplierChName,-->
    <!--        opbd.account_term accountTermStr,-->
    <!--        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='CNY') rmb,-->
    <!--        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='USD') dollar,-->
    <!--        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='EUR') euro,-->
    <!--        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='HKD') hKDollar,-->
    <!--        (select sum(m.money) from make_invoice m where m.opr_type = '2' and m.bill_no = opbd.bill_no and m.`status` = '1') heXiaoAmount,-->
    <!--        (opbd.payment_amount - (select sum(m.money) from make_invoice m where m.opr_type = '2' and m.bill_no = opbd.bill_no and m.`status` = '1'))  notHeXiaoAmount,-->
    <!--        (select cur.currency_name from currency_info cur where cur.currency_code = opbd.settlement_currency) settlementCurrency,opbd.audit_status auditStatus,opbd.apply_status applyStatus,-->
    <!--        opbd.make_user makeUser,-->
    <!--        opbd.make_time makeTimeStr,-->
    <!--        opbd.audit_user auditUser,-->
    <!--        opbd.audit_time auditTimeStr,-->
    <!--        (select ai.audit_comment from audit_info ai where ai.ext_unique_flag = opbd.bill_no and ai.audit_status in ('B_2_1','B_4_1','B_6_1','B_7','B_8') order by ai.created_time desc limit 1) auditComment,-->
    <!--        (select c.created_user from cancel_after_verification c where c.bill_no = opbd.bill_no order by c.created_time desc limit 1) heXiaoUser,-->
    <!--        (select c.real_receive_time from cancel_after_verification c where c.bill_no = opbd.bill_no order by c.created_time desc limit 1) heXiaoTimeStr,-->
    <!--        opbd.push_kingdee_count-->
    <!--        FROM-->
    <!--        order_payment_bill_detail opbd-->
    <!--        left join-->
    <!--        (select t.bill_no,max(t.make_time) make_time  from order_payment_bill_detail t group by t.bill_no) tt on-->
    <!--        opbd.bill_no = tt.bill_no-->
    <!--        LEFT JOIN order_payment_bill opb ON opbd.bill_id = opb.id-->
    <!--        where opbd.make_time = tt.make_time-->
    <!--        <if test="form.cmd == 'main_statement'">-->
    <!--            and opb.is_main = 1-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'statement_audit'">-->
    <!--            and opb.is_main = 1 and opbd.audit_status in ('B_1','B_2')-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'cw_statement'">-->
    <!--            and (opbd.audit_status in ('B_3','B_4','B_5','B_5_1','B_6') or opbd.apply_status='4')-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'zgys_statement'">-->
    <!--            and opb.is_main = 0 and opb.sub_type = 'zgys'-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'zgys_statement_audit'">-->
    <!--            and opb.is_main = 0 and opb.sub_type = 'zgys' and opbd.audit_status IN ('B_1','B_2')-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'bg_statement'">-->
    <!--            and opb.is_main = 0 and opb.sub_type = 'bg'-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'bg_statement_audit'">-->
    <!--            and opb.is_main = 0 and opb.sub_type = 'bg' and opbd.audit_status IN ('B_1','B_2')-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'ky_statement'">-->
    <!--            and opb.is_main = 0 and opb.sub_type = 'ky'-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'ky_statement_audit'">-->
    <!--            and opb.is_main = 0 and opb.sub_type = 'ky' and opbd.audit_status IN ('B_1','B_2')-->
    <!--        </if>-->
    <!--        <if test="form.supplierChName != null and form.supplierChName != ''">-->
    <!--            and opb.supplier_ch_name like concat('%',#{form.supplierChName},'%')-->
    <!--        </if>-->
    <!--        <if test="form.legalName != null and form.legalName != ''">-->
    <!--            and opb.legal_name like concat('%',#{form.legalName},'%')-->
    <!--        </if>-->
    <!--        <if test="form.billNo != null and form.billNo != ''">-->
    <!--            and opbd.bill_no like concat('%',#{form.billNo},'%')-->
    <!--        </if>-->
    <!--        <if test="form.accountTermStr != null and form.accountTermStr !=''">-->
    <!--            and opbd.account_term <![CDATA[<=]]> #{form.accountTermStr}-->
    <!--        </if>-->
    <!--        <if test="form.currencyCode != null and form.currencyCode !=''">-->
    <!--            and opbd.settlement_currency = #{form.currencyCode}-->
    <!--        </if>-->
    <!--        <if test="form.auditStatus != null and form.auditStatus !=''">-->
    <!--            and opbd.audit_status = #{form.auditStatus}-->
    <!--        </if>-->
    <!--        <if test="form.applyStatus != null and form.applyStatus !=''">-->
    <!--            and opbd.apply_status = #{form.applyStatus}-->
    <!--        </if>-->
    <!--    </select>-->
    <select id="findEditBillByPage" parameterType="com.jayud.finance.bo.QueryEditBillForm"
            resultType="com.jayud.finance.vo.PaymentNotPaidBillVO">
        SELECT
        opbd1.id billDetailId,
        opc.main_order_no orderNo,
        pb.`name` bizCodeDesc,
        DATE_FORMAT( oi.create_time, '%Y-%m-%d' ) createdTimeStr,
        si.supplier_ch_name supplierChName,
        (SELECT GROUP_CONCAT(ota.goods_desc) FROM order_take_adr ota WHERE ota.order_no = ot.order_no AND ota.opr_type =
        '1' GROUP BY ot.order_no) goodsDesc,
        (SELECT GROUP_CONCAT(concat(ifnull(da.city_name,''), da.address )) FROM delivery_address da LEFT JOIN
        order_take_adr ota ON da.id = ota.delivery_id WHERE ota.order_no = ot.order_no AND ota.opr_type = '1' GROUP BY
        ot.order_no) startAddress,
        (SELECT GROUP_CONCAT(concat(ifnull(da.city_name,''), da.address )) FROM delivery_address da LEFT JOIN
        order_take_adr ota ON da.id = ota.delivery_id WHERE ota.order_no = ot.order_no AND ota.opr_type = '2' GROUP BY
        ot.order_no) endAddress,
        concat( vi.plate_number,' ',vi.hk_number) licensePlate,
        ( SELECT GROUP_CONCAT( oc.yun_customs_no SEPARATOR ',' ) FROM order_customs oc WHERE oc.main_order_no =
        oi.order_no ) yunCustomsNo,
        cg.`name` costGenreName,
        opc.cost_genre_id costGenreId,
        ct.code_name costTypeName,
        ci.`name` costName,
        (SELECT sum( rmb.amount ) FROM order_payment_cost rmb WHERE rmb.id = opc.id AND rmb.currency_code = 'CNY' GROUP
        BY rmb.cost_code,rmb.cost_genre_id,rmb.cost_type_id) rmb,
        (SELECT sum( rmb.amount ) FROM order_payment_cost rmb WHERE rmb.id = opc.id AND rmb.currency_code = 'USD' GROUP
        BY rmb.cost_code,rmb.cost_genre_id,rmb.cost_type_id) dollar,
        (SELECT sum( rmb.amount ) FROM order_payment_cost rmb WHERE rmb.id = opc.id AND rmb.currency_code = 'EUR' GROUP
        BY rmb.cost_code,rmb.cost_genre_id,rmb.cost_type_id) euro,
        (SELECT sum( rmb.amount ) FROM order_payment_cost rmb WHERE rmb.id = opc.id AND rmb.currency_code = 'HKD' GROUP
        BY rmb.cost_code,rmb.cost_genre_id,rmb.cost_type_id) hKDollar,
        opc.id costId,
        opc.is_bill isBill,
        ifnull(opc.change_amount,0) localAmount,
        opbd1.audit_status auditStatus
        FROM
        order_payment_cost opc
        left join order_payment_bill_detail opbd1 on opbd1.cost_id = opc.id
        left join supplier_info si on si.supplier_code = opc.customer_code
        LEFT JOIN order_info oi ON opc.main_order_no = oi.order_no
        LEFT JOIN product_biz pb ON pb.id_code = oi.biz_code
        LEFT JOIN order_transport ot ON ot.main_order_no = oi.order_no
        LEFT JOIN order_send_cars osc ON ot.order_no = osc.order_no
        left join vehicle_info vi on vi.id = osc.vehicle_id
        LEFT JOIN cost_genre cg ON opc.cost_genre_id = cg.id
        LEFT JOIN cost_type ct ON opc.cost_type_id = ct.id
        LEFT JOIN cost_info ci ON opc.cost_code = ci.id_code
        left join order_customs oc on oc.order_no = opc.order_no
        left join air_order ao on ao.order_no = opc.order_no
        WHERE
        (opbd1.bill_no = #{form.billNo} and opbd1.audit_status !='edit_del' )
        or
        (opc.is_bill = 'save_confirm' and
        <if test="form.cmd == 'main'">
            oi.legal_name
        </if>
        <if test="form.cmd == 'bg'">
            oc.legal_name
        </if>
        <if test="form.cmd == 'zgys'">
            ot.legal_name
        </if>
        <if test="form.cmd == 'ky'">
            ao.legal_name
        </if>
        = (select opb1.legal_name from order_payment_bill opb1 left join order_payment_bill_detail opbd1 on opb1.id =
        opbd1.bill_id where opbd1.bill_no = #{form.billNo} limit 1)
        and si.supplier_ch_name = (select opb1.supplier_ch_name from order_payment_bill opb1 left join
        order_payment_bill_detail opbd1 on opb1.id = opbd1.bill_id where opbd1.bill_no = #{form.billNo} limit 1)
        )
    </select>
    <select id="findSheetHead" parameterType="java.lang.String" resultType="com.jayud.finance.vo.SheetHeadVO">
        SELECT
        CONCAT( opc.cost_code, opc.currency_code ) NAME,
        concat((select ci.name from cost_info ci where ci.id_code = opc.cost_code),'(',(select ci.currency_name from currency_info ci where ci.  currency_code = opc.currency_code),')') viewName,
        sum( opc.amount )
        FROM
        order_payment_cost opc
        WHERE
        opc.id IN
        (select opbd.cost_id from order_payment_bill_detail opbd where opbd.bill_no = #{billNo})
        GROUP BY
        opc.cost_code,
        opc.currency_code

        union

		SELECT
        concat('T',opc.currency_code) NAME,
        concat('合计(',(select ci.currency_name from currency_info ci where ci.  currency_code = opc.currency_code),')') viewName,
        sum( opc.amount )
        FROM
        order_payment_cost opc
        WHERE
        opc.id IN
        (select opbd.cost_id from order_payment_bill_detail opbd where opbd.bill_no = #{billNo})
        GROUP BY
        opc.currency_code
    </select>
    <select id="findCostClass" parameterType="java.lang.String" resultType="com.jayud.finance.vo.ViewBillToCostClassVO">
        SELECT
            CONCAT( opc.cost_code, opc.currency_code ) NAME,
            opc.main_order_no orderNo,
            opc.order_no subOrderNo,
            concat((SELECT ci.NAME FROM cost_info ci WHERE
                    ci.id_code = opc.cost_code ),'(',(SELECT ci.currency_name FROM currency_info ci WHERE
                    ci.currency_code = opc.currency_code ),')' ) viewName,
            sum( opc.amount ) money
        FROM
            order_payment_cost opc
        WHERE
            opc.id IN (select opbd.cost_id from order_payment_bill_detail opbd where opbd.bill_no = #{billNo})
        GROUP BY
            opc.cost_code,
            opc.currency_code,
            opc.main_order_no,
            opc.order_no
        union
         SELECT
            CONCAT( 'T', opc.currency_code ) NAME,
            opc.main_order_no orderNo,
            opc.order_no subOrderNo,
            concat('(',(SELECT ci.currency_name FROM currency_info ci WHERE
                    ci.currency_code = opc.currency_code ),')' ) viewName,
            sum( opc.amount ) money
        FROM
            order_payment_cost opc
        WHERE
            opc.id IN (select opbd.cost_id from order_payment_bill_detail opbd where opbd.bill_no = #{billNo})
        GROUP BY
            opc.currency_code,
            opc.main_order_no,
            opc.order_no
    </select>
    <select id="viewBillDetail" parameterType="java.lang.String" resultType="com.jayud.finance.vo.ViewFBilToOrderVO">
        SELECT distinct
        DATE_FORMAT( oi.create_time, '%Y-%m-%d' ) createdTimeStr,
        oi.order_no orderNo,
        opbd.bill_no billNo,
		(select opc.order_no from order_payment_cost opc where opc.id = opbd.cost_id) subOrderNo,
        opb.supplier_ch_name supplierChName,
        ( SELECT GROUP_CONCAT(ota.goods_desc) FROM order_take_adr ota LEFT JOIN order_transport ot on ota.order_no = ot.order_no where ot.main_order_no = oi.order_no and ota.opr_type = '1' group by ot.order_no) goodsDesc,
        ( SELECT GROUP_CONCAT(concat(ifnull(da.city_name,''), da.address)) FROM delivery_address da LEFT JOIN order_take_adr ota on da.id = ota.delivery_id LEFT JOIN order_transport ot on ota.order_no = ot.order_no where ot.main_order_no = oi.order_no and ota.opr_type = '1' group by ot.order_no) startAddress,
        ( SELECT GROUP_CONCAT(concat(ifnull(da.city_name,''), da.address)) FROM delivery_address da LEFT JOIN order_take_adr ota on da.id = ota.delivery_id LEFT JOIN order_transport ot on ota.order_no = ot.order_no where ot.main_order_no = oi.order_no and ota.opr_type = '2' group by ot.order_no) endAddress,
        (select concat(vi.plate_number,' ',vi.hk_number) from order_send_cars osc left join order_transport ot on osc.order_no = ot.order_no
		left join vehicle_info vi on vi.id = osc.vehicle_id	where ot.main_order_no = oi.order_no) licensePlate,
        (select ot.vehicle_size from order_transport ot where ot.main_order_no = oi.order_no)  vehicleSize,
        (select sum(ota.piece_amount) from order_take_adr ota left join order_transport ot on ota.order_no = ot.order_no where ot.main_order_no = oi.order_no and ota.opr_type = '1') pieceNum,
        (select sum(ota.weight) from order_take_adr ota left join order_transport ot on ota.order_no = ot.order_no where ot.main_order_no = oi.order_no and ota.opr_type = '1') weight,
        (select GROUP_CONCAT(ota.goods_desc) from order_take_adr ota left join order_transport ot on ota.order_no = ot.order_no where ot.main_order_no = oi.order_no and ota.opr_type = '1' group by ota.order_no) goodsDesc,
        (select oc.yun_customs_no from order_customs oc where oc.main_order_no = oi.order_no limit 1) yunCustomsNo,
        opbd.settlement_currency settlementCurrencyCode,
        (select currency_name from currency_info ci where ci.currency_code=opbd.settlement_currency) settlementCurrency
        FROM
        order_info oi
		LEFT JOIN order_payment_bill_detail opbd on opbd.order_no = oi.order_no
		left join order_payment_bill opb on opb.id = opbd.bill_id
        where opbd.bill_no = #{billNo}
    </select>
    <select id="getViewBill" parameterType="java.lang.String" resultType="com.jayud.finance.vo.ViewBillVO">
        SELECT DISTINCT
            opb.legal_name legalName,
            opb.legal_entity_id legalEntityId,
            opbd.account_term accountTermStr,
            opb.supplier_ch_name customerName,
            opbd.bill_no billNo,
            opbd.make_user makeUser,
            opbd.make_time makeTimeStr
        FROM
            order_payment_bill opb
            LEFT JOIN order_payment_bill_detail opbd ON opb.id = opbd.bill_id
        WHERE
            opbd.bill_no = #{billNo} order by opbd.make_time desc limit 1
    </select>

    <!--财务管理模块-->
    <select id="findFinanceAccountByPage" parameterType="com.jayud.finance.bo.QueryFinanceAccountForm"
            resultType="com.jayud.finance.vo.FinanceAccountVO">
        select
        temp.orderNo,temp.createTimeStr,temp.legalName,temp.customerCode,temp.customerName,temp.ywName,temp.recBillNo,temp.recAccountTermStr,temp.recRmb,temp.recDollar,temp.recEuro,temp.recHkDollar,temp.recLocalAmount,temp.recStatus,
        (case (select sum(cav.local_money) from cancel_after_verification cav where cav.bill_no = temp.recBillNo)
        when temp.recLocalAmount
        THEN '已核销'
        else '未核销' END)
        recCostStatus,
        temp.payBillNo,temp.payAccountTermStr,temp.payRmb,temp.payDollar,temp.payEuro,temp.payHkDollar,temp.payLocalAmount,temp.payStatus,
        (case (select sum(cav.local_money) from cancel_after_verification cav where cav.bill_no = temp.payBillNo)
        when temp.recLocalAmount
        THEN '已核销'
        else '未核销' END)
        payCostStatus, (temp.recLocalAmount - temp.payLocalAmount) profit from (
        SELECT
        oi.order_no orderNo,
        DATE_FORMAT( oi.create_time, '%Y-%m-%d' ) createTimeStr,
        oi.legal_name legalName,
        oi.customer_code customerCode,
        oi.customer_name customerName,
        oi.biz_uname ywName,
        (select group_concat(distinct orbd.bill_no) from order_receivable_bill_detail orbd where orbd.order_no =
        oi.order_no group by orbd.order_no) recBillNo,
        (select group_concat(distinct orbd.account_term) from order_receivable_bill_detail orbd where orbd.order_no =
        oi.order_no group by orbd.order_no) recAccountTermStr,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_receivable_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'CNY' and
        obct.money_type='2') recRmb,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_receivable_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'USD' and
        obct.money_type='2') recDollar,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_receivable_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'EUR' and
        obct.money_type='2') recEuro,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_receivable_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'HKD' and
        obct.money_type='2') recHkDollar,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_receivable_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'CNY' and
        obct.money_type='2') recLocalAmount,
        (select group_concat(distinct orbd.audit_status) from order_receivable_bill_detail orbd where orbd.order_no =
        oi.order_no group by orbd.order_no) recStatus,
        (select group_concat(distinct opbd.bill_no) from order_payment_bill_detail opbd where opbd.order_no =
        oi.order_no group by opbd.order_no) payBillNo,
        (select group_concat(distinct opbd.account_term) from order_payment_bill_detail opbd where opbd.order_no =
        oi.order_no group by opbd.order_no) payAccountTermStr,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_payment_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'CNY' and
        obct.money_type='1') payRmb,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_payment_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'USD' and
        obct.money_type='1') payDollar,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_payment_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'EUR' and
        obct.money_type='1') payEuro,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_payment_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'HKD' and
        obct.money_type='1') payHkDollar,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.bill_no in (select t.bill_no from
        order_payment_bill_detail t where t.order_no = oi.order_no) and obct.currency_code = 'CNY' and
        obct.money_type='1') payLocalAmount,
        (select group_concat(distinct opbd.audit_status) from order_payment_bill_detail opbd where opbd.order_no =
        oi.order_no group by opbd.order_no) payStatus
        FROM
        order_info oi
        where EXISTS (select opc.main_order_no from order_payment_cost opc where opc.main_order_no = oi.order_no and
        opc.`status` = '3')
        or EXISTS (select orc.main_order_no from order_receivable_cost orc where orc.main_order_no = oi.order_no and
        orc.`status` = '3')
        ) temp
        where 1 = 1
        <if test="form.orderNo != null and form.orderNo != ''">
            and temp.orderNo = #{form.orderNo}
        </if>
        <if test="form.customerName != null and form.customerName != ''">
            and temp.customerName like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.legalName != null and form.legalName != ''">
            and temp.legalName like concat('%',#{form.legalName},'%')
        </if>
        <if test="form.ywName != null and form.ywName != ''">
            and temp.ywName like concat('%',#{form.ywName},'%')
        </if>
        <if test="form.recStatus != null and form.recStatus !=''">
            and temp.recStatus = #{form.recStatus}
        </if>
        <if test="form.recCostStatus != null and form.recCostStatus !=''">
            and (case (select sum(cav.local_money) from cancel_after_verification cav where cav.bill_no =
            temp.recBillNo)
            when temp.recLocalAmount
            THEN '已核销'
            else '未核销' END) = #{form.recCostStatus}
        </if>
        <if test="form.payCostStatus != null and form.payCostStatus !=''">
            and (case (select sum(cav.local_money) from cancel_after_verification cav where cav.bill_no =
            temp.payBillNo)
            when temp.recLocalAmount
            THEN '已核销'
            else '未核销' END) = #{form.payCostStatus}
        </if>
        <if test="form.payStatus != null and form.payStatus !=''">
            and temp.payStatus = #{form.payStatus}
        </if>
        <if test="form.createTimeStr != null and form.createTimeStr !=''">
            and temp.createTimeStr = #{form.createTimeStr}
        </if>
        <if test="form.recAccountTermStr != null and form.recAccountTermStr !=''">
            and temp.recAccountTermStr = #{form.recAccountTermStr}
        </if>
        <if test="form.payAccountTermStr != null and form.payAccountTermStr !=''">
            and temp.payAccountTermStr = #{form.payAccountTermStr}
        </if>
    </select>
    <select id="findFBillAuditByPage" parameterType="com.jayud.finance.bo.QueryFBillAuditForm"
            resultType="com.jayud.finance.vo.PaymentNotPaidBillVO">
        select * from (
        SELECT
        opbd.id billDetailId,
        oi.order_no orderNo,
        opc.order_no subOrderNo,
        oi.biz_code bizCode,
        (select pb.`name` from product_biz pb where pb.id_code = oi.biz_code) bizCodeDesc,
        oi.create_time createdTimeStr,
        (select si.supplier_ch_name from supplier_info si where si.supplier_code = opc.customer_code) supplierChName,
        (SELECT GROUP_CONCAT(ota.goods_desc) FROM order_take_adr ota left join order_transport ot on ot.order_no =
        ota.order_no WHERE ot.main_order_no = oi.order_no and ota.opr_type = '1' group by ot.order_no) goodsDesc,
        (SELECT GROUP_CONCAT(concat(ifnull(da.city_name,''), da.address )) FROM delivery_address da LEFT JOIN
        order_take_adr ota ON da.id =
        ota.delivery_id
        left join order_transport ot on ot.order_no = ota.order_no WHERE ot.main_order_no = oi.order_no and ota.opr_type
        = '1' group by ot.order_no) startAddress,
        (SELECT GROUP_CONCAT(concat(ifnull(da.city_name,''), da.address )) FROM delivery_address da LEFT JOIN
        order_take_adr ota ON da.id =
        ota.delivery_id
        left join order_transport ot on ot.order_no = ota.order_no where ot.main_order_no = oi.order_no and ota.opr_type
        = '2' group by ot.order_no) endAddress,
        (select concat( vi.plate_number,' ',vi.hk_number) from order_send_cars osc left join
        order_transport ot
        on osc.order_no = ot.order_no left join vehicle_info vi on vi.id = osc.vehicle_id where ot.main_order_no =
        oi.order_no) licensePlate,
        (select GROUP_CONCAT(oc.yun_customs_no) from order_customs oc where oc.main_order_no = oi.order_no GROUP BY
        oc.main_order_no) yunCustomsNo,
        (select cg.`name` from cost_genre cg where cg.id = opc.cost_genre_id) costGenreName,
        opc.cost_genre_id,
        (select pb.cost_genre_ids from product_biz pb where pb.id_code = oi.biz_code) costGenreStr,
        opc.id costId,
        (select ct.code_name from cost_type ct where ct.id = opc.cost_type_id) costTypeName,
        (select ci.`name` from cost_info ci where ci.id_code = opc.cost_code) costName,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.cost_id = opbd.cost_id and
        obct.money_type='1' and obct.currency_code = 'CNY') rmb,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.cost_id = opbd.cost_id and
        obct.money_type='1' and obct.currency_code = 'USD') dollar,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.cost_id = opbd.cost_id and
        obct.money_type='1' and obct.currency_code = 'EUR') euro,
        (select SUM(obct.money) from order_bill_cost_total obct where obct.cost_id = opbd.cost_id and
        obct.money_type='1' and obct.currency_code = 'HKD') hKDollar,
        ifnull(opbd.tax_rate,(select cg.tax_rate from cost_genre cg where cg.id = opc.cost_genre_id)) taxRate,
        opbd.remarks,
        opbd.created_time createTimeStr,
        opbd.bill_no,
        (select ci.currency_name from currency_info ci where ci.currency_code = opbd.settlement_currency) settlementCurrency,
        orbct.money settlementAmount,orbct.exchange_rate exchangeRate
        FROM
        order_payment_bill_detail opbd left join order_payment_bill opb on opbd.bill_id = opb.id
        left join order_info oi on oi.order_no = opbd.order_no
        left join order_payment_cost opc on opc.id = opbd.cost_id
        left join order_bill_cost_total orbct on orbct.bill_no = opbd.bill_no
        and orbct.cost_id = opbd.cost_id and money_type='1'
        where opbd.bill_no = #{form.billNo}
        ) temp
        <if test="form.orderNo != null and form.orderNo != ''">
            and temp.orderNo = #{form.orderNo}
        </if>
        <if test="form.bizCode != null and form.bizCode != ''">
            and temp.bizCode = #{form.bizCode}
        </if>
        <if test="form.startAddress != null and form.startAddress != ''">
            and temp.startAddress like concat('%',#{form.startAddress},'%')
        </if>
        <if test="form.endAddress != null and form.endAddress != ''">
            and temp.endAddress like concat('%',#{form.endAddress},'%')
        </if>
        <if test="form.costTypeName != null and form.costTypeName != ''">
            and temp.costTypeName like concat('%',#{form.costTypeName},'%')
        </if>
        <if test="form.costName != null and form.costName != ''">
            and temp.costName like concat('%',#{form.costName},'%')
        </if>
        <if test="form.costGenreId != null">
            and temp.costGenreId = #{form.costGenreId}
        </if>
        <if test="form.endCreateTimeStr != null and form.endCreateTimeStr !=''">
            and temp.createdTimeStr <![CDATA[<=]]> #{form.endCreateTimeStr}
        </if>
        <if test="form.beginCreateTimeStr != null and form.beginCreateTimeStr !=''">
            and temp.createdTimeStr <![CDATA[<=]]> #{form.beginCreateTimeStr}
        </if>
    </select>
    <select id="findFCostList" parameterType="java.lang.String" resultType="com.jayud.finance.vo.FCostVO">
        select temp.customerName,temp.costGenreName,temp.costName,temp.unitPrice,temp.number,temp.currencyName,temp.amount,temp.exchangeRate,ifnull(temp.exchangeRate,0)*temp.amount changeAmount,temp.remarks from (
        SELECT
            opc.customer_name customerName,
            (select cg.`name` from cost_genre cg where cg.id = opc.cost_genre_id) costGenreName,
            (select ci.`name` from cost_info ci where ci.id_code = opc.cost_code) costName,
            opc.unit_price unitPrice,
            opc.number,
            (select ci.currency_name from currency_info ci where ci.currency_code = opc.currency_code) currencyName,
            opc.amount,
            (select cr.exchange_rate from currency_rate cr where cr.dcid = (select ci.id from currency_info ci where ci.currency_code = 'CNY') and cr.ocid = (select ci.id from currency_info ci where ci.currency_code = opc.currency_code)  and cr.`month` = opbd.account_term) exchangeRate,
            opc.remarks
        FROM
            order_payment_cost opc
            LEFT JOIN order_payment_bill_detail opbd ON opc.id = opbd.cost_id
        WHERE
            opbd.bill_no = #{billNo}
		) temp
    </select>
    <select id="getPayableHeaderForm" parameterType="java.lang.String"
            resultType="com.jayud.finance.bo.PayableHeaderForm">
        SELECT distinct
            opb.supplier_ch_name supplierName,
            opb.legal_name settleOrgName,
            opbd.settlement_currency currency,
            d.`name` saleDeptName,
            opbd.order_no businessNo,
            opbd.bill_no billNo,
            opbd.account_term businessDate,
            (select d.`name` from department d where d.id = oi.biz_belong_depart) purchaseDeptName,
            orbct.exchange_rate
        FROM
            order_payment_cost opc
            left join order_info oi on oi.order_no = opc.main_order_no
            left join order_payment_bill_detail opbd on opbd.cost_id = opc.id
			left join order_payment_bill opb on opb.id = opbd.bill_id
			left join order_bill_cost_total orbct on orbct.bill_no = opbd.bill_no
			and orbct.cost_id = opbd.cost_id and money_type='1'
            left join department d on d.id = oi.biz_belong_depart
            left join supplier_info si on si.supplier_code = opc.customer_code
        where opbd.bill_no = #{billNo}
    </select>
    <select id="findPayableHeaderDetail" parameterType="java.lang.String"
            resultType="com.jayud.finance.bo.APARDetailForm">
        SELECT
            ( SELECT ci.NAME FROM cost_info ci WHERE ci.id_code = opc.cost_code ) expenseName,
            ( SELECT code_name FROM cost_type ct WHERE ct.id = opc.cost_type_id ) expenseCategoryName,
            ( SELECT cg.NAME FROM cost_genre cg WHERE cg.id = opc.cost_genre_id ) expenseTypeName,
            opc.number,
            ifnull(obct.money,0)/opc.number taxPrice,
            ifnull(opbd.tax_rate,0) taxRate,
            ifnull(opc.number,0) priceQty
        FROM
            order_payment_bill_detail opbd
			left join order_bill_cost_total obct on obct.cost_id = opbd.cost_id
			and obct.bill_no=opbd.bill_no
            LEFT JOIN order_payment_cost opc ON opbd.cost_id = opc.id
        WHERE
            opbd.bill_no = #{billNo} and opbd.order_no = #{orderNo}
    </select>
    <select id="getFCostAmountView" parameterType="java.lang.String" resultType="com.jayud.finance.vo.CostAmountVO">
        SELECT DISTINCT
            (select ifnull(sum(obct.money),0) from order_bill_cost_total obct where obct.bill_no = opbd.bill_no ) yfAmount,
            (select ci.currency_name from currency_info ci where ci.currency_code = opbd.settlement_currency limit 1) yfCurrency,
            ifnull((select sum(obct.money) from order_bill_cost_total obct where obct.bill_no = opbd.bill_no),0)-ifnull((select sum(cav.discount_money) from cancel_after_verification cav where cav.bill_no = opbd.bill_no),0) dfAmount,
            (select ci.currency_name from currency_info ci where ci.currency_code = opbd.settlement_currency limit 1) dfCurrency
        FROM
            order_payment_bill_detail opbd
            LEFT JOIN order_payment_cost opc ON opbd.cost_id = opc.id
			left join cost_type ct on ct.id = opc.cost_type_id
        WHERE opbd.bill_no = #{billNo}
    </select>
    <select id="getNowFOrderExist" parameterType="java.util.Map"
            resultType="com.jayud.finance.po.OrderPaymentBillDetail">
         SELECT opbd.*
        FROM
            order_payment_bill_detail opbd
            LEFT JOIN order_payment_bill opb ON opbd.bill_id = opb.id
        WHERE
            opbd.order_no = #{orderNo} and opb.sub_type = #{subType} and opb.legal_name = #{legalName} and opb.supplier_ch_name = #{supplierChName}
    </select>


    <select id="findPaymentBillDetailByPage" resultType="com.jayud.finance.vo.OrderPaymentBillDetailVO">
        SELECT distinct
        opbd.bill_no billNo,
        opb.legal_name legalName,
        opb.supplier_ch_name supplierChName,
        opbd.account_term accountTermStr,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='CNY') rmb,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='USD')
        dollar,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='EUR')
        euro,
        (select SUM(o.money) from order_bill_cost_total o where o.bill_no = opbd.bill_no and o.currency_code='HKD')
        hKDollar,
        (select sum(m.money) from make_invoice m where m.opr_type = '2' and m.bill_no = opbd.bill_no and m.`status` =
        '1') heXiaoAmount,
        (opbd.payment_amount - (select sum(m.money) from make_invoice m where m.opr_type = '2' and m.bill_no =
        opbd.bill_no and m.`status` = '1')) notHeXiaoAmount,
        (select cur.currency_name from currency_info cur where cur.currency_code = opbd.settlement_currency)
        settlementCurrency,opbd.audit_status auditStatus,opbd.apply_status applyStatus,
        opbd.make_user makeUser,
        opbd.make_time makeTimeStr,
        opbd.audit_user auditUser,
        opbd.audit_time auditTimeStr,
        (select ai.audit_comment from audit_info ai where ai.ext_unique_flag = opbd.bill_no and ai.audit_status in
        ('B_2_1','B_4_1','B_6_1','B_7','B_8') order by ai.created_time desc limit 1) auditComment,
        (select c.created_user from cancel_after_verification c where c.bill_no = opbd.bill_no order by c.created_time
        desc limit 1) heXiaoUser,
        (select c.real_receive_time from cancel_after_verification c where c.bill_no = opbd.bill_no order by
        c.created_time desc limit 1) heXiaoTimeStr,
        opbd.push_kingdee_count,
        opbd.push_kingdee_count pushKingdeeCount
        FROM
        order_payment_bill_detail opbd
        left join
        (select t.bill_no,max(t.make_time) make_time from order_payment_bill_detail t group by t.bill_no) tt on
        opbd.bill_no = tt.bill_no
        LEFT JOIN order_payment_bill opb ON opbd.bill_id = opb.id
        where opbd.make_time = tt.make_time and opbd.audit_status != 'edit_del'
        <if test="form.cmd == 'main_statement'">
            and opb.is_main = 1
        </if>
        <if test="form.cmd == 'statement_audit'">
            and opb.is_main = 1 and opbd.audit_status in ('B_1','B_2')
        </if>
        <if test="form.cmd == 'cw_statement'">
            and (opbd.audit_status in ('B_3','B_4','B_5','B_5_1','B_6') or opbd.apply_status='4')
        </if>
        <if test="form.cmd == 'zgys_statement'">
            and opb.is_main = 0 and opb.sub_type = 'zgys'
        </if>
        <if test="form.cmd == 'zgys_statement_audit'">
            and opb.is_main = 0 and opb.sub_type = 'zgys' and opbd.audit_status IN ('B_1','B_2')
        </if>
        <if test="form.cmd == 'bg_statement'">
            and opb.is_main = 0 and opb.sub_type = 'bg'
        </if>
        <if test="form.cmd == 'bg_statement_audit'">
            and opb.is_main = 0 and opb.sub_type = 'bg' and opbd.audit_status IN ('B_1','B_2')
        </if>
        <if test="form.cmd == 'ky_statement'">
            and opb.is_main = 0 and opb.sub_type = 'ky'
        </if>
        <if test="form.cmd == 'ky_statement_audit'">
            and opb.is_main = 0 and opb.sub_type = 'ky' and opbd.audit_status IN ('B_1','B_2')
        </if>
        <if test="form.supplierChName != null and form.supplierChName != ''">
            and opb.supplier_ch_name like concat('%',#{form.supplierChName},'%')
        </if>
        <if test="form.legalName != null and form.legalName != ''">
            and opb.legal_name like concat('%',#{form.legalName},'%')
        </if>
        <if test="form.billNo != null and form.billNo != ''">
            and opbd.bill_no like concat('%',#{form.billNo},'%')
        </if>
        <if test="form.accountTermStr != null and form.accountTermStr !=''">
            and opbd.account_term <![CDATA[<=]]> #{form.accountTermStr}
        </if>
        <if test="form.currencyCode != null and form.currencyCode !=''">
            and opbd.settlement_currency = #{form.currencyCode}
        </if>
        <if test="form.auditStatus != null and form.auditStatus !=''">
            and opbd.audit_status = #{form.auditStatus}
        </if>
        <if test="form.applyStatus != null and form.applyStatus !=''">
            and opbd.apply_status = #{form.applyStatus}
        </if>

        <if test="data != null and data.size>0">
            and opb.legal_name in
            <foreach collection="data" item="legalName" open="(" separator="," close=")">
                #{legalName}
            </foreach>
        </if>
        group by opbd.bill_no
    </select>
</mapper>
