<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderReceivableBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderReceivableBill">
        <id column="id" property="id" />
        <result column="legal_name" property="legalName" />
        <result column="customer_name" property="customerName" />
        <result column="already_paid_amount" property="alreadyPaidAmount" />
        <result column="bill_order_num" property="billOrderNum" />
        <result column="bill_num" property="billNum" />
        <result column="sub_type" property="subType" />
        <result column="is_main" property="isMain" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_no, begin_account_term, end_account_term, settlement_currency, legal_name, customer_name, audit_status, make_user, make_time, audit_user, audit_time, apply_status, invoice_amount,
        already_paid_amount,bill_order_num,bill_num,sub_type,is_main,created_user, created_time, updated_user, updated_time
    </sql>

</mapper>
