<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderBillCostTotalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderBillCostTotal">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="bill_no" property="billNo"/>
        <result column="currency_code" property="currencyCode"/>
        <result column="cost_info_name" property="costInfoName"/>
        <result column="money" property="money"/>
        <result column="status" property="status"/>
        <result column="money_type" property="moneyType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, bill_no, currency_code, cost_info_name, money, status,money_type
    </sql>

    <select id="findOrderFBillCostTotal" parameterType="java.util.HashMap"
            resultType="com.jayud.finance.vo.OrderBillCostTotalVO">
        SELECT
        opc.order_no orderNo,
        opc.main_order_no mainOrderNo,
        opc.currency_code currencyCode,
        opc.id costId,
        ci.`name` costInfoName,
        opc.change_amount oldLocalMoney,
        opc.amount money,
        ifnull((
        SELECT cr.exchange_rate FROM currency_rate cr
        WHERE cr.dcid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = 'CNY' )
        AND cr.ocid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = opc.currency_code ) and cr.month =
        #{accountTermStr}),0) localMoneyRate,
        ifnull((SELECT cr.exchange_rate FROM currency_rate cr
        WHERE cr.dcid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = #{settlementCurrency} )
        AND cr.ocid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = opc.currency_code ) and cr.month =
        #{accountTermStr}),0) exchangeRate
        FROM
        order_payment_cost opc
        LEFT JOIN cost_info ci ON ci.id_code = opc.cost_code
        WHERE
        opc.id IN
        <foreach collection="costIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findOrderSBillCostTotal" parameterType="java.util.HashMap"
            resultType="com.jayud.finance.vo.OrderBillCostTotalVO">
        SELECT
        orc.order_no orderNo,
        orc.main_order_no mainOrderNo,
        orc.currency_code currencyCode,
        orc.id costId,
        ci.`name` costInfoName,
        orc.change_amount oldLocalMoney,
        orc.amount money,
        ifnull((SELECT cr.exchange_rate FROM currency_rate cr WHERE
        cr.dcid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = 'CNY' )
        AND cr.ocid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = orc.currency_code ) and
        cr.`month`=#{accountTermStr} ORDER BY cr.created_time desc limit 1),0) localMoneyRate,
        ifnull((SELECT cr.exchange_rate FROM currency_rate cr WHERE
        cr.dcid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = #{settlementCurrency} )
        AND cr.ocid = ( SELECT ci.id FROM currency_info ci WHERE ci.currency_code = orc.currency_code ) and
        cr.`month`=#{accountTermStr} ORDER BY cr.created_time desc limit 1),0) exchangeRate
        FROM
        order_receivable_cost orc
        LEFT JOIN cost_info ci ON orc.cost_code = ci.id_code
        WHERE
        orc.id IN
        <foreach collection="costIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="totalCurrencyAmount" resultType="java.util.Map">
        select bill_no billNo, currency_code currencyCode,money_type moneyType,sum(money) amount
        from order_bill_cost_total
        where
        bill_no in
        <foreach collection="billNos" item="billNo" open="(" separator="," close=")">
            #{billNo}
        </foreach>
        and currency_code is not null
        group by bill_no,currency_code
        -- (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='CNY')
        -- rmb,
        -- (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='USD')
        -- dollar,
        -- (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='EUR')
        -- euro,
        -- (select SUM(o.money) from order_bill_cost_total o where o.bill_no = orbd.bill_no and o.currency_code='HKD')
        -- hKDollar,

    </select>

    <select id="calculateSettlementCurrency" resultType="java.math.BigDecimal">
        select sum(money)
        from order_bill_cost_total obct
        <choose>
            <when test="moneyType==1">
                left join order_payment_cost oc on obct.cost_id=oc.id
            </when>
            <otherwise>
                left join order_receivable_cost oc on obct.cost_id=oc.id
            </otherwise>
        </choose>
        <where>
            <!--            <choose>-->
            <!--                <when test="cmd == 'main'">-->
            <!--                    and oc.main_order_no=#{orderNo}-->
            <!--                </when>-->
            <!--                <otherwise>-->
            <!--                    and oc.order_no=#{orderNo}-->
            <!--                </otherwise>-->
            <!--            </choose>-->
            and oc.main_order_no=#{mainOrderNo}

            <choose>
                <when test="subOrderNo!=null and subOrderNo!=''">
                    and oc.order_no=#{subOrderNo}
                </when>
                <otherwise>
                    and oc.order_no is null
                </otherwise>
            </choose>
            and obct.money_type=#{moneyType}
            and obct.bill_no=#{billNo}
        </where>


    </select>

</mapper>
