<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.finance.mapper.OrderPaymentBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.finance.po.OrderPaymentBill">
        <id column="id" property="id" />
        <result column="legal_name" property="legalName" />
        <result column="customer_name" property="customerName" />
        <result column="already_paid_amount" property="alreadyPaidAmount" />
        <result column="bill_order_num" property="billOrderNum" />
        <result column="bill_num" property="billNum" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_no, begin_account_term, end_account_term, settlement_currency, legal_name, customer_name, audit_status, make_user, make_time, audit_user, audit_time, apply_status, payment_amount,
        already_paid_amount,bill_order_num, bill_num, created_user, created_time, updated_user, updated_time
    </sql>

    <select id="findPaymentBillByPage" parameterType="com.jayud.finance.bo.QueryPaymentBillForm" resultType="com.jayud.finance.vo.OrderPaymentBillVO" >
        SELECT DISTINCT
            oi.legal_name legalName,
            oi.customer_name customerName,
            opb.already_paid_amount alreadyPaidAmount,
            ifnull( opb.bill_order_num, 0 ) billOrderNum,
            ifnull( opb.bill_num, 0 ) billNum,
            (
            SELECT
                SUM( opc.change_amount )
            FROM
                order_payment_cost opc
            WHERE
                opc.order_no IN ( SELECT a.order_no FROM order_info a WHERE a.legal_name = oi.legal_name AND a.customer_name = oi.customer_name )
                AND opc.is_bill = '0'
            ) notPaidAmount,
            (
            SELECT
                count( DISTINCT opc.order_no )
            FROM
                order_payment_cost opc
            WHERE
                opc.order_no IN ( SELECT a.order_no FROM order_info a WHERE a.legal_name = oi.legal_name AND a.customer_name = oi.customer_name )
                AND opc.is_bill = '0'
            ) notPaidOrderNum
        FROM
            order_info oi
            LEFT JOIN order_payment_bill opb ON opb.legal_name = oi.legal_name
            AND opb.customer_name = oi.customer_name
        <if test="form.customerName != null and form.customerName != ''">
            and oi.customer_name like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.legalName != null and form.legalName != ''">
            and oi.legal_name like concat('%',#{form.legalName},'%')
        </if>
    </select>
    <select id="findPaymentBillNum" parameterType="com.jayud.finance.bo.QueryPaymentBillNumForm" resultType="com.jayud.finance.vo.OrderPaymentBillNumVO" >
        SELECT
          DISTINCT
            op.bill_no billNo,
            DATE_FORMAT( op.begin_account_term, '%Y-%m-%d' ) beginAccountTermStr,
            DATE_FORMAT( op.end_account_term, '%Y-%m-%d' ) endAccountTermStr,
            ( SELECT count( DISTINCT opbd.order_no ) FROM order_payment_bill_detail opbd WHERE opbd.bill_no = op.bill_no ) billNum,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'RMB' ) rmb,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'MY' ) dollar,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'OY' ) euro,
            ( SELECT sum( obct.money ) FROM order_bill_cost_total obct WHERE op.id = obct.bill_detail_id AND obct.currency_code = 'GB' ) hKDollar,
            op.local_amount localAmount,
            (select sum(cav.real_receive_money) from cancel_after_verification cav where cav.bill_no = op.bill_no) heXiaoAmount,
            op.audit_status billStatus,
            op.make_user makeUser,
            DATE_FORMAT(op.make_time,'%Y-%m-%d %H:%i:%S') makeTimeStr
        FROM
             order_payment_bill_detail op left join order_payment_bill opb on op.bill_id = opb.id
             where opb.legal_name = #{legalName} and opb.customer_name = #{customerName}
    </select>

    <select id="findNotPaidBillByPage" parameterType="com.jayud.finance.bo.QueryNotPaidBillForm" resultType="com.jayud.finance.vo.PaymentNotPaidBillVO" >
        select * from (
        SELECT
            opc.main_order_no orderNo,
            pc.`name` classCodeDesc,
            DATE_FORMAT( oi.create_time, '%Y-%m-%d' ) createdTimeStr,
            oi.customer_name customerName,
            (
            SELECT
                concat( da.city_name, da.address )
            FROM
                delivery_address da
                LEFT JOIN order_take_adr ota ON da.id = ota.delivery_id
            WHERE
                ota.order_no = ot.order_no
                AND ota.opr_type = '1'
                LIMIT 1
            ) startAddress,
            (
            SELECT
                concat( da.city_name, da.address )
            FROM
                delivery_address da
                LEFT JOIN order_take_adr ota ON da.id = ota.delivery_id
            WHERE
                ota.order_no = ot.order_no
                AND ota.opr_type = '2'
                LIMIT 1
            ) endAddress,
            concat( osc.license_plate, osc.hk_license_plate ) licensePlate,
            ( SELECT GROUP_CONCAT( oc.yun_customs_no SEPARATOR ',' ) FROM order_customs oc WHERE oc.main_order_no = oi.order_no ) yunCustomsNo,
            cg.`name` costGenreName,
            ct.code_name costTypeName,
            ci.`name` costName,
            (
            SELECT
                sum(rmb.amount)
            FROM
                order_payment_cost rmb
            WHERE
                rmb.id = opc.id
                AND rmb.currency_code = 'RMB'
            GROUP BY
                rmb.cost_code,
                rmb.cost_genre_id,
                rmb.cost_type_id
            ) rmb,
            (
            SELECT
                sum(rmb.amount)
            FROM
                order_payment_cost rmb
            WHERE
                rmb.id = opc.id
                AND rmb.currency_code = 'MY'
            GROUP BY
                rmb.cost_code,
                rmb.cost_genre_id,
                rmb.cost_type_id
            ) dollar,
            (
            SELECT
                sum(rmb.amount)
            FROM
                order_payment_cost rmb
            WHERE
                rmb.id = opc.id
                AND rmb.currency_code = 'OY'
            GROUP BY
                rmb.cost_code,
                rmb.cost_genre_id,
                rmb.cost_type_id
            ) euro,
            (
            SELECT
                sum(rmb.amount)
            FROM
                order_payment_cost rmb
            WHERE
                rmb.id = opc.id
                AND rmb.currency_code = 'GB'
            GROUP BY
                rmb.cost_code,
                rmb.cost_genre_id,
                rmb.cost_type_id
            ) hKDollar,
             (
            SELECT
                sum(rmb.change_amount)
            FROM
                order_payment_cost rmb
            WHERE
                rmb.id = opc.id
            GROUP BY
                rmb.cost_code,
                rmb.cost_genre_id,
                rmb.cost_type_id
            ) localAmount,
            opc.id costId,
            ot.vehicle_size vehicleSize,
            (select sum(ota.plate_amount) from order_take_adr ota where ota.order_no = ot.order_no) pieceNum,
            (select sum(ota.weight) from order_take_adr ota where ota.order_no = ot.order_no)	weight,
            opc.is_bill isBill
        FROM
            order_payment_cost opc
            LEFT JOIN order_info oi ON opc.main_order_no = oi.order_no
            LEFT JOIN product_classify pc ON oi.class_code = pc.id_code
            AND pc.f_id = '0'
            LEFT JOIN order_transport ot ON ot.main_order_no = oi.order_no
            LEFT JOIN order_send_cars osc ON ot.order_no = osc.transport_no
            LEFT JOIN cost_genre cg ON opc.cost_genre_id = cg.id
            LEFT JOIN cost_type ct ON opc.cost_type_id = ct.id
            LEFT JOIN cost_info ci ON opc.cost_code = ci.id_code
        WHERE
            opc.id NOT IN ( SELECT opbd.cost_id FROM order_payment_bill_detail opbd )
            and opc.is_bill != '2') temp where 1 = 1
        <if test="form.customerName != null and form.customerName != ''">
            and temp.customerName like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.startAddress != null and form.startAddress != ''">
            and temp.startAddress like concat('%',#{form.startAddress},'%')
        </if>
        <if test="form.endAddress != null and form.endAddress != ''">
            and temp.endAddress like concat('%',#{form.endAddress},'%')
        </if>
        <if test="form.costName != null and form.costName != ''">
            and temp.costName like concat('%',#{form.costName},'%')
        </if>
        <if test="form.currencyCode == 'RMB'">
            and temp.rmb is not null
        </if>
        <if test="form.currencyCode == 'MY'">
            and temp.dollar is not null
        </if>
        <if test="form.currencyCode == 'GB'">
            and temp.hKDollar is not null
        </if>
        <if test="form.currencyCode == 'OY'">
            and temp.euro is not null
        </if>
        <if test="form.endCreatedTimeStr != null and form.endCreatedTimeStr !=''">
            and temp.createdTimeStr <![CDATA[<=]]> #{form.endCreatedTimeStr}
        </if>
        <if test="form.beginCreatedTimeStr != null and form.beginCreatedTimeStr !=''">
            and temp.createdTimeStr <![CDATA[>=]]> #{form.beginCreatedTimeStr}
        </if>
    </select>
    <select id="getBillOrderNum"  resultType="java.lang.Integer" >
       SELECT
	        count(DISTINCT oi.order_no) billOrderNum
       FROM
	        order_payment_cost opc left join order_info oi on opc.main_order_no = oi.order_no
       WHERE
	     NOT EXISTS (SELECT 1 FROM order_payment_cost a WHERE
	     a.is_bill != '2' and a.main_order_no = oi.order_no)
	     and oi.legal_name = #{legalName} and oi.customer_name = #{customerName}
    </select>
</mapper>
