<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.mapper.CityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lenovo.model.po.City">
        <id column="id" property="id" />
        <result column="country" property="country" />
        <result column="state" property="state" />
        <result column="city" property="city" />
        <result column="state_code" property="stateCode" />
        <result column="city_code" property="cityCode" />
        <result column="cn_city" property="cnCity" />
        <result column="cn_state" property="cnState" />
        <result column="cn_country" property="cnCountry" />
        <result column="country_code" property="countryCode" />
        <result column="country_id" property="countryId"/>
        <result column="state_id" property="stateId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, country, state, city, state_code, city_code, cn_city, cn_state, cn_country, country_code, country_id, state_id
    </sql>
    
    <select id="getCityByCountryId" resultMap="BaseResultMap">
        SELECT
            ci.country,
            ci.state,
            ci.city
        FROM
            country c
            LEFT JOIN state_province p ON c.id = p.country_id
            LEFT JOIN city ci ON ci.state_id = p.id
        WHERE
            c.id = #{countryId}
            AND p.id = #{stateId}
            AND ci.id = #{cityId}
    </select>
    
    

</mapper>
