<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.wms.mapper.InventoryMovementTaskMapper">

    <!-- 通用查询映射结果ss -->
    <resultMap id="BaseResultMap" type="com.jayud.wms.model.po.InventoryMovementTask">
        <id column="id" property="id" />
        <result column="movement_type_code" property="movementTypeCode" />
        <result column="movement_type_name" property="movementTypeName" />
        <result column="main_code" property="mainCode" />
        <result column="detail_code" property="detailCode" />
        <result column="task_status_code" property="taskStatusCode" />
        <result column="task_status_name" property="taskStatusName" />
        <result column="inventory_detail_id" property="inventoryDetailId" />
        <result column="ower_id" property="owerId" />
        <result column="ower_code" property="owerCode" />
        <result column="ower_name" property="owerName" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="warehouse_area_id" property="warehouseAreaId" />
        <result column="warehouse_area_code" property="warehouseAreaCode" />
        <result column="warehouse_area_name" property="warehouseAreaName" />
        <result column="warehouse_location_id" property="warehouseLocationId" />
        <result column="warehouse_location_code" property="warehouseLocationCode" />
        <result column="container_id" property="containerId" />
        <result column="container_code" property="containerCode" />
        <result column="material_id" property="materialId" />
        <result column="material_code" property="materialCode" />
        <result column="material_name" property="materialName" />
        <result column="material_type_id" property="materialTypeId" />
        <result column="material_type" property="materialType" />
        <result column="material_specification" property="materialSpecification" />
        <result column="batch_code" property="batchCode" />
        <result column="material_production_date" property="materialProductionDate" />
        <result column="custom_field1" property="customField1" />
        <result column="custom_field2" property="customField2" />
        <result column="custom_field3" property="customField3" />
        <result column="existing_count" property="existingCount" />
        <result column="usable_count" property="usableCount" />
        <result column="allocation_count" property="allocationCount" />
        <result column="picking_count" property="pickingCount" />
        <result column="to_warehouse_location_id" property="toWarehouseLocationId" />
        <result column="to_warehouse_location_code" property="toWarehouseLocationCode" />
        <result column="to_container_id" property="toContainerId" />
        <result column="to_container_code" property="toContainerCode" />
        <result column="to_operation_count" property="toOperationCount" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, movement_type_code, movement_type_name, main_code, detail_code, task_status_code, task_status_name, inventory_detail_id, ower_id, ower_code, ower_name, warehouse_id, warehouse_code, warehouse_name, warehouse_area_id, warehouse_area_code, warehouse_area_name, warehouse_location_id, warehouse_location_code, container_id, container_code, material_id, material_code, material_name, material_type_id, material_type, material_specification, batch_code, material_production_date, custom_field1, custom_field2, custom_field3, existing_count, usable_count, allocation_count, picking_count, to_warehouse_location_id, to_warehouse_location_code, to_container_id, to_container_code, to_operation_count, remark, is_deleted, create_by, create_time, update_by, update_time
    </sql>

    <!-- 表名 -->
    <sql id="tname">wms_inventory_movement_task </sql>

    <sql id="selects">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tname"/>
        <where>
            is_deleted = 0
            <if test="inventoryMovementTask.movementTypeCode != null ">
                AND movement_type_code = ${inventoryMovementTask.movementTypeCode}
            </if>

            <if test="inventoryMovementTask.movementTypeName != null and inventoryMovementTask.movementTypeName != ''">
                AND movement_type_name LIKE CONCAT('%',#{inventoryMovementTask.movementTypeName}, '%')
            </if>

            <if test="inventoryMovementTask.mainCode != null and inventoryMovementTask.mainCode != ''">
                AND main_code LIKE CONCAT('%',#{inventoryMovementTask.mainCode}, '%')
            </if>

            <if test="inventoryMovementTask.detailCode != null and inventoryMovementTask.detailCode != ''">
                AND detail_code LIKE CONCAT('%',#{inventoryMovementTask.detailCode}, '%')
            </if>

            <if test="inventoryMovementTask.taskStatusCode != null ">
                AND task_status_code = ${inventoryMovementTask.taskStatusCode}
            </if>

            <if test="inventoryMovementTask.taskStatusName != null and inventoryMovementTask.taskStatusName != ''">
                AND task_status_name LIKE CONCAT('%',#{inventoryMovementTask.taskStatusName}, '%')
            </if>

            <if test="inventoryMovementTask.inventoryDetailId != null ">
                AND inventory_detail_id = ${inventoryMovementTask.inventoryDetailId}
            </if>

            <if test="inventoryMovementTask.owerId != null ">
                AND ower_id = ${inventoryMovementTask.owerId}
            </if>

            <if test="inventoryMovementTask.owerCode != null and inventoryMovementTask.owerCode != ''">
                AND ower_code LIKE CONCAT('%',#{inventoryMovementTask.owerCode}, '%')
            </if>

            <if test="inventoryMovementTask.owerName != null and inventoryMovementTask.owerName != ''">
                AND ower_name LIKE CONCAT('%',#{inventoryMovementTask.owerName}, '%')
            </if>

            <if test="inventoryMovementTask.warehouseId != null ">
                AND warehouse_id = ${inventoryMovementTask.warehouseId}
            </if>

            <if test="inventoryMovementTask.warehouseCode != null and inventoryMovementTask.warehouseCode != ''">
                AND warehouse_code LIKE CONCAT('%',#{inventoryMovementTask.warehouseCode}, '%')
            </if>

            <if test="inventoryMovementTask.warehouseName != null and inventoryMovementTask.warehouseName != ''">
                AND warehouse_name LIKE CONCAT('%',#{inventoryMovementTask.warehouseName}, '%')
            </if>

            <if test="inventoryMovementTask.warehouseAreaId != null ">
                AND warehouse_area_id = ${inventoryMovementTask.warehouseAreaId}
            </if>

            <if test="inventoryMovementTask.warehouseAreaCode != null and inventoryMovementTask.warehouseAreaCode != ''">
                AND warehouse_area_code LIKE CONCAT('%',#{inventoryMovementTask.warehouseAreaCode}, '%')
            </if>

            <if test="inventoryMovementTask.warehouseAreaName != null and inventoryMovementTask.warehouseAreaName != ''">
                AND warehouse_area_name LIKE CONCAT('%',#{inventoryMovementTask.warehouseAreaName}, '%')
            </if>

            <if test="inventoryMovementTask.warehouseLocationId != null ">
                AND warehouse_location_id = ${inventoryMovementTask.warehouseLocationId}
            </if>

            <if test="inventoryMovementTask.warehouseLocationCode != null and inventoryMovementTask.warehouseLocationCode != ''">
                AND warehouse_location_code LIKE CONCAT('%',#{inventoryMovementTask.warehouseLocationCode}, '%')
            </if>

            <if test="inventoryMovementTask.containerId != null ">
                AND container_id = ${inventoryMovementTask.containerId}
            </if>

            <if test="inventoryMovementTask.containerCode != null and inventoryMovementTask.containerCode != ''">
                AND container_code LIKE CONCAT('%',#{inventoryMovementTask.containerCode}, '%')
            </if>

            <if test="inventoryMovementTask.materialId != null ">
                AND material_id = ${inventoryMovementTask.materialId}
            </if>

            <if test="inventoryMovementTask.materialCode != null and inventoryMovementTask.materialCode != ''">
                AND material_code LIKE CONCAT('%',#{inventoryMovementTask.materialCode}, '%')
            </if>

            <if test="inventoryMovementTask.materialName != null and inventoryMovementTask.materialName != ''">
                AND material_name LIKE CONCAT('%',#{inventoryMovementTask.materialName}, '%')
            </if>

            <if test="inventoryMovementTask.materialTypeId != null ">
                AND material_type_id = ${inventoryMovementTask.materialTypeId}
            </if>

            <if test="inventoryMovementTask.materialType != null and inventoryMovementTask.materialType != ''">
                AND material_type LIKE CONCAT('%',#{inventoryMovementTask.materialType}, '%')
            </if>

            <if test="inventoryMovementTask.materialSpecification != null and inventoryMovementTask.materialSpecification != ''">
                AND material_specification LIKE CONCAT('%',#{inventoryMovementTask.materialSpecification}, '%')
            </if>

            <if test="inventoryMovementTask.batchCode != null and inventoryMovementTask.batchCode != ''">
                AND batch_code LIKE CONCAT('%',#{inventoryMovementTask.batchCode}, '%')
            </if>

            <if test="inventoryMovementTask.materialProductionDate != null ">
                AND material_production_date = ${inventoryMovementTask.materialProductionDate}
            </if>

            <if test="inventoryMovementTask.customField1 != null and inventoryMovementTask.customField1 != ''">
                AND custom_field1 LIKE CONCAT('%',#{inventoryMovementTask.customField1}, '%')
            </if>

            <if test="inventoryMovementTask.customField2 != null and inventoryMovementTask.customField2 != ''">
                AND custom_field2 LIKE CONCAT('%',#{inventoryMovementTask.customField2}, '%')
            </if>

            <if test="inventoryMovementTask.customField3 != null and inventoryMovementTask.customField3 != ''">
                AND custom_field3 LIKE CONCAT('%',#{inventoryMovementTask.customField3}, '%')
            </if>

            <if test="inventoryMovementTask.existingCount != null ">
                AND existing_count = ${inventoryMovementTask.existingCount}
            </if>

            <if test="inventoryMovementTask.usableCount != null ">
                AND usable_count = ${inventoryMovementTask.usableCount}
            </if>

            <if test="inventoryMovementTask.allocationCount != null ">
                AND allocation_count = ${inventoryMovementTask.allocationCount}
            </if>

            <if test="inventoryMovementTask.pickingCount != null ">
                AND picking_count = ${inventoryMovementTask.pickingCount}
            </if>

            <if test="inventoryMovementTask.toWarehouseLocationId != null ">
                AND to_warehouse_location_id = ${inventoryMovementTask.toWarehouseLocationId}
            </if>

            <if test="inventoryMovementTask.toWarehouseLocationCode != null and inventoryMovementTask.toWarehouseLocationCode != ''">
                AND to_warehouse_location_code LIKE CONCAT('%',#{inventoryMovementTask.toWarehouseLocationCode}, '%')
            </if>

            <if test="inventoryMovementTask.toContainerId != null ">
                AND to_container_id = ${inventoryMovementTask.toContainerId}
            </if>

            <if test="inventoryMovementTask.toContainerCode != null and inventoryMovementTask.toContainerCode != ''">
                AND to_container_code LIKE CONCAT('%',#{inventoryMovementTask.toContainerCode}, '%')
            </if>

            <if test="inventoryMovementTask.toOperationCount != null ">
                AND to_operation_count = ${inventoryMovementTask.toOperationCount}
            </if>

            <if test="inventoryMovementTask.remark != null and inventoryMovementTask.remark != ''">
                AND remark LIKE CONCAT('%',#{inventoryMovementTask.remark}, '%')
            </if>
            <if test="inventoryMovementTask.owerIdList !=null and  inventoryMovementTask.owerIdList.size > 0 ">
                and ower_id in
                <foreach item="id" collection="inventoryMovementTask.owerIdList" open="(" separator=","  close=")" >
                    #{id}
                </foreach>
            </if>
            <if test="inventoryMovementTask.warehouseIdList!=null  and inventoryMovementTask.warehouseIdList.size > 0">
                and warehouse_id in
                <foreach item="id" collection="inventoryMovementTask.warehouseIdList" open="(" separator=","  close=")" >
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.jayud.wms.model.po.InventoryMovementTask">
        <include refid="selects"/>
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="com.jayud.wms.model.po.InventoryMovementTask">
        <include refid="selects"/>
    </select>

    <select id="queryInventoryMovementTaskForExcel" resultType="java.util.LinkedHashMap">
        SELECT
        id 'id',
        main_code 'mainCode',
        detail_code 'detailCode',
        task_status_name 'taskStatusName',
        warehouse_name 'warehouseName',
        ower_name 'owerName',
        material_code 'materialCode',
        container_code 'containerCode',
        warehouse_location_code 'warehouseLocationCode',
        to_warehouse_location_code 'toWarehouseLocationCode',
        to_container_code 'toContainerCode',
        round(to_operation_count,0) 'toOperationCount',
        round(existing_count,0) 'existingCount',
        round(usable_count,0) 'usableCount',
        round(allocation_count,0) 'allocationCount',
        round(picking_count,0) 'pickingCount',
        material_specification 'materialSpecification',
        batch_code 'batchCode',
        material_production_date 'materialProductionDate',
        custom_field1 'customField1',
        custom_field2 'customField2',
        custom_field3 'customField3',
        create_by 'createBy',
        create_time 'createTime'
        FROM wms_inventory_movement_task
        WHERE is_deleted = 0
        <if test="movementTypeCode != null ">
            AND movement_type_code = ${movementTypeCode}
        </if>
        <if test="movementTypeName != null and movementTypeName != ''">
            AND movement_type_name = #{movementTypeName}
        </if>
        <if test="mainCode != null and mainCode != ''">
            AND main_code = #{mainCode}
        </if>
        <if test="detailCode != null and detailCode != ''">
            AND detail_code = #{detailCode}
        </if>
        <if test="taskStatusCode != null ">
            AND task_status_code = ${taskStatusCode}
        </if>
        <if test="taskStatusName != null and taskStatusName != ''">
            AND task_status_name = #{taskStatusName}
        </if>
        <if test="inventoryDetailId != null ">
            AND inventory_detail_id = ${inventoryDetailId}
        </if>
        <if test="owerId != null ">
            AND ower_id = ${owerId}
        </if>
        <if test="owerCode != null and owerCode != ''">
            AND ower_code = #{owerCode}
        </if>
        <if test="owerName != null and owerName != ''">
            AND ower_name = #{owerName}
        </if>
        <if test="warehouseId != null ">
            AND warehouse_id = ${warehouseId}
        </if>
        <if test="warehouseCode != null and warehouseCode != ''">
            AND warehouse_code = #{warehouseCode}
        </if>
        <if test="warehouseName != null and warehouseName != ''">
            AND warehouse_name = #{warehouseName}
        </if>
        <if test="warehouseAreaId != null ">
            AND warehouse_area_id = ${warehouseAreaId}
        </if>
        <if test="warehouseAreaCode != null and warehouseAreaCode != ''">
            AND warehouse_area_code = #{warehouseAreaCode}
        </if>
        <if test="warehouseAreaName != null and warehouseAreaName != ''">
            AND warehouse_area_name = #{warehouseAreaName}
        </if>
        <if test="warehouseLocationId != null ">
            AND warehouse_location_id = ${warehouseLocationId}
        </if>
        <if test="warehouseLocationCode != null and warehouseLocationCode != ''">
            AND warehouse_location_code = #{warehouseLocationCode}
        </if>
        <if test="containerId != null ">
            AND container_id = ${containerId}
        </if>
        <if test="containerCode != null and containerCode != ''">
            AND container_code = #{containerCode}
        </if>
        <if test="materialId != null ">
            AND material_id = ${materialId}
        </if>
        <if test="materialCode != null and materialCode != ''">
            AND material_code = #{materialCode}
        </if>
        <if test="materialName != null and materialName != ''">
            AND material_name = #{materialName}
        </if>
        <if test="materialTypeId != null ">
            AND material_type_id = ${materialTypeId}
        </if>
        <if test="materialType != null and materialType != ''">
            AND material_type = #{materialType}
        </if>
        <if test="materialSpecification != null and materialSpecification != ''">
            AND material_specification = #{materialSpecification}
        </if>
        <if test="batchCode != null and batchCode != ''">
            AND batch_code = #{batchCode}
        </if>
        <if test="materialProductionDate != null ">
            AND material_production_date = ${materialProductionDate}
        </if>
        <if test="customField1 != null and customField1 != ''">
            AND custom_field1 = #{customField1}
        </if>
        <if test="customField2 != null and customField2 != ''">
            AND custom_field2 = #{customField2}
        </if>
        <if test="customField3 != null and customField3 != ''">
            AND custom_field3 = #{customField3}
        </if>
        <if test="existingCount != null ">
            AND existing_count = ${existingCount}
        </if>
        <if test="usableCount != null ">
            AND usable_count = ${usableCount}
        </if>
        <if test="allocationCount != null ">
            AND allocation_count = ${allocationCount}
        </if>
        <if test="pickingCount != null ">
            AND picking_count = ${pickingCount}
        </if>
        <if test="toWarehouseLocationId != null ">
            AND to_warehouse_location_id = ${toWarehouseLocationId}
        </if>
        <if test="toWarehouseLocationCode != null and toWarehouseLocationCode != ''">
            AND to_warehouse_location_code = #{toWarehouseLocationCode}
        </if>
        <if test="toContainerId != null ">
            AND to_container_id = ${toContainerId}
        </if>
        <if test="toContainerCode != null and toContainerCode != ''">
            AND to_container_code = #{toContainerCode}
        </if>
        <if test="toOperationCount != null ">
            AND to_operation_count = ${toOperationCount}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        <if test="owerIdList !=null and  owerIdList.size > 0 ">
            and ower_id in
            <foreach item="id" collection="owerIdList" open="(" separator=","  close=")" >
                #{id}
            </foreach>
        </if>
        <if test="warehouseIdList!=null  and warehouseIdList.size > 0">
            and warehouse_id in
            <foreach item="id" collection="warehouseIdList" open="(" separator=","  close=")" >
                #{id}
            </foreach>
        </if>

    </select>

    <select id="selectPageByFeign" resultType="com.jayud.wms.model.vo.InventoryMovementTaskAppVO" parameterType="com.jayud.wms.model.po.InventoryMovementTask">
        SELECT
        b.id,
        b.movement_type_code as "movementTypeCode",
        b.movement_type_name as "movementTypeName",
        b.main_code as "mainCode",
        DATE_FORMAT(b.create_time, '%Y-%m-%d') as "createTime",
        IFNULL(c.totalNum, 0) as "totalNum",
        IFNULL(d.completedNum, 0) as "completedNum"
        FROM
        (
        SELECT
            *
        FROM
        wms_inventory_movement_task AS a
        WHERE
        a.is_deleted = 0
        and a.task_status_code=1
        and a.create_time
        HAVING
        1
        ORDER BY
        a.create_time DESC
        ) b
        left join(select main_code,count(*) totalNum from wms_inventory_movement_task where is_deleted = 0 GROUP BY main_code) c on b.main_code = c.main_code
        left join(select main_code,count(*) completedNum  from wms_inventory_movement_task where is_deleted = 0 and task_status_code=2 GROUP BY main_code) d on d.main_code = c.main_code
        where 1=1
        and b.is_deleted = 0
        <if test="inventoryMovementTask.movementTypeCode != null ">
            AND b.movement_type_code = #{inventoryMovementTask.movementTypeCode}
        </if>
        <if test="inventoryMovementTask.movementTypeName != null and inventoryMovementTask.movementTypeName != ''">
            AND b.movement_type_name LIKE CONCAT('%',#{inventoryMovementTask.movementTypeName}, '%')
        </if>
        <if test="inventoryMovementTask.mainCode != null and inventoryMovementTask.mainCode != ''">
            AND b.main_code LIKE CONCAT('%',#{inventoryMovementTask.mainCode}, '%')
        </if>
        <if test="inventoryMovementTask.detailCode != null and inventoryMovementTask.detailCode != ''">
            AND b.detail_code LIKE CONCAT('%',#{inventoryMovementTask.detailCode}, '%')
        </if>
        <if test="inventoryMovementTask.taskStatusCode != null ">
            AND b.task_status_code = #{inventoryMovementTask.taskStatusCode}
        </if>
        <if test="inventoryMovementTask.taskStatusName != null and inventoryMovementTask.taskStatusName != ''">
            AND b.task_status_name LIKE CONCAT('%',#{inventoryMovementTask.taskStatusName}, '%')
        </if>
        <if test="inventoryMovementTask.inventoryDetailId != null ">
            AND b.inventory_detail_id = ${inventoryMovementTask.inventoryDetailId}
        </if>
        <if test="inventoryMovementTask.owerId != null ">
            AND b.ower_id = #{inventoryMovementTask.owerId}
        </if>
        <if test="inventoryMovementTask.owerCode != null and inventoryMovementTask.owerCode != ''">
            AND b.ower_code LIKE CONCAT('%',#{inventoryMovementTask.owerCode}, '%')
        </if>
        <if test="inventoryMovementTask.owerName != null and inventoryMovementTask.owerName != ''">
            AND b.ower_name LIKE CONCAT('%',#{inventoryMovementTask.owerName}, '%')
        </if>
        <if test="inventoryMovementTask.warehouseId != null ">
            AND b.warehouse_id = ${inventoryMovementTask.warehouseId}
        </if>
        <if test="inventoryMovementTask.warehouseCode != null and inventoryMovementTask.warehouseCode != ''">
            AND b.warehouse_code LIKE CONCAT('%',#{inventoryMovementTask.warehouseCode}, '%')
        </if>
        <if test="inventoryMovementTask.warehouseName != null and inventoryMovementTask.warehouseName != ''">
            AND b.warehouse_name LIKE CONCAT('%',#{inventoryMovementTask.warehouseName}, '%')
        </if>
        <if test="inventoryMovementTask.warehouseAreaId != null ">
            AND b.warehouse_area_id = ${inventoryMovementTask.warehouseAreaId}
        </if>
        <if test="inventoryMovementTask.warehouseAreaCode != null and inventoryMovementTask.warehouseAreaCode != ''">
            AND b.warehouse_area_code LIKE CONCAT('%',#{inventoryMovementTask.warehouseAreaCode}, '%')
        </if>
        <if test="inventoryMovementTask.warehouseAreaName != null and inventoryMovementTask.warehouseAreaName != ''">
            AND b.warehouse_area_name LIKE CONCAT('%',#{inventoryMovementTask.warehouseAreaName}, '%')
        </if>
        <if test="inventoryMovementTask.warehouseLocationId != null ">
            AND b.warehouse_location_id = ${inventoryMovementTask.warehouseLocationId}
        </if>
        <if test="inventoryMovementTask.warehouseLocationCode != null and inventoryMovementTask.warehouseLocationCode != ''">
            AND b.warehouse_location_code LIKE CONCAT('%',#{inventoryMovementTask.warehouseLocationCode}, '%')
        </if>
        <if test="inventoryMovementTask.containerId != null ">
            AND b.container_id = ${inventoryMovementTask.containerId}
        </if>
        <if test="inventoryMovementTask.containerCode != null and inventoryMovementTask.containerCode != ''">
            AND b.container_code LIKE CONCAT('%',#{inventoryMovementTask.containerCode}, '%')
        </if>
        <if test="inventoryMovementTask.materialId != null ">
            AND b.material_id = ${inventoryMovementTask.materialId}
        </if>
        <if test="inventoryMovementTask.materialCode != null and inventoryMovementTask.materialCode != ''">
            AND b.material_code LIKE CONCAT('%',#{inventoryMovementTask.materialCode}, '%')
        </if>
        <if test="inventoryMovementTask.materialName != null and inventoryMovementTask.materialName != ''">
            AND b.material_name LIKE CONCAT('%',#{inventoryMovementTask.materialName}, '%')
        </if>
        <if test="inventoryMovementTask.materialTypeId != null ">
            AND b.material_type_id = ${inventoryMovementTask.materialTypeId}
        </if>
        <if test="inventoryMovementTask.materialType != null and inventoryMovementTask.materialType != ''">
            AND b.material_type LIKE CONCAT('%',#{inventoryMovementTask.materialType}, '%')
        </if>
        <if test="inventoryMovementTask.materialSpecification != null and inventoryMovementTask.materialSpecification != ''">
            AND b.material_specification LIKE CONCAT('%',#{inventoryMovementTask.materialSpecification}, '%')
        </if>
        <if test="inventoryMovementTask.batchCode != null and inventoryMovementTask.batchCode != ''">
            AND b.batch_code LIKE CONCAT('%',#{inventoryMovementTask.batchCode}, '%')
        </if>
        <if test="inventoryMovementTask.materialProductionDate != null ">
            AND b.material_production_date = ${inventoryMovementTask.materialProductionDate}
        </if>
        <if test="inventoryMovementTask.customField1 != null and inventoryMovementTask.customField1 != ''">
            AND b.custom_field1 LIKE CONCAT('%',#{inventoryMovementTask.customField1}, '%')
        </if>
        <if test="inventoryMovementTask.customField2 != null and inventoryMovementTask.customField2 != ''">
            AND b.custom_field2 LIKE CONCAT('%',#{inventoryMovementTask.customField2}, '%')
        </if>
        <if test="inventoryMovementTask.customField3 != null and inventoryMovementTask.customField3 != ''">
            AND b.custom_field3 LIKE CONCAT('%',#{inventoryMovementTask.customField3}, '%')
        </if>
        <if test="inventoryMovementTask.existingCount != null ">
            AND b.existing_count = ${inventoryMovementTask.existingCount}
        </if>
        <if test="inventoryMovementTask.usableCount != null ">
            AND b.usable_count = ${inventoryMovementTask.usableCount}
        </if>
        <if test="inventoryMovementTask.allocationCount != null ">
            AND b.allocation_count = ${inventoryMovementTask.allocationCount}
        </if>
        <if test="inventoryMovementTask.pickingCount != null ">
            AND b.picking_count = ${inventoryMovementTask.pickingCount}
        </if>
        <if test="inventoryMovementTask.toWarehouseLocationId != null ">
            AND b.to_warehouse_location_id = ${inventoryMovementTask.toWarehouseLocationId}
        </if>
        <if test="inventoryMovementTask.toWarehouseLocationCode != null and inventoryMovementTask.toWarehouseLocationCode != ''">
            AND b.to_warehouse_location_code LIKE CONCAT('%',#{inventoryMovementTask.toWarehouseLocationCode}, '%')
        </if>
        <if test="inventoryMovementTask.toContainerId != null ">
            AND b.to_container_id = ${inventoryMovementTask.toContainerId}
        </if>
        <if test="inventoryMovementTask.toContainerCode != null and inventoryMovementTask.toContainerCode != ''">
            AND b.to_container_code LIKE CONCAT('%',#{inventoryMovementTask.toContainerCode}, '%')
        </if>
        <if test="inventoryMovementTask.toOperationCount != null ">
            AND b.to_operation_count = ${inventoryMovementTask.toOperationCount}
        </if>
        <if test="inventoryMovementTask.remark != null and inventoryMovementTask.remark != ''">
            AND b.remark LIKE CONCAT('%',#{inventoryMovementTask.remark}, '%')
        </if>
        <if test="inventoryMovementTask.owerIdList !=null and  inventoryMovementTask.owerIdList.size > 0 ">
            and b.ower_id in
            <foreach item="id" collection="inventoryMovementTask.owerIdList" open="(" separator=","  close=")" >
                #{id}
            </foreach>
        </if>
        <if test="inventoryMovementTask.warehouseIdList!=null  and inventoryMovementTask.warehouseIdList.size > 0">
            and b.warehouse_id in
            <foreach item="id" collection="inventoryMovementTask.warehouseIdList" open="(" separator=","  close=")" >
                #{id}
            </foreach>
        </if>
        GROUP BY b.`main_code`
        ORDER BY b.`main_code`
    </select>

    <select id="queryInventoryMovementTaskByMainCode" resultType="com.jayud.wms.model.vo.InventoryMovementTaskAppVO" useCache="false" flushCache="true">
        SELECT
            b.id,
            b.movement_type_code as "movementTypeCode",
            b.movement_type_name as "movementTypeName",
            b.main_code as "mainCode",
            DATE_FORMAT(b.create_time, '%Y-%m-%d') as "createTime",
            IFNULL(c.totalNum, 0) as "totalNum",
            IFNULL(d.completedNum, 0) as "completedNum"
        FROM
            (
                SELECT
                    *
                FROM
                    wms_inventory_movement_task AS a
                WHERE
                    a.is_deleted = 0
                  and a.create_time
                HAVING
                    1
                ORDER BY
                    a.create_time DESC
            ) b
                left join(select main_code,count(*) totalNum from wms_inventory_movement_task where is_deleted = 0 GROUP BY main_code) c on b.main_code = c.main_code
                left join(select main_code,count(*) completedNum  from wms_inventory_movement_task where is_deleted = 0 and task_status_code=2 GROUP BY main_code) d on d.main_code = c.main_code
        where 1=1
          and b.is_deleted = 0
          AND b.main_code = #{mainCode}
        GROUP BY b.`main_code`
        ORDER BY b.`main_code`
    </select>


</mapper>
