<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.wms.mapper.WarehouseMapper">

    <!-- 通用查询映射结果ss -->
    <resultMap id="BaseResultMap" type="com.jayud.wms.model.po.Warehouse">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="contact_addr" property="contactAddr" />
        <result column="status" property="status" />
        <result column="lo" property="lo" />
        <result column="la" property="la" />
        <result column="is_mixing" property="isMixing" />
        <result column="mixing_strategy_id" property="mixingStrategyId" />
        <result column="mixing_strategy" property="mixingStrategy" />
        <result column="stocking_strategy_id" property="stockingStrategyId" />
        <result column="allocation_strategy_id" property="allocationStrategyId" />
        <result column="allocation_strategy" property="allocationStrategy" />
        <result column="tenant_code" property="tenantCode" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, code, name, type, contacts, phone, email, contact_addr, status, lo, la, is_mixing, mixing_strategy_id, mixing_strategy, stocking_strategy_id, allocation_strategy_id, allocation_strategy, turnover_mode,turnover_attribute,tenant_code, remark, is_deleted, create_by, create_time, update_by, update_time
    </sql>

    <!-- 表名 -->
    <sql id="tname">wms_warehouse</sql>

    <sql id="selects">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tname"/>
        <where>
            is_deleted = 0
            <if test="warehouse.code != null and warehouse.code != ''">
                AND code like concat('%',#{warehouse.code},'%')
            </if>

            <if test="warehouse.name != null and warehouse.name != ''">
                AND name like concat('%',#{warehouse.name},'%')
            </if>

            <if test="warehouse.type != null and warehouse.type != ''">
                AND type = #{warehouse.type}
            </if>

            <if test="warehouse.contacts != null and warehouse.contacts != ''">
                AND contacts = #{warehouse.contacts}
            </if>

            <if test="warehouse.phone != null and warehouse.phone != ''">
                AND phone = #{warehouse.phone}
            </if>

            <if test="warehouse.email != null and warehouse.email != ''">
                AND email = #{warehouse.email}
            </if>

            <if test="warehouse.contactAddr != null and warehouse.contactAddr != ''">
                AND contact_addr = #{warehouse.contactAddr}
            </if>

            <if test="warehouse.status != null ">
                AND status = ${warehouse.status}
            </if>

            <if test="warehouse.lo != null ">
                AND lo = ${warehouse.lo}
            </if>

            <if test="warehouse.la != null ">
                AND la = ${warehouse.la}
            </if>

            <if test="warehouse.isMixing != null ">
                AND is_mixing = ${warehouse.isMixing}
            </if>

            <if test="warehouse.mixingStrategyId != null ">
                AND mixing_strategy_id = ${warehouse.mixingStrategyId}
            </if>

            <if test="warehouse.mixingStrategy != null and warehouse.mixingStrategy != ''">
                AND mixing_strategy = #{warehouse.mixingStrategy}
            </if>

            <if test="warehouse.stockingStrategyId != null ">
                AND stocking_strategy_id = ${warehouse.stockingStrategyId}
            </if>

            <if test="warehouse.allocationStrategyId != null ">
                AND allocation_strategy_id = ${warehouse.allocationStrategyId}
            </if>

            <if test="warehouse.allocationStrategy != null and warehouse.allocationStrategy != ''">
                AND allocation_strategy = #{warehouse.allocationStrategy}
            </if>

            <if test="warehouse.tenantCode != null and warehouse.tenantCode != ''">
                AND tenant_code = #{warehouse.tenantCode}
            </if>

            <if test="warehouse.remark != null and warehouse.remark != ''">
                AND remark = #{warehouse.remark}
            </if>

            <if test="warehouse.isDeleted != null ">
                AND is_deleted = ${warehouse.isDeleted}
            </if>

<!--            <if test="warehouse.warehouseIdList != null and warehouse.warehouseIdList.size > 0">-->
<!--                AND id IN-->
<!--                <foreach item="id" collection="warehouse.warehouseIdList" open="(" separator="," close=")">-->
<!--                    #{id}-->
<!--                </foreach>-->
<!--            </if>-->

        </where>
    </sql>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.jayud.wms.model.bo.QueryWarehouseForm">
        <include refid="selectsOne"/>
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="com.jayud.wms.model.po.Warehouse">
        <include refid="selectsOne"/>
    </select>

    <select id="queryWarehouseForExcel" parameterType="map" resultType="java.util.LinkedHashMap">
        SELECT w.code AS "code",w.name AS "name",w.type AS "type",w.contacts AS "contacts",w.phone as "phone",w.email as "email",w.contact_addr as "contact_addr",w.lo as lo ,w.la as la,
        case when w.is_mixing = 1  then '是'
        when w.is_mixing = 0  then '否' end as "isMixing",w.create_by as "createBy",
        w.create_time AS "createTime"
        FROM wms_warehouse w
        WHERE w.is_deleted = 0
        <if test="code != null">
            AND w.code like concat('%',#{code},'%')
        </if>
        <if test="name != null">
            AND w.name like concat('%',#{name},'%')
        </if>
        ORDER BY w.id ASC
    </select>
    <select id="queryWarehouseByOwerId" resultType="com.jayud.wms.model.po.Warehouse">
        SELECT
            w.id,
            w.code,
            w.name
        FROM
            wms_warehouse w
                LEFT JOIN wms_ower_to_warehouse_relation wotwr ON wotwr.warehouse_id = w.id
        WHERE
            w.is_deleted = 0
            AND wotwr.is_deleted = 0
            AND w.status = 1
            AND wotwr.ower_id = ${owerId}
    </select>


    <sql id="selectsOne">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tname"/>
        <where>
            is_deleted = 0
            <if test="warehouse.code != null and warehouse.code != ''">
                AND code like concat('%',#{warehouse.code},'%')
            </if>

            <if test="warehouse.name != null and warehouse.name != ''">
                AND name like concat('%',#{warehouse.name},'%')
            </if>

            <if test="warehouse.type != null and warehouse.type != ''">
                AND type = #{warehouse.type}
            </if>

            <if test="warehouse.contacts != null and warehouse.contacts != ''">
                AND contacts = #{warehouse.contacts}
            </if>

            <if test="warehouse.phone != null and warehouse.phone != ''">
                AND phone = #{warehouse.phone}
            </if>

            <if test="warehouse.email != null and warehouse.email != ''">
                AND email = #{warehouse.email}
            </if>

            <if test="warehouse.contactAddr != null and warehouse.contactAddr != ''">
                AND contact_addr = #{warehouse.contactAddr}
            </if>

            <if test="warehouse.status != null ">
                AND status = ${warehouse.status}
            </if>

            <if test="warehouse.lo != null ">
                AND lo = ${warehouse.lo}
            </if>

            <if test="warehouse.la != null ">
                AND la = ${warehouse.la}
            </if>

            <if test="warehouse.isMixing != null ">
                AND is_mixing = ${warehouse.isMixing}
            </if>

            <if test="warehouse.mixingStrategyId != null ">
                AND mixing_strategy_id = ${warehouse.mixingStrategyId}
            </if>

            <if test="warehouse.mixingStrategy != null and warehouse.mixingStrategy != ''">
                AND mixing_strategy = #{warehouse.mixingStrategy}
            </if>

            <if test="warehouse.stockingStrategyId != null ">
                AND stocking_strategy_id = ${warehouse.stockingStrategyId}
            </if>

            <if test="warehouse.allocationStrategyId != null ">
                AND allocation_strategy_id = ${warehouse.allocationStrategyId}
            </if>

            <if test="warehouse.allocationStrategy != null and warehouse.allocationStrategy != ''">
                AND allocation_strategy = #{warehouse.allocationStrategy}
            </if>

            <if test="warehouse.tenantCode != null and warehouse.tenantCode != ''">
                AND tenant_code = #{warehouse.tenantCode}
            </if>

            <if test="warehouse.remark != null and warehouse.remark != ''">
                AND remark = #{warehouse.remark}
            </if>

            <if test="warehouse.isDeleted != null ">
                AND is_deleted = ${warehouse.isDeleted}
            </if>

            <if test="warehouse.warehouseIdList != null and warehouse.warehouseIdList.size > 0">
                AND id IN
                <foreach item="id" collection="warehouse.warehouseIdList" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>

        </where>
    </sql>

</mapper>
