server:
  port: 8001 #端口
spring:
  kafka:     # 指定kafka 代理地址，可以多个
    bootstrap-servers: ${kafka.producer.servers}
hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 30000
ribbon:
  ReadTimeout: 30000
  ConnectTimeout: 30000