<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.airfreight.mapper.AirOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.airfreight.model.po.AirOrder">
        <id column="id" property="id"/>
        <result column="main_order_no" property="mainOrderNo"/>
        <result column="order_no" property="orderNo"/>
        <result column="third_party_order_no" property="thirdPartyOrderNo"/>
        <result column="status" property="status"/>
        <result column="process_status" property="processStatus"/>
        <result column="settlement_unit_code" property="settlementUnitCode"/>
        <result column="imp_and_exp_type" property="impAndExpType"/>
        <result column="terms" property="terms"/>
        <result column="port_departure_code" property="portDepartureCode"/>
        <result column="port_destination_code" property="portDestinationCode"/>
        <result column="overseas_suppliers_code" property="overseasSuppliersCode"/>
        <result column="proxy_service_type" property="proxyServiceType"/>
        <result column="good_time" property="goodTime"/>
        <result column="is_freight_collect" property="isFreightCollect"/>
        <result column="is_other_expenses_paid" property="isOtherExpensesPaid"/>
        <result column="is_dangerous_goods" property="isDangerousGoods"/>
        <result column="is_charged" property="isCharged"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_order_no, order_no, third_party_order_no, status, process_status, settlement_unit_code, imp_and_exp_type, terms, port_departure_code, port_destination_code, overseas_suppliers_code, proxy_service_type, good_time, is_freight_collect, is_other_expenses_paid, is_dangerous_goods, is_charged, create_user, create_time, update_user, update_time
    </sql>

    <select id="findByPage"
            resultType="com.jayud.airfreight.model.vo.AirOrderFormVO">
        select
        a.id,
        a.main_order_no mainOrderNo,
        a.order_no orderNo,a.status,
        a.process_status processStatus,
        a.imp_and_exp_type impAndExpType,
        a.terms,
        ap.name port_departure,
        ap1.name port_destination,
        a.create_user createUser, a.create_time createdTimeStr,
        ab.airline_company airlineCompany,
        ab.flight,ab.etd,ab.eta,
        ab.warehousing_no warehousingNo,
        a.settlement_unit_code subUnitCode,
        a.legal_entity_id,
        ab.agent_supplier_id supplierId,
        ab.sub_no,
        (CASE WHEN (SELECT COUNT(1) FROM order_payment_cost opc WHERE opc.order_no = a.`order_no`) +
        (SELECT COUNT(1) FROM order_receivable_cost orc WHERE orc.order_no = a.`order_no`)>0 THEN TRUE
        ELSE FALSE
        END) cost
        FROM
        `air_order` a
        left join air_port ap on ap.`code`=a.port_departure_code
        left join air_port ap1 on ap1.`code`=a.port_destination_code
        left join air_booking ab on a.id=ab.air_order_id and (ab.`status` != 2 OR ab.`status` IS NULL)
        <where>
            <if test="form.orderNo !=null and form.orderNo!=''">
                and a.order_no like concat('%',#{form.orderNo},'%')
            </if>
            <if test="form.mainOrderNo !=null and form.mainOrderNo!=''">
                and a.main_order_no like concat('%',#{form.mainOrderNo},'%')
            </if>

            <if test="form.subNo !=null and form.subNo!=''">
                and ab.sub_no like concat('%',#{form.subNo},'%')
            </if>
            <if test="form.portDeparture !=null and form.portDeparture!=''">
                and ap.name like concat('%',#{form.portDeparture},'%')
            </if>
            <if test="form.portDestination !=null and form.portDestination!=''">
                and ap1.name like concat('%',#{form.portDestination},'%')
            </if>
            <if test="form.mainOrderNos !=null and form.mainOrderNos.size > 0">
                and a.main_order_no IN
                <foreach collection="form.mainOrderNos" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.status !=null and form.status!=''">
                and a.status = #{form.status}
            </if>
            <if test="form.processStatusList!=null">
                and a.process_status IN
                <foreach collection="form.processStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.beginCreatedTime !=null and form.beginCreatedTime!=''"><!-- 开始时间检索 -->
                and date_format(a.create_time,'%Y-%m-%d') &gt;= date_format(#{form.beginCreatedTime},'%Y-%m-%d')
            </if>
            <if test="form.beginCreatedTime !=null and form.beginCreatedTime!=''"><!-- 结束时间检索 -->
                and date_format(a.create_time,'%Y-%m-%d') &lt;= date_format(#{form.endCreatedTime},'%Y-%m-%d')
            </if>
            <if test="form.cmd == 'costAudit'">
                AND (EXISTS (SELECT 1 FROM order_payment_cost opc WHERE opc.`order_no` = a.order_no AND opc.`status` =
                '2' and opc.sub_type = 'ky')
                OR EXISTS (SELECT 1 FROM order_receivable_cost orc WHERE orc.`order_no` = a.order_no AND orc.`status` =
                '2' and orc.sub_type = 'ky'))
            </if>
            <if test="form.cmd == 'costAudited'">
                AND a.order_no in (
                (SELECT opc.order_no FROM order_payment_cost opc WHERE opc.`status` = '3' and opc.sub_type='ky' and opc.is_bill='0'
                union SELECT orc.order_no FROM order_receivable_cost orc WHERE orc.`status` = '3' and orc.sub_type='ky' and orc.is_bill='0')
                )
            </if>

            <if test="legalIds != null and legalIds.size>0">
                and a.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>

        </where>
        order by a.id desc
    </select>

    <select id="getAirOrder" parameterType="java.lang.Long"
            resultType="com.jayud.airfreight.model.vo.AirOrderVO">
        select
        a.id,
        a.main_order_no mainOrderNo,
        a.order_no orderNo,a.status,
        a.process_status processStatus,
        a.imp_and_exp_type impAndExpType,
        a.terms,
        a.port_departure_code,
        a.port_destination_code,
        a.legal_entity_id,
        a.legal_name,
        a.settlement_unit_code,
        a.overseas_suppliers_id,
        a.proxy_service_type,
        a.good_time,
        a.is_freight_collect,
        a.is_other_expenses_paid,
        a.is_dangerous_goods,
        a.is_charged,
        ap.name port_departure,
        ap1.name port_destination,
        a.create_user createUser, a.create_time createTime,
        a.order_taker, a.receiving_orders_date,
        a.invoice_no invoiceNo
        FROM
        `air_order` a
        left join air_port ap on ap.`code`=a.port_departure_code
        left join air_port ap1 on ap1.`code`=a.port_destination_code
        where a.id=#{airOrderId}
        order by a.id desc
    </select>


    <select id="getNumByStatus" resultType="java.lang.Integer">
        select count(*) from air_order
        <where>
            and status=#{status} and (process_status=0)
            <if test="legalIds != null and legalIds.size>0">
                and `legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
            group by status
        </where>
    </select>


    <select id="getByMainOrderNo" resultType="com.jayud.airfreight.model.vo.AirOrderInfoVO">
        select
        a.id,
        a.main_order_no mainOrderNo,
        a.order_no orderNo,a.status,
        a.process_status processStatus,
        a.imp_and_exp_type impAndExpType,
        a.terms,
        ap.name port_departure,
        ap1.name port_destination,
        a.create_user createUser, a.create_time createdTimeStr,
        ab.airline_company airlineCompany,
        ab.flight,ab.etd,ab.eta,
        ab.warehousing_no warehousingNo,
        a.settlement_unit_code subUnitCode,
        a.legal_entity_id,
        ab.agent_supplier_id supplierId,
        a.invoice_no,a.good_time,
        ab.main_no,ab.sub_no,ab.atd,ab.billing_weight
        FROM
        `air_order` a
        left join air_port ap on ap.`code`=a.port_departure_code
        left join air_port ap1 on ap1.`code`=a.port_destination_code
        left join air_booking ab on a.id=ab.air_order_id and (ab.`status` != 2 OR ab.`status` IS NULL)
        <where>
            and a.main_order_no IN
            <foreach collection="mainOrderNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>
