<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.customs.mapper.OrderCustomsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.customs.model.po.OrderCustoms">
        <id column="id" property="id" />
        <result column="main_order_no" property="mainOrderNo" />
        <result column="order_no" property="orderNo" />
        <result column="port_code" property="portCode" />
        <result column="port_name" property="portName" />
        <result column="goods_type" property="goodsType" />
        <result column="cntr_no" property="cntrNo" />
        <result column="cntr_pic" property="cntrPic" />
        <result column="encode" property="encode" />
        <result column="title" property="title" />
        <result column="unit_account" property="unitAccount" />
        <result column="unit_code" property="unitCode" />
        <result column="description" property="description" />
        <result column="entrust_no" property="entrustNo" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="opt_name" property="optName" />
        <result column="entrust_note" property="entrustNote" />
        <result column="user_name" property="userName" />
        <result column="opt_time" property="optTime" />
        <result column="created_time" property="createdTime" />
        <result column="created_user" property="createdUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_order_no, order_no, port_code, port_name, goods_type, cntr_no, cntr_pic, encode, title, unit_account, unit_code, description, entrust_no, status, remarks, opt_name, entrust_note, user_name, opt_time, created_time, created_user
    </sql>

    <select id="findOrderCustomsByCondition" parameterType="java.util.Map" resultType="com.jayud.customs.model.vo.OrderCustomsVO" >
        SELECT
            oc.`id` subOrderId,
            oc.`port_code` portCode,
            oc.`goods_type` goodsType,
            oc.`cntr_no` cntrNo,
            oc.`cntr_pic` cntrPic,
            oc.`encode`,
            oc.`order_no` orderNo,
            oc.`title`,
            oc.`unit_code` unitCode,
            oc.`description` fileStr
        FROM
            order_customs oc
        WHERE 1 = 1
        <if test="main_order_no != null and main_order_no != ''">
            and oc.main_order_no = #{main_order_no}
        </if>
    </select>

    <select id="findCustomsOrderByPage" parameterType="com.jayud.customs.model.bo.QueryCustomsOrderInfoForm" resultType="com.jayud.customs.model.vo.CustomsOrderInfoVO" >
        SELECT
          oc.`id`,
          oi.`order_no` mainOrderNo,
          oc.`order_no` orderNo,
          (
            CASE
              oc.`goods_type`
              WHEN 1
              THEN '进口'
              WHEN 2
              THEN '出口'
            END
          ) goodsTypeDesc,
          oc.`port_name` portName,
          (
            CASE
              oc.`status`
              WHEN 0
              THEN '未接单'
              WHEN 1
              THEN '已接单'
              WHEN 2
              THEN '接单中'
              WHEN 3
              THEN '接单中'
            END
          ) statusDesc,
          oi.`customer_name` customerName,
          '' goodsInfo,
          oc.`encode`,
          oc.`description` fileStr,
          oc.`created_user` createdUser,
          DATE_FORMAT(
            oc.`created_time`,
            '%Y-%m-%d %H %I %S'
          ) createdTimeStr,
            oc.`entrust_no` entrustNo,
            '' unifiedNumber,
            oc.`updated_time` updatedTimeStr,
        (SELECT lt.description FROM logistics_track lt WHERE lt.order_id = oc.`id`) remarks,
            '' yunCustomsNo
        FROM
          order_customs oc,
          order_info oi
        WHERE oc.`main_order_no` = oi.`order_no`
        <if test="form.cmd == 'confirmOrder'">
            AND oc.`status` = '0'
        </if>
        <if test="form.orderNo != null">
            AND oi.`order_no` = #{form.orderNo}
        </if>
        <if test="form.customerName != null and form.customerName != ''">
            and oi.`customer_name` like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.encode != null">
            AND oc.`encode` = #{form.encode}
        </if>
        <if test="form.entrustNo != null">
            AND oc.`entrust_no` = #{form.entrustNo}
        </if>
        <if test="form.cmd == 'exceptionOrder'">
            AND oc.`status` = '6'
        </if>
        <if test="form.cmd == 'auditFail'">
            AND oc.`status` in ('3_1','5_1')
        </if>
        <if test="form.cmd == 'issueOrder'">
            AND oc.`status` = '1'
        </if>
        <if test="form.cmd == 'toCheck'">
            AND oc.`status` = '2'
        </if>
        <if test="form.cmd == 'declare'">
            AND oc.`status` = '3'
        </if>
        <if test="form.cmd == 'releaseConfirm'">
            AND oc.`status` = '4'
        </if>
    </select>

</mapper>
