<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.customs.mapper.OrderCustomsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.customs.model.po.OrderCustoms">
        <id column="id" property="id" />
        <result column="main_order_no" property="mainOrderNo" />
        <result column="order_no" property="orderNo" />
        <result column="port_code" property="portCode" />
        <result column="port_name" property="portName" />
        <result column="goods_type" property="goodsType" />
        <result column="cntr_no" property="cntrNo" />
        <result column="cntr_pic" property="cntrPic" />
        <result column="cntr_pic_name" property="cntrPicName" />
        <result column="encode" property="encode" />
        <result column="encodePic" property="encodePic" />
        <result column="encodePicName" property="encodePicName" />
        <result column="biz_model" property="bizModel" />
        <result column="air_transport_no" property="airTransportNo" />
        <result column="air_transport_pic" property="airTransportPic" />
        <result column="air_trans_pic_name" property="airTransPicName" />
        <result column="sea_transport_no" property="seaTransportNo" />
        <result column="sea_transport_pic" property="seaTransportPic" />
        <result column="sea_trans_pic_name" property="seaTransPicName" />
        <result column="is_agency_tax" property="isAgencyTax" />
        <result column="is_title" property="isTitle" />
        <result column="title" property="title" />
        <result column="unit_code" property="unitCode" />
        <result column="description" property="description" />
        <result column="desc_name" property="descName" />
        <result column="entrust_no" property="entrustNo" />
        <result column="go_customs_time" property="goCustomsTime" />
        <result column="pre_go_customs_time" property="preGoCustomsTime" />
        <result column="legal_name" property="legalName" />
        <result column="status" property="status" />
        <result column="created_time" property="createdTime" />
        <result column="created_user" property="createdUser" />
        <result column="updated_user" property="updatedUser" />
        <result column="updated_time" property="updatedTime" />
        <result column="class_code" property="classCode" />
        <result column="need_input_cost" property="needInputCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_order_no, order_no, port_code, port_name, goods_type, cntr_no, cntr_pic,cntr_pic_name, encode, encodePic,encodePicName,
        biz_model,air_transport_no,air_transport_pic,air_trans_pic_name,sea_transport_no,sea_transport_pic,sea_trans_pic_name,is_agency_tax,
        is_title,title,unit_code, description,desc_name, entrust_no,go_customs_time, pre_go_customs_time,legal_name,status, created_time, created_user,
        updated_user,updated_time,class_code,need_input_cost
    </sql>

    <select id="findOrderCustomsByCondition" parameterType="java.util.Map" resultType="com.jayud.customs.model.vo.OrderCustomsVO" >
        SELECT
            oc.`id` subOrderId,
            oc.`port_code` portCode,
            oc.`port_name` portName,
            oc.`goods_type` goodsType,
            oc.`cntr_no` cntrNo,
            oc.`cntr_pic` cntrPic,
            oc.`cntr_pic_name` cntrPicName,
            oc.`encode`,
            oc.`encode_pic_name` encodePicName,
            oc.`order_no` orderNo,
            oc.`title`,
            oc.`unit_code` unitCode,
            oc.`description` fileStr,
            oc.`desc_name` fileNameStr,
            oc.`is_title` isTitle,
            oc.`encode_pic` encodePic,
            oc.`biz_model` bizModel,
            oc.`air_transport_no` airTransportNo,
            oc.`air_transport_pic` airTransportPic,
            oc.`air_trans_pic_name` airTransPicName,
            oc.`sea_transport_no` seaTransportNo,
            oc.`sea_transport_pic` seaTransportPic,
            oc.`sea_trans_pic_name` seaTransPicName,
            oc.`is_agency_tax` isAgencyTax,
            oc.`legal_name` legalName,
            oc.`status` status
        FROM
            order_customs oc
        WHERE 1 = 1
        <if test="main_order_no != null and main_order_no != ''">
            and oc.main_order_no = #{main_order_no}
        </if>
    </select>

    <select id="findCustomsOrderByPage" parameterType="com.jayud.customs.model.bo.QueryCustomsOrderInfoForm" resultType="com.jayud.customs.model.vo.CustomsOrderInfoVO" >
        SELECT
          oc.`id`,
          oi.`order_no` mainOrderNo,
          oc.`order_no` orderNo,
          oc.`goods_type` goodsType,
          oc.`port_name` portName,
          oc.`status` status,
          oi.`customer_name` customerName,
          '' goodsInfo,
          oc.`encode`,
          oc.`description` fileStr,
          oc.`desc_name` fileNameStr,
          oc.`created_user` createdUser,
          DATE_FORMAT(
            oc.`created_time`,
            '%Y-%m-%d %H:%I:%S'
          ) createdTimeStr,
            oc.`entrust_no` entrustNo,
            '' unifiedNumber,
            oc.`updated_time` updatedTimeStr,
            (SELECT lt.description FROM
            logistics_track lt
            WHERE lt.order_id = oc.`id`
            ORDER BY lt.created_time desc
            LIMIT 1) remarks,
            '' yunCustomsNo,
            oi.`biz_code` bizCode,
            oi.`class_code` classCode,
            oi.`id` mainOrderId
        FROM
          order_customs oc,
          order_info oi
        WHERE oc.`main_order_no` = oi.`order_no`
        and oi.`status` = 1
        <if test="form.cmd == 'confirmOrder'">
            AND oc.`status` = 'C_0'
        </if>
        <if test="form.orderNo != null and form.orderNo != ''">
            AND oi.`order_no` = #{form.orderNo}
        </if>
        <if test="form.customerName != null and form.customerName != ''">
            and oi.`customer_name` like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.encode != null and form.encode != ''">
            AND oc.`encode` = #{form.encode}
        </if>
        <if test="form.entrustNo != null and form.entrustNo != ''">
            AND oc.`entrust_no` = #{form.entrustNo}
        </if>
        <if test="form.cmd == 'exceptionOrder'">
            AND oc.`status` = 'C_6_2'
        </if>
        <if test="form.cmd == 'auditFail'">
            AND oc.`status` = 'C_5_1'
        </if>
        <if test="form.cmd == 'issueOrder'">
            AND oc.`status` = 'C_1'
        </if>
        <if test="form.cmd == 'toCheck'">
            AND oc.`status` = 'C_2'
        </if>
        <if test="form.cmd == 'declare'">
            AND oc.`status` = 'C_3'
        </if>
        <if test="form.cmd == 'releaseConfirm'">
            AND oc.`status` = 'C_4'
        </if>
        <if test="form.cmd == 'goCustomsConfirm'">
            AND oc.`status` = 'C_5'
        </if>
    </select>

</mapper>
