<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.storage.mapper.GoodsLocationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.storage.model.po.GoodsLocationRecord">
        <id column="id" property="id" />
        <result column="ku_id" property="kuId" />
        <result column="inGood_id" property="ingoodId" />
        <result column="number" property="number" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ku_code, inGood_id, number, create_user, create_time,type
    </sql>

    <select id="getListByGoodId" resultType="com.jayud.storage.model.po.GoodsLocationRecord">
        select glr.id, glr.ku_code kuCode, glr.inGood_id inGoodId, glr.number, glr.create_user createUser, glr.create_time createTime,glr.type,
        glr.un_delivered_quantity unDeliveredQuantity
        from goods_location_record glr
        left join in_goods_operation_record igor on igor.id = glr.inGood_id
        where igor.sku = #{sku} and igor.warehousing_batch_no = #{warehousingBatchNo} and type = 1 order by createTime asc
    </select>



</mapper>
