<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.storage.mapper.StockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.storage.model.po.Stock">
        <id column="id" property="id" />
        <result column="good_name" property="goodName" />
        <result column="customer_id" property="customerId" />
        <result column="sku" property="sku" />
        <result column="specification_model" property="specificationModel" />
        <result column="available_stock" property="availableStock" />
        <result column="lock_stock" property="lockStock" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, good_name, customer_id, sku, specification_model, available_stock, lock_stock, create_user, create_time, remarks
    </sql>

    <select id="findByPage" resultType="com.jayud.storage.model.vo.StockVO">
        select igor.id ,s.good_name goodName, s.customer_id customerId, s.sku, s.specification_model specificationModel,
        l.location_code locationCode,
        ((select un_delivered_quantity from goods_location_record g where g.ku_code = glr.ku_code and g.inGood_id = glr.inGood_id and g.type=1)) inventoryQuantityUnit,
        (select DISTINCT a.createTime from
        (select create_time createTime,ku_code kuCode from goods_location_record g where type = 1 group by ku_code) a
        where exists (select 1 from (select create_time createTime,ku_code kuCode from goods_location_record g where type = 1 group by ku_code) b
        where b.kuCode = a.kuCode and b.createTime >= a.createTime )) updateTime
         from location l
         left join warehouse_area_shelves_location wasl on l.location_id = wasl.id
         left join goods_location_record glr on l.location_code = glr.ku_code and glr.type = 1
         left join in_goods_operation_record igor on glr.inGood_id = igor.id
         left join stock s on igor.sku = s.sku
         where l.status = 0
        <if test="form.kuCode !=null and form.kuCode!=''">
            and glr.ku_code like concat('%',#{form.kuCode},'%')
        </if>
        <if test="form.sku !=null and form.sku!=''">
            and s.sku like concat('%',#{form.sku},'%')
        </if>
        <if test="form.customerIds != null and form.customerIds.size !=''">
            and s.`customer_id` in
            <foreach collection="form.customerIds" item="customerId" open="(" separator="," close=")">
                #{customerId}
            </foreach>
        </if>
    </select>

</mapper>
