<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.storage.mapper.StockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.storage.model.po.Stock">
        <id column="id" property="id" />
        <result column="good_name" property="goodName" />
        <result column="customer_id" property="customerId" />
        <result column="sku" property="sku" />
        <result column="specification_model" property="specificationModel" />
        <result column="available_stock" property="availableStock" />
        <result column="lock_stock" property="lockStock" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, good_name, customer_id, sku, specification_model, available_stock, lock_stock, create_user, create_time, remarks
    </sql>

    <select id="findByPage" resultType="com.jayud.storage.model.vo.StockVO">
        SELECT
        igor.id,
        igor.name goodName,
        good.customer_id customerId,
        igor.sku,
        igor.specification_model specificationModel,
        g.ku_code locationCode,
        un_delivered_quantity inventoryQuantityUnit,
        g.create_time updateTime

        FROM
        in_goods_operation_record igor
        LEFT JOIN goods_location_record g ON g.inGood_id = igor.id and g.type = 1
        left join good on good.sku = igor.sku
        WHERE
        good.`status` = 1
        <if test="form.kuCode !=null and form.kuCode!=''">
            and glr.ku_code like concat('%',#{form.kuCode},'%')
        </if>
        <if test="form.sku !=null and form.sku!=''">
            and s.sku like concat('%',#{form.sku},'%')
        </if>
        <if test="form.customerIds != null and form.customerIds.size !=''">
            and s.`customer_id` in
            <foreach collection="form.customerIds" item="customerId" open="(" separator="," close=")">
                #{customerId}
            </foreach>
        </if>
    </select>

</mapper>
