<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.storage.mapper.StorageInputOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.storage.model.po.StorageInputOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="main_order_no" property="mainOrderNo" />
        <result column="status" property="status" />
        <result column="process_status" property="processStatus" />
        <result column="unit_code" property="unitCode" />
        <result column="legal_name" property="legalName" />
        <result column="legal_entity_id" property="legalEntityId" />
        <result column="department_id" property="departmentId" />
        <result column="waybill_no" property="waybillNo" />
        <result column="plate_number" property="plateNumber" />
        <result column="warehouse_number" property="warehouseNumber" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, main_order_no, status, process_status, unit_code, legal_name, legal_entity_id, department_id, waybill_no, plate_number, warehouse_number, create_user, create_time, update_user, update_time, remarks
    </sql>

    <select id="findByPage" resultType="com.jayud.storage.model.vo.StorageInputOrderFormVO">
        select sio.id id,sio.order_no orderNo,main_order_no mainOrderNo,status, process_status processStatus,
        legal_entity_id legalEntityId,legal_name leaglName,
        unit_code unitCode,department_id departmentId,waybill_no waybillNo,
        plate_number plateNumber,warehouse_number warehouseNumber, create_user createUser, create_time createTime, remarks
--         (CASE WHEN (SELECT COUNT(1) FROM order_payment_cost opc WHERE opc.order_no = sio.`order_no`) +
--         (SELECT COUNT(1) FROM order_receivable_cost orc WHERE orc.order_no = sio.`order_no`)>0 THEN TRUE
--         ELSE FALSE
--         END) cost
        from storage_input_order sio
        <where>
            <if test="form.orderNo !=null and form.orderNo!=''">
                and sio.order_no like concat('%',#{form.orderNo},'%')
            </if>
            <if test="form.warehouseNumber !=null and form.warehouseNumber!=''">
                and sio.warehouse_number like concat('%',#{form.warehouseNumber},'%')
            </if>
            <if test="form.processStatus !=null and form.processStatus!=''">
                and sio.process_status like concat('%',#{form.processStatus},'%')
            </if>
            <if test="form.createUser !=null and form.createUser!=''">
                and sio.create_user like concat('%',#{form.createUser},'%')
            </if>
            <if test="form.mainOrderNos !=null and form.mainOrderNos.size > 0">
                and sio.main_order_no IN
                <foreach collection="form.mainOrderNos" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.status !=null and form.status!=''">
                and sio.status = #{form.status}
            </if>
            <if test="form.processStatusList!=null and form.processStatusList.size>0">
                and sio.process_status IN
                <foreach collection="form.processStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.startTime !=null and form.startTime!=''">
                and sio.create_time <![CDATA[>= ]]> #{form.startTime}
            </if>
            <if test="form.endTime !=null and form.endTime!=''">
                and sio.create_time <![CDATA[<= ]]> #{form.endTime}
            </if>
            <if test="form.cmd == 'costAudit'">
--                 AND (EXISTS (SELECT 1 FROM order_payment_cost opc WHERE opc.`order_no` = sio.order_no AND opc.`status` =
--                 '2' and opc.sub_type = 'cci')
--                 OR EXISTS (SELECT 1 FROM order_receivable_cost orc WHERE orc.`order_no` = sio.order_no AND orc.`status` =
--                 '2' and orc.sub_type = 'cci'))
                and sio.`order_no` in
                <foreach collection="form.subPaymentOrderNos" item="orderNo" open="(" separator="," close=")">
                    #{orderNo}
                </foreach>
                or sio.`order_no` in
                <foreach collection="form.subReceviableOrderNos" item="orderNo" open="(" separator="," close=")">
                    #{orderNo}
                </foreach>
            </if>

            <if test="legalIds != null and legalIds.size>0">
                and sio.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
        order by sio.id desc
    </select>


    <select id="findWarehousingByPage" resultType="com.jayud.storage.model.vo.StorageInputOrderWarehouseingVO">
        select distinct igor.wbn warehousingBatchNo,sio.id id,sio.order_no orderNo,main_order_no mainOrderNo,status, process_status processStatus,
        legal_entity_id legalEntityId,legal_name leaglName,
        unit_code unitCode,department_id departmentId,waybill_no waybillNo,
        plate_number plateNumber,warehouse_number warehouseNumber, create_user createUser, create_time createTime, remarks
        from storage_input_order sio
        right join (select warehousing_batch_no wbn,order_id,order_no,is_warehousing from in_goods_operation_record group by wbn) igor on igor.order_id = sio.id
        <where>
        igor.is_warehousing = 0
            <if test="form.orderNo !=null and form.orderNo!=''">
                and sio.order_no like concat('%',#{form.orderNo},'%')
            </if>
            <if test="form.warehouseNumber !=null and form.warehouseNumber!=''">
                and sio.warehouse_number like concat('%',#{form.warehouseNumber},'%')
            </if>
            <if test="form.processStatus !=null and form.processStatus!=''">
                and sio.process_status like concat('%',#{form.processStatus},'%')
            </if>
            <if test="form.createUser !=null and form.createUser!=''">
                and sio.create_user like concat('%',#{form.createUser},'%')
            </if>
            <if test="form.mainOrderNos !=null and form.mainOrderNos.size > 0">
                and sio.main_order_no IN
                <foreach collection="form.mainOrderNos" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.status !=null and form.status!=''">
                and sio.status = #{form.status}
            </if>
            <if test="form.processStatusList!=null and form.processStatusList.size>0">
                and sio.process_status IN
                <foreach collection="form.processStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.startTime !=null and form.startTime!=''">
                and sio.create_time <![CDATA[>= ]]> #{form.startTime}
            </if>
            <if test="form.endTime !=null and form.endTime!=''">
                and sio.create_time <![CDATA[<= ]]> #{form.endTime}
            </if>

            <if test="legalIds != null and legalIds.size>0">
                and sio.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
        order by sio.id desc
    </select>

    <select id="findOrderRecordByPage" resultType="com.jayud.storage.model.vo.StorageInputOrderNumberVO">
        select id,order_no orderNo,main_order_no mainOrderNo,update_time updateTime
        from storage_input_order sio
        <where>
            sio.process_status = 1
            <if test="form.orderNo !=null and form.orderNo!=''">
                and sio.order_no like concat('%',#{form.orderNo},'%')
            </if>
            <if test="form.mainOrderNos !=null and form.mainOrderNos.size > 0">
                and sio.main_order_no IN
                <foreach collection="form.mainOrderNos" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
