<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oauth.mapper.LegalEntityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oauth.model.po.LegalEntity">
        <id column="id" property="id" />
        <result column="legal_name" property="legalName" />
        <result column="legal_code" property="legalCode" />
        <result column="rigis_address" property="rigisAddress" />
        <result column="sale_depart_id" property="saleDepartId" />
        <result column="audit_status" property="auditStatus" />
        <result column="audit_comment" property="auditComment" />
        <result column="created_time" property="createdTime" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_user" property="updatedUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,legal_name,legal_code,rigis_address,sale_depart_id,audit_status,audit_comment
    </sql>

    <select id="findLegalEntityByPage" parameterType="com.jayud.oauth.model.bo.QueryLegalEntityForm" resultType="com.jayud.oauth.model.vo.LegalEntityVO" >
        SELECT
          le.`id`,
          le.`legal_code` legalCode,
          le.`legal_name` legalName,
          le.`rigis_address` rigisAddress,
          d.`name` saleDepartName,
          d.id saleDepartId,
          le.`audit_status` auditStatus,
          le.`audit_comment` auditComment,
          (CASE
          le.`audit_status`
          WHEN 0
          THEN '审核拒绝'
          WHEN 1
          THEN '待审核'
          WHEN 2 THEN '审核通过'
          END) auditStatusDesc
        FROM
          legal_entity le
          LEFT JOIN department d
            ON le.`sale_depart_id` = d.`id` WHERE 1=1
        <if test="form.cmd == 'cw'">
            and le.audit_status in (0,1,2)
        </if>
        <if test="form.cmd == 'zjb'">
            and le.audit_status in (1)
        </if>
        <if test="form.legalName != null and form.legalName != ''">
        and le.legal_name like concat('%',#{form.legalName},'%')
        </if>
    </select>

</mapper>
