<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.BillCustomsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.BillCustomsInfo">
        <id column="id" property="id" />
        <result column="bill_id" property="billId" />
        <result column="bill_no" property="billNo" />
        <result column="file_name" property="fileName" />
        <result column="template_url" property="templateUrl" />
        <result column="describes" property="describes" />
        <result column="cartons" property="cartons" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_id, bill_no, file_name, template_url, describes, cartons, status, user_id, user_name, create_time
    </sql>
    
    <select id="findCustomsInfoCase" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CustomsInfoCaseVO">
        select
            t.id,t.b_id,t.b_name,t.bill_id,t.bill_no,t.case_id,t.carton_no,t.create_time,t.order_no
        from customs_info_case t
        where t.b_id = #{b_id}
    </select>

    <select id="findBillCustomsInfoById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.BillCustomsInfoVO">
        select
            t.id,t.bill_id,t.bill_no,t.file_name,t.template_url,t.describes,t.cartons,t.status,t.user_id,t.user_name,t.create_time,t.type
        from bill_customs_info t
        where t.id = #{id}
    </select>

    <select id="findCustomsInfoCaseTotalBybid" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(*) total from customs_info_case where b_id = #{b_id}
    </select>

    <select id="findCustomsInfoCaseBybid" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CustomsInfoCaseExcelVO">
        select
            t.id,t.b_id,t.b_name,t.bill_id,t.bill_no,t.case_id,t.carton_no,t.create_time,t.order_no
        from customs_info_case t
        where t.b_id = #{b_id}

    </select>

    <select id="findCustomsListExcelById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CustomsListExcelVO">
        select t.id billCustomsInfoId,
        t.file_name,
        DATE_FORMAT(t.create_time,'%Y-%m-%d') createTime
        from bill_customs_info t
        where 1=1
        and t.id = #{id}
    </select>
    
    <select id="findCustomsGoodsExcelByBillCustomsInfoId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CustomsGoodsExcelVO">
        select t.id goodId,
        t1.case_id,t1.carton_no,t1.quantity,
        t2.asn_weight grossWeight,t2.asn_volume cbm,
        t3.b_name billCustomsInfoName,
        cd.id_code,cd.ch_name,cd.en_name,cd.hs_code,cd.texture,cd.uses,cd.declare_price,cd.suttle,cd.brand,cd.specification,cd.pic_url
        from
        customer_goods t
        join order_case_shop t1 on t1.good_id = t.id
        join order_case t2 on t2.id = t1.case_id
        join customs_info_case t3 on t3.case_id = t2.id
        join bill_customs_info t4 on t4.id = t3.b_id
        join customs_data cd on cd.id_code = t.data_code
        where 1=1
        and t4.id = #{billCustomsInfoId}
    </select>

    <select id="findCustomsGoodsExcelTotalByParaMap" parameterType="java.util.Map" resultType="java.util.Map">
        select id_code,count(case_id) packages,sum(quantity) qty,sum(grossWeight) grossWeight,sum(cbm) cbm
        from (
                 select t.id goodId,
                        t1.case_id,t1.carton_no,t1.quantity,
                        t2.asn_weight grossWeight,t2.asn_volume cbm,
                        t3.b_name billCustomsInfoName,
                        cd.id_code,cd.ch_name,cd.en_name,cd.hs_code,cd.texture,cd.uses,cd.declare_price,cd.suttle,cd.brand,cd.specification,cd.pic_url
                 from
                     customer_goods t
                         join order_case_shop t1 on t1.good_id = t.id
                         join order_case t2 on t2.id = t1.case_id
                         join customs_info_case t3 on t3.case_id = t2.id
                         join bill_customs_info t4 on t4.id = t3.b_id
                         join customs_data cd on cd.id_code = t.data_code
                 where 1=1
                   and t4.id = #{paraMap.billCustomsInfoId}
                   and cd.id_code = #{paraMap.idCode}
             ) t
        group by t.id_code

    </select>

    <select id="findCustomsListExcelTotalByParaMap" parameterType="java.util.Map" resultType="java.util.Map">
        select count(case_id) packages, sum(grossWeight) grossWeight,sum(cbm) cbm from (
        select
        t1.case_id,
        t2.asn_weight grossWeight,t2.asn_volume cbm
        from
        customer_goods t
        join order_case_shop t1 on t1.good_id = t.id
        join order_case t2 on t2.id = t1.case_id
        join customs_info_case t3 on t3.case_id = t2.id
        join bill_customs_info t4 on t4.id = t3.b_id
        join customs_data cd on cd.id_code = t.data_code
        where 1=1
        and t4.id = #{paraMap.billCustomsInfoId}
        group by t1.case_id
        ) t
    </select>
    
    
    
</mapper>
