<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.BillCustomsCounterListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.BillCustomsCounterList">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="customs_id" property="customsId" />
        <result column="counter_list_id" property="counterListId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, customs_id, counter_list_id, create_time
    </sql>

</mapper>
