<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.CounterOrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.CounterOrderInfo">
        <id column="id" property="id" />
        <result column="b_id" property="bId" />
        <result column="b_name" property="bName" />
        <result column="bill_id" property="billId" />
        <result column="bill_no" property="billNo" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, b_id, b_name, bill_id, bill_no, order_id, order_no, create_time
    </sql>

    <select id="findCounterOrderInfoBybId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CounterOrderInfoVO">
        select
        t.id,t.b_id,t.b_name,t.bill_id,t.bill_no,t.order_id,t.order_no,t.create_time
        from counter_order_info t
        where 1=1
        and t.b_id = #{bId}
    </select>

    <select id="findCounterOrderInfoExcelBybid" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CounterOrderInfoExcelVO">
        select
        t.order_id,t.order_no,
        t1.destination_warehouse_code,
        t4.code_name serviceName
        from counter_order_info t
        join order_info t1 on t1.id = t.order_id
        join offer_info t2 on t2.id = t1.offer_info_id
        join quotation_template t3 on t3.id = t2.qie
        join service_group t4 on t4.id = t3.sid
        where 1=1
        and t.b_id = #{bid}
    </select>


</mapper>
