<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.CounterListInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.CounterListInfo">
        <id column="id" property="id" />
        <result column="counter_id" property="counterId" />
        <result column="cntr_no" property="cntrNo" />
        <result column="file_name" property="fileName" />
        <result column="template_url" property="templateUrl" />
        <result column="describes" property="describes" />
        <result column="cartons" property="cartons" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, counter_id, cntr_no, file_name, template_url, describes, cartons, status, user_id, user_name, create_time
    </sql>

    <select id="findCounterListInfoById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CounterListInfoVO">
        select
            t.id,t.counter_id,t.cntr_no,t.file_name,t.template_url,t.describes,t.cartons,t.status,t.user_id,t.user_name,t.create_time
        from counter_list_info t
        where t.id = #{id}

    </select>

    <select id="findCounterCaseInfo" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CounterCaseInfoVO">
        select
            t.id,t.b_id,t.b_name,t.bill_id,t.bill_no,t.case_id,t.carton_no,t.create_time,t.order_no
        from counter_case_info t
        where t.b_id = #{b_id}
    </select>

    <select id="findCounterListInfoByCounterId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.CounterListInfoVO">
        select
            t.id,t.counter_id,t.cntr_no,t.file_name,t.template_url,t.describes,t.cartons,t.status,t.user_id,t.user_name,t.create_time
        from counter_list_info t
        where t.counter_id = #{counterId}
    </select>

</mapper>
