<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.CustomsBaseValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.CustomsBaseValue">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="customs_id" property="customsId" />
        <result column="country_code" property="countryCode" />
        <result column="country_name" property="countryName" />
        <result column="declared_value" property="declaredValue" />
        <result column="declared_currency" property="declaredCurrency" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, customs_id, country_code, country_name, declared_value, declared_currency
    </sql>

</mapper>
