<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.Customer">
        <id column="id" property="id" />
        <result column="bs_user_id" property="bsUserId" />
        <result column="name_cn" property="nameCn" />
        <result column="passwd" property="passwd" />
        <result column="phone" property="phone" />
        <result column="contact_number" property="contactNumber" />
        <result column="status" property="status" />
        <result column="level" property="level" />
        <result column="origin" property="origin" />
        <result column="create_date" property="createDate" />
        <result column="company" property="company" />
        <result column="audit_status" property="auditStatus" />
        <result column="code" property="code" />
        <result column="name_en" property="nameEn" />
        <result column="pay_passwd" property="payPasswd" />
        <result column="pay_type" property="payType" />
        <result column="currency" property="currency" />
        <result column="salesman_id" property="salesmanId" />
        <result column="user_name" property="userName" />
        <result column="address" property="address" />
        <result column="clearing_way" property="clearingWay"/>
        <result column="clearing_date" property="clearingDate"/>
        <result column="lock_date" property="lockDate"/>
        <result column="real_date" property="realDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bs_user_id, name_cn, passwd, phone, status, level, origin, create_date, company, audit_status, code, name_en, pay_passwd, pay_type, currency, salesman_id, user_name, address
    </sql>


    <!--查询客户并分页-->
    <select id="findCustomerByPage" parameterType="com.jayud.mall.model.bo.QueryCustomerForm"
            resultType="com.jayud.mall.model.vo.CustomerVO" >
        select
        t.id,t.`code`,t.company,t.name_cn,t.name_en,t.contact_number,t.phone,t.user_name,
        t.passwd,t.audit_status,t.audit_user_id,t.audit_time,t.`status`,t.salesman_id,t.operation_team_id,t.currency,t.address,
        t.`level`,t.origin,t.create_date,t.pay_type,t.pay_passwd,t.clearing_way,t.clearing_date,t.lock_date,t.real_date,t.business_license_url,t.remark
        FROM customer t
        WHERE
        1 = 1
        <if test="form.company != null and form.company != ''">
            and t.company LIKE concat('%',#{form.company},'%')
        </if>
        <if test="form.userName != null and form.userName != ''">
            and t.user_name like concat('%',#{form.userName},'%')
        </if>
        <if test="form.phone != null and form.phone != ''">
            and t.phone like concat('%',#{form.phone},'%')
        </if>
        <if test="form.keyword != null and form.keyword != ''">
            AND ( t.`name_cn` LIKE concat('%',#{form.keyword},'%') OR t.`company` LIKE concat('%',#{form.keyword},'%') )
        </if>
    </select>

</mapper>
