<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.GoodsServiceCostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.GoodsServiceCost">
        <id column="id" property="id" />
        <result column="service_id" property="serviceId" />
        <result column="good_id" property="goodId" />
        <result column="customer_id" property="customerId" />
        <result column="name_cn" property="nameCn" />
        <result column="unit_price" property="unitPrice" />
        <result column="cid" property="cid" />
        <result column="unit" property="unit" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="service_name" property="serviceName" />
        <result column="customer_name" property="customerName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, service_id, good_id, customer_id, name_cn, unit_price, cid, unit, status, remark, service_name, customer_name
    </sql>
    
    <select id="findGoodsServiceCostByGoodId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.GoodsServiceCostVO">
        select
        t.id,t.service_id,t.good_id,t.customer_id,t.name_cn,t.unit_price,t.cid,t.unit,t.status,t.remark,t.service_name,t.customer_name,
        t1.is_need_fee
        from goods_service_cost t
        join service_group t1 on t1.id = t.service_id
        where good_id = #{goodId}
    </select>

</mapper>
