<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.IntoWarehouseNumberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.IntoWarehouseNumber">
        <id column="warehouse_no" property="warehouseNo" />
        <result column="usage_status" property="usageStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        warehouse_no, usage_status
    </sql>

    <select id="getWarehouseNo" resultType="java.lang.String">
        select getWarehouseNumber() warehouse_no
    </select>

</mapper>
