<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.LogisticsTrackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.LogisticsTrack">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="status" property="status" />
        <result column="status_name" property="statusName" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, status, status_name, description, create_time, operator_id, operator_name
    </sql>


    <select id="findLogisticsTrackByOrderId" parameterType="java.lang.String"
            resultType="com.jayud.mall.model.vo.LogisticsTrackVO">
        select t.id,
               t.order_id,
               t.status,
               t.status_name,
               t.description,
               t.create_time,
               t.operator_id,
               t.operator_name
        from logistics_track t
        where t.order_id = #{orderId}
        order by t.create_time desc

    </select>

</mapper>
