<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OceanBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OceanBill">
        <id column="id" property="id" />
        <result column="tid" property="tid" />
        <result column="supplier_id" property="supplierId" />
        <result column="order_id" property="orderId" />
        <result column="start_code" property="startCode" />
        <result column="end_code" property="endCode" />
        <result column="sail_time" property="sailTime" />
        <result column="voyage_day" property="voyageDay" />
        <result column="unit" property="unit" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tid, supplier_id, order_id, start_code, end_code, sail_time, voyage_day, unit, create_time
    </sql>

    <!--查询报价模板并分页-->
    <select id="findOceanBillByPage" parameterType="com.jayud.mall.model.bo.QueryOceanBillForm"
            resultType="com.jayud.mall.model.vo.OceanBillVO" >
        select
        t.id,t.tid,t.supplier_id,t.order_id,t.start_code,t.end_code,t.sail_time,t.voyage_day,t.unit,t.create_time
        from
        ocean_bill t
        WHERE
        1 = 1
        /*报价名*/
        <if test="form.orderId != null and form.orderId != ''">
            AND t.`order_id` LIKE concat('%',#{form.orderId},'%')
        </if>
        /*开船日期*/
        <if test="form.sailTime != null and form.sailTimeStart != null and form.sailTimeStart != '' and form.sailTimeEnd != null and form.sailTimeEnd != '' ">
            and t.sail_time <![CDATA[ >= ]]> #{form.sailTimeStart} AND t.sail_time <![CDATA[ <= ]]> #{form.sailTimeEnd}
        </if>
        /*供应商*/
        <if test="form.supplierId != null">
            and t.supplier_id = #{form.supplierId}
        </if>
        /*目的港*/
        <if test="form.endCode != null and form.endCode != ''">
            AND t.`end_code` = #{form.endCode}
        </if>
        GROUP BY
        t.`id`
    </select>


</mapper>
