<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OceanCounterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OceanCounter">
        <id column="id" property="id" />
        <result column="cntr_no" property="cntrNo" />
        <result column="cabinet_code" property="cabinetCode" />
        <result column="volume" property="volume" />
        <result column="cost" property="cost" />
        <result column="cid" property="cid" />
        <result column="status" property="status" />
        <result column="ob_id" property="obId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cntr_no, cabinet_code, volume, cost, cid, status, ob_id, create_time
    </sql>

    <select id="findOceanCounterVOByObId" parameterType="java.lang.Long"
            resultType="com.jayud.mall.model.vo.OceanCounterVO">
        select
        t.id,t.cntr_no,t.cabinet_code,t.volume,t.cost,t.cid,t.status,t.ob_id,t.create_time,
        t1.name cabinetName,
        t2.currency_code ccode, t2.currency_name cname
        from ocean_counter t
        left join cabinet_type t1 on t1.id_code = t.cabinet_code
        left join currency_info t2 on t2.id = t.cid
        left join ocean_bill t3 on t3.id = t.ob_id
        where t3.id = #{obId}
    </select>

    <select id="findCounterCaseInfoIdByCounterId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select t.id from counter_case_info t
        JOIN counter_list_info t1 on t1.id = t.b_id
        JOIN ocean_counter t2 on t2.id = t1.counter_id
        WHERE t2.id = #{counterId}
    </select>

    <select id="findCounterListInfoIdByCounterId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select t.id from counter_list_info t
        join ocean_counter t1 on t1.id = t.counter_id
        where t1.id = #{counterId}
    </select>

    <select id="findOceanCounterIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
        select t.id from ocean_counter t where t.id = #{counterId}
    </select>

</mapper>
