<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OceanWaybillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OceanWaybill">
        <id column="id" property="id" />
        <result column="waybill_no" property="waybillNo" />
        <result column="describe" property="describe" />
        <result column="shipping_information" property="shippingInformation" />
        <result column="ocean_counter_id" property="oceanCounterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, waybill_no, describe, shipping_information, ocean_counter_id
    </sql>

</mapper>
