<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OceanBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OceanBill">
        <id column="id" property="id" />
        <result column="tid" property="tid" />
        <result column="supplier_id" property="supplierId" />
        <result column="order_id" property="orderId" />
        <result column="start_code" property="startCode" />
        <result column="end_code" property="endCode" />
        <result column="sail_time" property="sailTime" />
        <result column="voyage_day" property="voyageDay" />
        <result column="unit" property="unit" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tid, supplier_id, order_id, start_code, end_code, sail_time, voyage_day, unit, create_time
    </sql>

    <select id="findOceanBillByPage" parameterType="com.jayud.mall.model.bo.QueryOceanBillForm"
            resultType="com.jayud.mall.model.vo.OceanBillVO" >
        select
        t.id,t.tid,t.supplier_id,t.order_id,t.start_code,t.end_code,t.sail_time,t.voyage_day,t.unit,t.create_time,t.task_id,t.operation_team_id,t.user_id,t.user_name,
        t1.code_name tname,
        t2.company_name supplierName,
        t3.code_name startName,
        t4.code_name endName,
        t5.group_name taskName,
        t6.group_name operationTeamName,
        CONCAT(t3.code_name,'/',t4.code_name) startEndName
        from
        ocean_bill t
        left join transport_way t1 on t1.id = t.tid
        left join  supplier_info t2 on t2.id = t.supplier_id
        left join harbour_info t3 on t3.id_code = t.start_code
        left join harbour_info t4 on t4.id_code = t.end_code
        left join task_group t5 on t5.id = t.task_id
        left join operation_team t6 on t6.id = t.operation_team_id
        where 1=1
        /*报价名*/
        <if test="form.orderId != null and form.orderId != ''">
            AND t.`order_id` LIKE concat('%',#{form.orderId},'%')
        </if>
        /*开船日期*/
        <if test="form.sailTime != null">
            and t.sail_time <![CDATA[ >= ]]> concat(date_format(#{form.sailTime}, '%Y-%m-%d'), ' 00:00:00') AND t.sail_time <![CDATA[ <= ]]> concat(date_format(#{form.sailTime}, '%Y-%m-%d'), ' 23:23:59')
        </if>
        /*供应商*/
        <if test="form.supplierId != null">
            and t.supplier_id = #{form.supplierId}
        </if>
        /*目的港*/
        <if test="form.destinationCountryCode != null and form.destinationCountryCode != ''">
            and t4.state_code = #{form.destinationCountryCode}
        </if>
        /*运输方式*/
        <if test="form.tid != null">
            and t.tid = #{form.tid}
        </if>
    </select>

    <select id="billLadingCost" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.OceanBillVO">
        select
            t.id,t.tid,t.supplier_id,t.order_id,t.start_code,t.end_code,t.sail_time,t.voyage_day,t.unit,t.create_time,t.task_id,t.operation_team_id,t.user_id,t.user_name,
            t1.code_name tname,
            t2.company_name supplierName,
            t3.code_name startName,
            t4.code_name endName,
            t5.code_name taskName,
            t6.group_name operationTeamName,
            CONCAT(t3.code_name,'/',t4.code_name) startEndName,
            CONCAT(t3.code_name,'--',t4.code_name) shipRoute,
            (case t.unit
                 when '1' then concat(t.voyage_day,' 小时')
                 when '2' then concat(t.voyage_day,' 天')
                 when '3' then concat(t.voyage_day,' 月')
                 else null end) as crudingRrange
        from
            ocean_bill t
                left join transport_way t1 on t1.id = t.tid
                left join  supplier_info t2 on t2.id = t.supplier_id
                left join harbour_info t3 on t3.id_code = t.start_code
                left join harbour_info t4 on t4.id_code = t.end_code
                left join task_group t5 on t5.id = t.task_id
                left join operation_team t6 on t6.id = t.operation_team_id
        where t.id=#{id}

    </select>

    <!--根据提单id，查找提单关联的订单-->
    <!--提单关联的柜号，柜号关联的订单箱号，订单箱号关联的订单-->
    <select id="findBillOrderCostInfo" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.BillOrderCostInfoVO">
        select
        t.id,t.order_no,t.actual_weight,t.actual_volume,t.charge_weight,t2.supplier_id,t2.quantity,t3.company_name supplierName
        from order_info t
        join (
            select t.supplier_id,t3.order_id,count(t3.order_id) quantity
            from (select id,supplier_id from ocean_bill where id = #{id}) t
            join ocean_counter t1 on t1.ob_id = t.id
            join counter_case t2 on t2.ocean_counter_id = t1.id
            join order_case t3 on t3.id = t2.order_case_id
            group by t3.order_id
        ) t2 on t2.order_id = t.id
        left join supplier_info t3 on t3.id = t2.supplier_id
    </select>

    <select id="findOceanBillById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.OceanBillVO">
        select
        t.id,t.tid,t.supplier_id,t.order_id,t.start_code,t.end_code,t.sail_time,t.voyage_day,t.unit,t.create_time,t.task_id,t.operation_team_id,t.user_id,t.user_name,
        t1.code_name tname,
        t2.company_name supplierName,
        t3.code_name startName,
        t4.code_name endName,
        t5.group_name taskName,
        t6.group_name operationTeamName,
        CONCAT(t3.code_name,'/',t4.code_name) startEndName
        from
        ocean_bill t
        left join transport_way t1 on t1.id = t.tid
        left join  supplier_info t2 on t2.id = t.supplier_id
        left join harbour_info t3 on t3.id_code = t.start_code
        left join harbour_info t4 on t4.id_code = t.end_code
        left join task_group t5 on t5.id = t.task_id
        left join operation_team t6 on t6.id = t.operation_team_id
        where 1=1
        and t.id = #{obId}
    </select>


    <select id="findBillTaskRelevanceByObId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.BillTaskRelevanceVO">
        select
            t.id,t.ocean_bill_id,t.task_code,t.task_name,t.sort,t.days,t.day_flag,t.operators,t.minutes,t.score,t.remarks,t.status,t.reason,t.up_time,t.user_id,t.user_name,t.create_time
        from
            bill_task_relevance t
        where t.ocean_bill_id = #{obId}
    </select>

    <select id="lookOperateLog" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.BillTaskRelevanceVO">
        select
        t.up_time,t.operators,
        CONCAT('点击【',t.task_name, '】任务,',statusDescribes) operateDescribes
        from (
            select up_time,operators,task_name,
            (case status
            when '0' then '未激活'
            when '1' then '已激活'
            when '2' then '异常'
            when '3' then '已完成'
            else null end) as statusDescribes
            from
            bill_task_relevance
            where 1=1
            and up_time is not null
            and ocean_bill_id=#{id}
        ) t
        order by t.up_time desc

    </select>



</mapper>
