<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OrderCopeWithMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OrderCopeWith">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="cost_name" property="costName" />
        <result column="amount" property="amount" />
        <result column="cid" property="cid" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, cost_name, supplier_code, amount, cid, remarks
    </sql>

    <select id="findOrderCopeWithByOrderId" parameterType="java.lang.Long"
            resultType="com.jayud.mall.model.vo.OrderCopeWithVO">
        select
            t.id,t.order_id,t.cost_code,t.cost_name,t.supplier_id,t.calculate_way,t.count,t.unit_price,t.amount,t.cid,t.remarks,t.bill_id,t.status,
        t1.company_name supplierName,
        t2.currency_code,t2.currency_name
        from order_cope_with t
        LEFT JOIN supplier_info t1 on t1.id = t.supplier_id
        LEFT JOIN currency_info t2 on t2.id = t.cid
        WHERE t.order_id = #{orderId}

    </select>

    <select id="findOrderCopeWithByOrderIdAndBillId" resultType="com.jayud.mall.model.vo.OrderCopeWithVO">
        select
            t.id,t.order_id,t.cost_code,t.cost_name,t.supplier_id,t.calculate_way,t.count,t.unit_price,t.amount,t.cid,t.remarks,t.bill_id,t.status,
        t1.company_name supplierName,
        t2.currency_code,t2.currency_name
        from order_cope_with t
        LEFT JOIN supplier_info t1 on t1.id = t.supplier_id
        LEFT JOIN currency_info t2 on t2.id = t.cid
        where
        t.order_id = #{orderId, jdbcType=BIGINT}
        and t.bill_id = #{billId, jdbcType=BIGINT}
    </select>

    <select id="findOrderCopeWithByOrderServiceWithId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.OrderCopeWithVO">
        select
        t.id,t.order_id,t.cost_code,t.cost_name,t.supplier_id,t.calculate_way,t.count,t.unit_price,t.amount,t.cid,t.remarks,t.bill_id,t.status,t.order_service_with_id
        from order_cope_with t
        where 1=1
        and t.order_service_with_id = #{orderServiceWithId}
    </select>
    

</mapper>
