<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OrderServiceReceivableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OrderServiceReceivable">
        <id column="id" property="id" />
        <result column="qie" property="qie" />
        <result column="cost_code" property="costCode" />
        <result column="cost_name" property="costName" />
        <result column="specification_code" property="specificationCode" />
        <result column="specification_name" property="specificationName" />
        <result column="calculate_way" property="calculateWay" />
        <result column="count" property="count" />
        <result column="unit" property="unit" />
        <result column="source" property="source" />
        <result column="unit_price" property="unitPrice" />
        <result column="cid" property="cid" />
        <result column="amount" property="amount" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, qie, cost_code, cost_name, specification_code, specification_name, calculate_way, count, unit, source, unit_price, cid, amount, remarks
    </sql>

    <select id="findOrderServiceReceivableByQie" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.OrderServiceReceivableVO">
        select
        t.id,t.qie,t.cost_code,t.cost_name,t.specification_code,t.specification_name,t.calculate_way,t.count,t.unit,t.source,t.unit_price,t.cid,t.amount,t.remarks,
        t1.currency_code,t1.currency_name
        from order_service_receivable t
        left join currency_info t1 on t1.id = t.cid
        where 1=1
        and t.qie = #{qie}
    </select>


</mapper>
