<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OrderPickMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OrderPick">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="pick_no" property="pickNo" />
        <result column="warehouse_no" property="warehouseNo" />
        <result column="pick_time" property="pickTime" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="total_carton" property="totalCarton" />
        <result column="address_id" property="addressId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, pick_no, warehouse_no, pick_time, weight, volume, total_carton, address_id, create_time
    </sql>

</mapper>
