<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OrderConfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OrderConf">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="tid" property="tid" />
        <result column="harbour_code" property="harbourCode" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, tid, harbour_code, status, user_id, user_name, create_time
    </sql>

</mapper>
