<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OrderInfo">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_id" property="customerId" />
        <result column="store_goods_warehouse_code" property="storeGoodsWarehouseCode" />
        <result column="store_goods_warehouse_name" property="storeGoodsWarehouseName" />
        <result column="destination_warehouse_code" property="destinationWarehouseCode" />
        <result column="destination_warehouse_name" property="destinationWarehouseName" />
        <result column="is_pick" property="isPick" />
        <result column="status" property="status" />
        <result column="status_name" property="statusName" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="order_origin" property="orderOrigin" />
        <result column="bol_no" property="bolNo" />
        <result column="need_declare" property="needDeclare" />
        <result column="need_clearance" property="needClearance" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, customer_id, store_goods_warehouse_code, store_goods_warehouse_name, destination_warehouse_code, destination_warehouse_name, is_pick, status, status_name, create_time, create_user_id, create_user_name, order_origin, bol_no, need_declare, need_clearance, remark
    </sql>

    <!--查询并分页-->
    <select id="findOrderInfoByPage" parameterType="com.jayud.mall.model.bo.QueryOrderInfoForm"
            resultType="com.jayud.mall.model.vo.OrderInfoVO" >
        select
        t.id,t.order_no,t.customer_id,t.store_goods_warehouse_code,t.store_goods_warehouse_name,t.destination_warehouse_code,t.destination_warehouse_name,
        t.is_pick,t.`status`,t.status_name,t.create_time,t.create_user_id,t.create_user_name,t.order_origin,t.bol_no,t.need_declare,t.need_clearance,t.remark
        from order_info t
        WHERE
        1 = 1
        <if test="form.orderNo != null and form.orderNo != ''">
            AND t.order_no LIKE CONCAT('%',#{form.orderNo},'%')
        </if>
        GROUP BY
        t.`id`
    </select>

    <select id="lookOrderInfoFile" parameterType="java.lang.Long"
        resultType="com.jayud.mall.model.vo.OrderInfoVO">
        select
        t.id,t.order_no,t.customer_id,t.store_goods_warehouse_code,t.store_goods_warehouse_name,t.destination_warehouse_code,t.destination_warehouse_name,
        t.is_pick,t.`status`,t.status_name,t.create_time,t.create_user_id,t.create_user_name,t.order_origin,t.bol_no,t.need_declare,t.need_clearance,t.remark
        from order_info t
        where t.id = #{id}
    </select>


</mapper>
