<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.OrderClearanceFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.OrderClearanceFile">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="id_code" property="idCode" />
        <result column="file_name" property="fileName" />
        <result column="options" property="options" />
        <result column="is_check" property="isCheck" />
        <result column="template_url" property="templateUrl" />
        <result column="describe" property="describe" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, id_code, file_name, options, is_check, template_url, describe
    </sql>

    <select id="findOrderClearanceFileByOrderId" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.OrderClearanceFileVO">
        select
        t.id,t.order_id,t.id_code,t.file_name,t.options,t.is_check,t.template_url,t.`describe`,t.audit_status
        from order_clearance_file t
        where order_id=#{orderId}
    </select>

</mapper>
