<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.PromoteCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.PromoteCompany">
        <id column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="company_address" property="companyAddress" />
        <result column="qr_code" property="qrCode" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="client_number" property="clientNumber" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        company_id, company_name, contacts, phone, company_address, qr_code, create_id, create_name, create_time, client_number, parent_id
    </sql>


    <select id="findPromoteCompanyByPage" parameterType="com.jayud.mall.model.bo.QueryPromoteCompanyForm" resultType="com.jayud.mall.model.vo.PromoteCompanyVO">
        select t.company_id,
               t.company_name,
               t.contacts,
               t.phone,
               t.company_address,
               t.qr_code,
               t.create_id,
               t.create_name,
               t.create_time,
               t.client_number,
               t.parent_id,
               t.title
        from promote_company t
        where 1=1
        <if test="form.companyId != null">
            and t.company_id = #{form.companyId}
        </if>
        <if test="form.companyName != null and form.companyName != ''">
            and t.company_name like concat('%',#{form.companyName},'%')
        </if>
        <if test="form.isQueryCompany">
            and t.parent_id is null
        </if>
        <if test="!form.isQueryCompany">
            and t.parent_id is not null
        </if>
    </select>

    <select id="findPromoteCompanyByParentId" parameterType="java.lang.Integer" resultType="com.jayud.mall.model.vo.PromoteCompanyVO">
        select t.company_id,
               t.company_name,
               t.contacts,
               t.phone,
               t.company_address,
               t.qr_code,
               t.create_id,
               t.create_name,
               t.create_time,
               t.client_number,
               t.parent_id,
               t.title
        from promote_company t
        where t.parent_id = #{parentId}
    </select>

    <select id="findPromoteCompanyByCompanyId" parameterType="java.lang.Integer"
            resultType="com.jayud.mall.model.vo.PromoteCompanyVO">
        select t.company_id,
               t.company_name,
               t.contacts,
               t.phone,
               t.company_address,
               t.qr_code,
               t.create_id,
               t.create_name,
               t.create_time,
               t.client_number,
               t.parent_id,
               t.title
        from promote_company t
        where t.company_id = #{companyId}
    </select>

    <select id="findPromoteCompanyParent" resultType="com.jayud.mall.model.vo.PromoteCompanyVO">
        select t.company_id,
               t.company_name,
               t.contacts,
               t.phone,
               t.company_address,
               t.qr_code,
               t.create_id,
               t.create_name,
               t.create_time,
               t.client_number,
               t.parent_id,
               t.title
        from promote_company t
        where t.parent_id is null
    </select>

    <select id="selectClientNumber" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) client_number
        from promote_order
        where company_id = #{companyId}
    </select>

    <select id="findPromoteOrderbyCompanyId" parameterType="java.lang.Integer" resultType="com.jayud.mall.model.vo.PromoteOrderVO">
        select t.id,
               t.company_id,
               t.company_name,
               t.client_company_name,
               t.client_contacts,
               t.client_phone,
               t.client_company_address,
               t.client_manage_platform,
               t.create_time
        from promote_order t
        where t.company_id = #{companyId}

    </select>

</mapper>
