<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.QuotationTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.QuotationTemplate">
        <id column="id" property="id" />
        <result column="types" property="types" />
        <result column="sid" property="sid" />
        <result column="names" property="names" />
        <result column="pic_url" property="picUrl" />
        <result column="tid" property="tid" />
        <result column="start_shipment" property="startShipment" />
        <result column="destination_port" property="destinationPort" />
        <result column="arrive_warehouse" property="arriveWarehouse" />
        <result column="visible_uid" property="visibleUid" />
        <result column="sail_time" property="sailTime" />
        <result column="cut_off_time" property="cutOffTime" />
        <result column="jc_time" property="jcTime" />
        <result column="jkc_time" property="jkcTime" />
        <result column="gid" property="gid" />
        <result column="area_id" property="areaId" />
        <result column="qid" property="qid" />
        <result column="task_id" property="taskId" />
        <result column="bubble_coefficient" property="bubbleCoefficient" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, types, names, pic_url, tid, start_shipment, destination_port, arrive_warehouse, visible_uid, sail_time, cut_off_time, jc_time, jkc_time, goods_type, area_id, quote_type, task_id, remarks, status, user_id, user_name, create_time, update_time
    </sql>

    <!--查询报价模板并分页-->
    <select id="findQuotationTemplateByPage" parameterType="com.jayud.mall.model.bo.QueryQuotationTemplateForm"
            resultType="com.jayud.mall.model.vo.QuotationTemplateVO" >
        select
        t.id,t.types,t.sid,t.`names`,t.pic_url,t.tid,t.start_shipment,t.destination_port,
        t.arrive_warehouse,t.visible_customer,t.visible_uid,t.sail_time,t.cut_off_time,t.jc_time,t.jkc_time,t.estimated_time,t.gidtype,t.gid,t.area_id,t.qidtype,t.qid,t.task_id,t.bubble_coefficient,
        t.remarks,t.`status`,t.user_id,t.user_name,t.create_time,t.update_time,t.billing_weight_unit,t.whole_time,t.design_formulas,t.volume,t.volume_unit,t.minimum_quantity,
        t1.code_name sname,
        t2.code_name tname,
        t3.code_name startShipmentName,
        t4.code_name destinationPortName,
        t5.group_name taskName,
        t6.name destinationCountryName
        from quotation_template t
        LEFT JOIN service_group t1 on t1.id = t.sid
        LEFT JOIN transport_way t2 on t2.id = t.tid
        LEFT JOIN harbour_info t3 on t3.id_code = t.start_shipment
        LEFT JOIN harbour_info t4 on t4.id_code = t.destination_port
        LEFT JOIN task_group t5 on t5.id = t.task_id
        left join country t6 on t6.code = t4.state_code
        WHERE
        1 = 1
        <if test="form.names != null and form.names != ''">
            AND t.`names` LIKE concat('%',#{form.names},'%')
        </if>
        <if test="form.sailTime != null">
            and t.sail_time <![CDATA[ >= ]]> concat(date_format(#{form.sailTime}, '%Y-%m-%d'), ' 00:00:00') AND t.sail_time <![CDATA[ <= ]]> concat(date_format(#{form.sailTime}, '%Y-%m-%d'), ' 23:59:59')
        </if>
        <if test="form.cutOffTime != null">
            and t.cut_off_time <![CDATA[ >= ]]> concat(date_format(#{form.cutOffTime}, '%Y-%m-%d'), ' 00:00:00') AND t.cut_off_time <![CDATA[ <= ]]> concat(date_format(#{form.cutOffTime}, '%Y-%m-%d'), ' 23:59:59')
        </if>
        <if test="form.countryCode != null and form.countryCode != ''">
            and t6.code = #{form.countryCode}
        </if>
        <if test="form.status != null and form.status != ''">
            and t.`status` = #{form.status}
        </if>

    </select>

    <!--查看报价模板-->
    <select id="lookQuotationTemplate" parameterType="java.lang.Long"
            resultType="com.jayud.mall.model.vo.QuotationTemplateVO" >
        select
        t.id,t.types,t.sid,t.`names`,t.pic_url,t.tid,t.start_shipment,t.destination_port,
        t.arrive_warehouse,t.visible_customer,t.visible_uid,t.sail_time,t.cut_off_time,t.jc_time,t.jkc_time,t.estimated_time,t.gidtype,t.gid,t.area_id,t.qidtype,t.qid,t.task_id,t.bubble_coefficient,
        t.remarks,t.`status`,t.user_id,t.user_name,t.create_time,t.update_time,t.billing_weight_unit,t.whole_time,t.design_formulas,t.volume,t.volume_unit,t.minimum_quantity,
        t1.code_name sname,
        t2.code_name tname,
        t3.code_name startShipmentName,
        t4.code_name destinationPortName,
        t5.group_name taskName
        from quotation_template t
        LEFT JOIN service_group t1 on t1.id = t.sid
        LEFT JOIN transport_way t2 on t2.id = t.tid
        LEFT JOIN harbour_info t3 on t3.id_code = t.start_shipment
        LEFT JOIN harbour_info t4 on t4.id_code = t.destination_port
        LEFT JOIN task_group t5 on t5.id = t.task_id
        where t.id = #{id}
    </select>


</mapper>
