<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.QuotedFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.QuotedFile">
        <id column="id" property="id" />
        <result column="group_code" property="groupCode" />
        <result column="group_name" property="groupName" />
        <result column="id_code" property="idCode" />
        <result column="file_name" property="fileName" />
        <result column="options" property="options" />
        <result column="is_check" property="isCheck" />
        <result column="template_url" property="templateUrl" />
        <result column="describe" property="describe" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="types" property="types" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_code, id_code, file_name, options, is_check, template_url, describe, status, create_time
    </sql>

    <select id="findQuotedFileBy" parameterType="com.jayud.mall.model.bo.QuotedFileForm"
            resultType="com.jayud.mall.model.vo.QuotedFileReturnVO">
        select
        CASE t.types
            WHEN '1' THEN '报关服务'
            WHEN '2' THEN '清关服务'
        ELSE '其他'
        END typesName,
        t.group_name groupName,
        t.file_name fileName,t.`options`,t.`describe` remarks,t.id qfId
        from quoted_file t
        where status = 1
    </select>

    <select id="findQuotedFileById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.po.QuotedFile">
        select
            t.id,t.types,t.group_code,t.group_name,t.id_code,t.file_name,t.options,t.is_check,t.template_url,t.`describe`,t.status,t.create_time
        from quoted_file t
        where t.id = #{id}
    </select>

</mapper>
