<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.ShippingAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.ShippingArea">
        <id column="id" property="id" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="state_code" property="stateCode" />
        <result column="contacts" property="contacts" />
        <result column="company_name" property="companyName" />
        <result column="contact_number" property="contactNumber" />
        <result column="contact_phone" property="contactPhone" />
        <result column="address_first" property="addressFirst" />
        <result column="address_second" property="addressSecond" />
        <result column="address_thirdly" property="addressThirdly" />
        <result column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="cid" property="cid" />
        <result column="cname" property="cname" />
        <result column="zip_code" property="zipCode" />
        <result column="delivery_note" property="deliveryNote" />
        <result column="shipping_mark" property="shippingMark" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warehouse_code, warehouse_name, state_code, contacts, company_name, contact_number, contact_phone, address_first, address_second, address_thirdly, pid, pname, cid, cname, zip_code, delivery_note, shipping_mark, status, user_id, user_name, create_time
    </sql>

    <!--查询集货仓表并分页-->
    <select id="findShippingAreaByPage" parameterType="com.jayud.mall.model.bo.QueryShippingAreaForm"
            resultType="com.jayud.mall.model.vo.ShippingAreaVO" >
        select
        t.id,
        t.warehouse_code,
        t.warehouse_name,
        t.state_code,
        t.contacts,
        t.company_name,
        t.contact_number,
        t.contact_phone,
        t.address_first,
        t.address_second,
        t.address_thirdly,
        t.pid,
        t.pname,
        t.cid,
        t.cname,
        t.zip_code,
        t.delivery_note,
        t.shipping_mark,
        t.`status`,
        t.user_id,
        t.user_name,
        t.create_time
        from shipping_area t
        WHERE
        1 = 1
        /*仓库代码*/
        <if test="form.warehouseCode != null and form.warehouseCode != ''">
            AND t.warehouse_code LIKE concat('%',#{form.warehouseCode},'%')
        </if>
        <if test="form.warehouseName != null and form.warehouseName != ''">
            AND t.warehouse_name LIKE concat('%',#{form.warehouseName},'%')
        </if>
        <if test="form.stateCode != null and form.stateCode != ''">
            AND t.state_code LIKE concat('%',#{form.stateCode},'%')
        </if>
    </select>

    <select id="findShippingAreaByWarehouseCode" parameterType="java.lang.String" resultType="com.jayud.mall.model.vo.ShippingAreaVO">
        select t.id,
               t.warehouse_code,
               t.warehouse_name,
               t.state_code,
               t.contacts,
               t.company_name,
               t.contact_number,
               t.contact_phone,
               t.address_first,
               t.address_second,
               t.address_thirdly,
               t.pid,
               t.pname,
               t.cid,
               t.cname,
               t.zip_code,
               t.delivery_note,
               t.shipping_mark,
               t.status,
               t.user_id,
               t.user_name,
               t.create_time
        from shipping_area t
        where t.warehouse_code = #{warehouseCode}

    </select>


</mapper>
