<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.SupplierCostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.SupplierCost">
        <id column="id" property="id" />
        <result column="supplier_code" property="supplierCode" />
        <result column="serve_code" property="serveCode" />
        <result column="cost_code" property="costCode" />
        <result column="cost_name" property="costName" />
        <result column="tid" property="tid" />
        <result column="count_way" property="countWay" />
        <result column="amount" property="amount" />
        <result column="amount_unit" property="amountUnit" />
        <result column="amount_source" property="amountSource" />
        <result column="unit_price" property="unitPrice" />
        <result column="unit" property="unit" />
        <result column="cid" property="cid" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_code, serve_code, cost_code, cost_name, tid, count_way, amount, amount_unit, amount_source, unit_price, unit, cid, status, user_id, user_name, create_time
    </sql>

</mapper>
