<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.SupplierInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.SupplierInfo">
        <id column="id" property="id" />
        <result column="supplier_code" property="supplierCode" />
        <result column="supplier_ch_name" property="supplierChName" />
        <result column="supplier_en_name" property="supplierEnName" />
        <result column="state_code" property="stateCode" />
        <result column="contacts" property="contacts" />
        <result column="company_name" property="companyName" />
        <result column="contact_number" property="contactNumber" />
        <result column="contact_phone" property="contactPhone" />
        <result column="address_first" property="addressFirst" />
        <result column="address_second" property="addressSecond" />
        <result column="address_thirdly" property="addressThirdly" />
        <result column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="cid" property="cid" />
        <result column="cname" property="cname" />
        <result column="zip_code" property="zipCode" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_code, supplier_ch_name, supplier_en_name, state_code, contacts, company_name, contact_number, contact_phone, address_first, address_second, address_thirdly, pid, pname, cid, cname, zip_code, status, user_id, user_name, create_time
    </sql>

    <!--查询并分页-->
    <select id="findSupplierInfoByPage" parameterType="com.jayud.mall.model.bo.QuerySupplierInfoForm"
            resultType="com.jayud.mall.model.vo.SupplierInfoVO" >
        select
        t.id,t.supplier_code,t.supplier_ch_name,t.supplier_en_name,t.state_code,t.contacts,t.company_name,t.contact_number,t.contact_phone,t.address_first,t.address_second,t.address_thirdly,t.pid,t.pname,t.cid,t.cname,t.zip_code,t.status,t.user_id,t.user_name,t.create_time
        from supplier_info t
        WHERE
        1 = 1
        <if test="form.supplierChName != null and form.supplierChName != ''">
            AND t.supplier_ch_name LIKE CONCAT('%',#{form.supplierChName},'%')
        </if>
        <if test="form.supplierEnName != null and form.supplierEnName != ''">
            AND t.supplier_en_name LIKE CONCAT('%',#{form.supplierEnName},'%')
        </if>
        <if test="form.status != null and form.status != '' ">
            AND t.status = #{form.status}
        </if>
        GROUP BY
        t.`id`
    </select>


</mapper>
