<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.SystemUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.SystemUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="en_user_name" property="enUserName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="company" property="company" />
        <result column="wkno" property="wkno" />
        <result column="login_time" property="loginTime" />
        <result column="status" property="status" />
        <result column="note" property="note"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,`name`,`password`,user_name,en_user_name,phone,email,company,wkno,login_time,`status`,note,created_user,created_time,updated_user,updated_time
    </sql>

    <!--查询登录用户-->
    <select id="findSystemUserByLoginname" resultType="com.jayud.mall.model.vo.SystemUserVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM system_user
        WHERE status = 0
        AND phone=#{loginname} OR email=#{loginname}
    </select>

    <!--获取所有用户-->
    <select id="getUserList" resultType="com.jayud.mall.model.vo.SystemUserVO">
        select
        <include refid="Base_Column_List"/>
        from system_user
    </select>

    <!--插入用户-->
    <insert id="insertUser" parameterType="com.jayud.mall.model.bo.SaveSystemUserForm">
        INSERT INTO system_user (user_name, company_id, en_user_name, phone, email)
        VALUES (#{userName}, #{companyId}, #{enUserName}, #{phone}, #{email})
    </insert>

    <!--修改用户-->
    <update id="updateUser" parameterType="com.jayud.mall.model.bo.SaveSystemUserForm">
        UPDATE system_user
        SET
            user_name = #{userName},
            company_id = #{companyId},
            en_user_name = #{enUserName},
            phone = #{phone},
            email = #{email}
        where id = #{id}
    </update>

    <!--删除用户-->
    <delete id="deleteUser" parameterType="Long">
        delete from system_user where id = #{id}
    </delete>

    <!--根据用户Id查询用户-->
    <select id="getUser" parameterType="Long" resultType="com.jayud.mall.model.vo.SystemUserVO">
        select
        <include refid="Base_Column_List"/>
        from system_user where id = #{id}
    </select>

    <!--禁用用户-->
    <update id="disableUser" parameterType="Long">
        UPDATE system_user
        SET
            status = 1
        where id = #{id}
    </update>

    <!--启用用户-->
    <update id="enableUser" parameterType="Long">
        UPDATE system_user
        SET
            status = 0
        where id = #{id}
    </update>

    <!--重置密码-->
    <update id="resetPassword" parameterType="com.jayud.mall.model.bo.ResetUserPwdForm">
        UPDATE system_user
        SET
            password = #{password}
        where id = #{id}
    </update>

    <!--查询用户分页-->
    <select id="findUserByPage" parameterType="com.jayud.mall.model.bo.QueryUserForm"
            resultType="com.jayud.mall.model.vo.SystemUserVO" >
        select
        t.id,t.`name`,t.`password`,t.user_name,t.en_user_name,t.phone,t.email,t.company,t.wkno,t.login_time,t.`status`,t.note,t.created_user,t.created_time,t.updated_user,t.updated_time
        from
        system_user t
        where
        1 = 1
        <if test="form.userName != null and form.userName != ''">
            AND t.user_name LIKE concat('%',#{form.userName},'%')
        </if>
        <if test="form.status != null and form.status != ''">
            AND t.`status` = #{form.status}
        </if>
    </select>


</mapper>
