<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.SystemRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.SystemRole">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_describe" property="roleDescribe"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--角色菜单resultMap-->
    <resultMap id="RoleMenuResultMap" type="com.jayud.mall.model.vo.SystemRoleVO">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_describe" property="roleDescribe"/>
        <result column="create_by" property="createBy"/>
        <!--菜单集合-->
        <collection property="menuIds" column="id" javaType="list" select="selectMenuIdByRoleId"></collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bs_user_id, role_name, `type`, role_describe, create_by, create_time, update_by, update_time
    </sql>

    <!--保存角色-->
    <insert id="saveRole"
            parameterType="com.jayud.mall.model.po.SystemRole"
            useGeneratedKeys="true" keyProperty="id">
        insert into system_role
           (role_name,role_describe)
        values (
            #{roleName},
            #{roleDescribe})
    </insert>

    <!--删除用户-->
    <delete id="deleteRole" parameterType="Long">
        delete from system_role where id = #{id}
    </delete>

    <!--根据Id,查询角色，以及菜单Id-->
    <select id="getRole" parameterType="Long" resultMap="RoleMenuResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_role where id = #{id}
    </select>

    <!--查询角色分页-->
    <select id="findRoleByPage" parameterType="com.jayud.mall.model.bo.QueryRoleForm"
            resultType="com.jayud.mall.model.vo.SystemRoleVO" >
        SELECT
        sr.id,
        sr.bs_user_id,
        sr.role_name,
        sr.`type`,
        sr.role_describe,
        sr.create_by,
        sr.create_time,
        sr.update_by,
        sr.update_time
        FROM
        system_role sr
        where 1=1
        <if test="form.roleName != null and form.roleName != ''">
            AND sr.role_name LIKE concat('%',#{form.roleName},'%')
        </if>
        GROUP BY
        sr.`id`
    </select>

    <select id="selectRolesByUserId" parameterType="java.lang.Long"
            resultType="com.jayud.mall.model.po.SystemRole" >
        select
        t.id,
        t.role_name,
        t.role_describe,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time
        from system_role t
        join system_user_role_relation t1 on t1.role_id = t.id and user_id=#{userId}
    </select>


</mapper>
