<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.TemplateCopeReceivableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.TemplateCopeReceivable">
        <id column="id" property="id" />
        <result column="qie" property="qie" />
        <result column="cost_name" property="costName" />
        <result column="specification_code" property="specificationCode" />
        <result column="calculate_way" property="calculateWay" />
        <result column="count" property="count" />
        <result column="unit" property="unit" />
        <result column="source" property="source" />
        <result column="unit_price" property="unitPrice" />
        <result column="cid" property="cid" />
        <result column="amount" property="amount" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, qie, cost_name, specification_code, calculate_way, count, unit, source, unit_price, cid, amount, remarks
    </sql>

    <!--海运费-->
    <select id="findTemplateCopeReceivableOceanFeeByQie" parameterType="java.lang.Integer"
            resultType="com.jayud.mall.model.vo.TemplateCopeReceivableVO">
            select
            t2.id,t2.qie,t2.cost_name,t2.specification_code,t2.calculate_way,t2.count,t2.unit,t2.source,t2.unit_price,t2.cid,t2.amount,t2.remarks,
            t3.currency_code,
            CONCAT(t2.amount,' ',t3.currency_code) amountFormat
            from (
            select
            DISTINCT t1.id,substring_index( substring_index(t1.qid,',',t2.help_topic_id + 1), ',' ,-1 ) as qid
            from (select id,qid from quotation_template where id = #{qie}) t1 join mysql.help_topic t2 on t2.help_topic_id <![CDATA[ < ]]> (length(t1.qid) - length(REPLACE(t1.qid,',','')) + 1 )
            ) t
            LEFT JOIN goods_type t1 ON t1.id = t.qid AND types=1
            LEFT JOIN template_cope_receivable t2 ON t2.qie = t.id and t2.specification_code = t1.`name`
            LEFT JOIN currency_info t3 on t3.id = t2.cid
    </select>

    <!--内陆费-->
    <select id="findTemplateCopeReceivableInlandFeeListByQie" parameterType="java.lang.Integer"
            resultType="com.jayud.mall.model.vo.TemplateCopeReceivableVO">
        select
        t2.id,t2.qie,t2.cost_name,t2.specification_code,t2.calculate_way,t2.count,t2.unit,t2.source,t2.unit_price,t2.cid,t2.amount,t2.remarks,
        t3.currency_code,
        CONCAT(t2.amount,' ',t3.currency_code) amountFormat
        from (
        select
        DISTINCT t1.id,substring_index( substring_index(t1.area_id,',',t2.help_topic_id + 1), ',' ,-1 ) as area_id
        from (select id,area_id from quotation_template where id = #{qie}) t1 join mysql.help_topic t2 on t2.help_topic_id <![CDATA[ < ]]>  (length(t1.area_id) - length(REPLACE(t1.area_id,',','')) + 1 )
        ) t
        LEFT JOIN shipping_area t1 ON t1.id = t.area_id
        LEFT JOIN template_cope_receivable t2 ON t2.qie = t.id and t2.specification_code = t1.warehouse_name
        LEFT JOIN currency_info t3 on t3.id = t2.cid
    </select>



</mapper>
