<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.TransportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.Transport">
        <id column="id" property="id" />
        <result column="transport_no" property="transportNo" />
        <result column="supplier_id" property="supplierId" />
        <result column="tracking_no" property="trackingNo" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="amount" property="amount" />
        <result column="cid" property="cid" />
        <result column="transport_status" property="transportStatus" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, transport_no, supplier_id, tracking_no, weight, volume, amount, cid, transport_status, create_time
    </sql>

</mapper>
