<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.TransportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.Transport">
        <id column="id" property="id" />
        <result column="transport_no" property="transportNo" />
        <result column="supplier_id" property="supplierId" />
        <result column="tracking_no" property="trackingNo" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="amount" property="amount" />
        <result column="cid" property="cid" />
        <result column="transport_status" property="transportStatus" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, transport_no, supplier_id, tracking_no, weight, volume, amount, cid, transport_status, create_time
    </sql>

    <select id="findTransportByPage" parameterType="com.jayud.mall.model.bo.QueryTransportForm"
            resultType="com.jayud.mall.model.vo.TransportVO">
        select t.id,
        t.transport_no,
        t.supplier_id,
        t.tracking_no,
        t.weight,
        t.volume,
        t.amount,
        t.cid,
        t.transport_status,
        t.create_time,
        t1.company_name supplierName
        from transport t
        left join supplier_info t1 on t1.id = t.supplier_id
        where 1=1
        <if test="form.keyword != null and form.keyword != ''">
            and (
            t.transport_no like concat('%',#{form.keyword},'%')
            or
            t.tracking_no like concat('%',#{form.keyword},'%')
            )
        </if>
    </select>

    <select id="findTransportById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.TransportVO">
        select t.id,
               t.transport_no,
               t.supplier_id,
               t.tracking_no,
               t.weight,
               t.volume,
               t.amount,
               t.cid,
               t.transport_status,
               t.create_time,
               t1.company_name supplierName,
               t2.currency_code,
               t2.currency_name
        from transport t
        left join supplier_info t1 on t1.id = t.supplier_id
        left join currency_info t2 on t2.id = t.cid
        where t.id = #{id}
    </select>


</mapper>
