<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.mall.mapper.WaybillTaskRelevanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.mall.model.po.WaybillTaskRelevance">
        <id column="id" property="id" />
        <result column="order_info_id" property="orderInfoId" />
        <result column="task_code" property="taskCode" />
        <result column="task_name" property="taskName" />
        <result column="sort" property="sort" />
        <result column="days" property="days" />
        <result column="day_flag" property="dayFlag" />
        <result column="operators" property="operators" />
        <result column="minutes" property="minutes" />
        <result column="score" property="score" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="reason" property="reason" />
        <result column="up_time" property="upTime" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_info_id, task_code, task_name, sort, days, day_flag, operators, minutes, score, remarks, status, reason, up_time, user_id, user_name, create_time
    </sql>


    <select id="findWaybillTaskByOrderInfoId" parameterType="java.lang.Long"
            resultType="com.jayud.mall.model.vo.WaybillTaskVO">
        select
        t.task_code, t.task_name, t.sort, t.days, t.day_flag, t.minutes, t.score, t.remarks, t.status, t.activation_switch,
        t1.userName operators, t1.member_user_id userId, t1.userName userName
        from (
            select
            t.id orderId,t.offer_info_id,
            t1.qie,
            t2.task_id,
            t3.group_code,t3.group_name,
            t4.task_code,t4.task_name,t4.sort,t4.days,t4.day_flag,t4.minutes,t4.score,t4.remarks,t4.status,t4.activation_switch
            from (select id,offer_info_id from order_info where id=#{orderId}) t
            left join offer_info t1 on t1.id = t.offer_info_id
            left join quotation_template t2 on t2.id = t1.qie
            left join task_group t3 on t3.id = t2.task_id
            left join waybill_task t4 on t4.group_code = t3.group_code
        ) t
        left join (
            select
            t.id orderId,t.customer_id,
            t1.operation_team_id,
            t2.group_code,t2.group_name,
            t3.member_user_id,t3.task_id,
            t4.name userName,
            t5.task_code,t5.task_name
            from (select id,customer_id from order_info where id=#{orderId}) t
            join (
            select
            DISTINCT t1.id,substring_index( substring_index(t1.operation_team_id,',',t2.id + 1), ',' ,-1 ) as operation_team_id
            from (select id,operation_team_id from customer ) t1
            join help_index t2 on t2.id <![CDATA[ < ]]> (length(t1.operation_team_id) - length(REPLACE(t1.operation_team_id,',','')) + 1 )
            ) t1 on t1.id = t.customer_id
            join operation_team t2 on t2.id = t1.operation_team_id
            join operation_team_member t3 on t3.operation_team_id = t2.id
            join system_user t4 on t4.id = t3.member_user_id
            join task t5 on t5.id = t3.task_id
        ) t1 on t1.task_code = t.task_code and t1.task_name = t.task_name;

    </select>


    <select id="findWaybillTaskRelevance" parameterType="com.jayud.mall.model.bo.WaybillTaskRelevanceQueryForm"
            resultType="com.jayud.mall.model.vo.WaybillTaskRelevanceVO">
        select
            t.id,t.order_info_id,t.task_code,t.task_name,t.sort,t.days,t.day_flag,t.operators,t.minutes,t.score,t.remarks,t.status,t.reason,t.up_time,t.user_id,t.user_name,t.create_time,t.task_last_time,
            t1.order_no
        from waybill_task_relevance t
                 join order_info t1 on t1.id = t.order_info_id
        where 1=1
        <if test="form.userId != null">
            and t.user_id = #{form.userId}
        </if>
        order by t.order_info_id asc ,t.sort asc
    </select>

    <select id="findWaybillTaskRelevanceById" parameterType="java.lang.Long" resultType="com.jayud.mall.model.vo.WaybillTaskRelevanceVO">
        select
            t.id,t.order_info_id,t.task_code,t.task_name,t.sort,t.days,t.day_flag,t.operators,t.minutes,t.score,t.remarks,t.status,t.reason,t.up_time,t.user_id,t.user_name,t.create_time,t.task_last_time,
            t1.order_no
        from waybill_task_relevance t
                 join order_info t1 on t1.id = t.order_info_id
        where t.id = #{id}
    </select>

    <select id="findWaybillTaskRelevanceByParaMap" parameterType="java.util.Map" resultType="com.jayud.mall.model.po.WaybillTaskRelevance">
        select
        t.id,t.order_info_id,t.task_code,t.task_name,t.sort,t.days,t.day_flag,t.operators,t.minutes,t.score,t.remarks,t.status,t.reason,t.up_time,t.user_id,t.user_name,t.create_time,t.task_last_time
        from waybill_task_relevance t
        left join task_execution_rule t1 on t1.to_task_code = t.task_code
        where 1=1
        and t.order_info_id = #{paraMap.order_info_id}
        and t1.from_task_code = #{paraMap.from_task_code}
    </select>


</mapper>
