<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.DeliveryAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.DeliveryAddress">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="country_code" property="countryCode" />
        <result column="country_name" property="countryName" />
        <result column="state_code" property="stateCode" />
        <result column="state_name" property="stateName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="address" property="address" />
        <result column="post_code" property="postCode" />
        <result column="warehouse_info_id" property="warehouseInfoId" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, contacts, phone, country_code, country_name, state_code, state_name, city_code, city_name, address,
        post_code, warehouse_info_id, status,create_user
    </sql>

    <select id="findDeliveryAddress"  parameterType="com.jayud.tms.model.bo.QueryDeliveryAddressForm" resultType="com.jayud.tms.model.vo.DeliveryAddressVO" >
        SELECT
        da.`id` deliveryId,
        da.`contacts`,
        da.`phone`,
        da.`country_name` countryName,
        da.`state_name` stateName,
        da.`city_name` cityName,
        da.`address`
        FROM
        delivery_address da
        WHERE da.type = #{form.type}
        and da.customer_id in (select ci.id from customer_info ci where ci.id_code = #{form.customerCode})
        <if test="form.contacts != null and form.contacts != ''">
            and da.contacts like concat('%',#{form.contacts},'%')
        </if>
        <if test="form.phone != null and form.phone != ''">
            and da.phone = #{form.phone}
        </if>
    </select>
</mapper>
