<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderSendCarsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderSendCars">
        <id column="id" property="id"/>
        <result column="transport_no" property="transportNo"/>
        <result column="order_no" property="orderNo"/>
        <result column="vehicle_type" property="vehicleType"/>
        <result column="vehicle_size" property="vehicleSize"/>
        <result column="cntr_no" property="cntrNo"/>
        <result column="cntr_pic" property="cntrPic"/>
        <result column="cntr_pic_name" property="cntrPicName"/>
        <result column="driver_info_info" property="driverInfoId"/>
        <result column="vehicle_id" property="vehicleId"/>
        <result column="remarks" property="remarks"/>
        <result column="describes" property="describes"/>
        <result column="status" property="status"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user" property="updatedUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, transport_no, order_no,vehicle_type, vehicle_size, cntr_no, cntr_pic,
        cntr_pic_name, driver_info_info,
        vehicle_id,remarks, describes, status, updated_time, updated_user, created_user, created_time
    </sql>
    <select id="getOrderSendInfo" resultType="com.jayud.tms.model.vo.OrderSendCarsVO">
        SELECT
            osc.`id`,
            osc.`transport_no` transportNo,
            osc.`vehicle_size` vehicleSize,
            osc.`vehicle_type` vehicleType,
            osc.`cntr_no` cntrNo,
            vi.supplier_id supplierId,
            si.`supplier_ch_name` supplierName,
            vi.id vehicleId,
            vi.`plate_number` plateNumber,
            di.`name` driverName,
            osc.driver_info_id driverInfoId,
            vi.hk_number hkNumber,
            di.phone driverPhone,
            osc.`describes`,
            osc.`status`,
            osc.`order_no` orderNo,
            osc.`remarks`,
            osc.`jockey_id`,
            wi.id warehouseInfoId,
            wi.`warehouse_name` warehouseName,
            wi.`contacts` warehouseContacts,
            wi.`contact_number` warehouseNumber,
            wi.is_virtual isVirtual,
            '中国' countryName,
            ( SELECT rc.NAME FROM region_city rc WHERE rc.id = wi.state_code LIMIT 1 ) AS provinceName,
            ( SELECT rc.NAME FROM region_city rc WHERE rc.id = wi.city_code LIMIT 1 ) AS cityName,
            wi.`address` address
        FROM
             order_transport ot
			LEFT JOIN warehouse_info wi ON wi.`id` = ot.`warehouse_info_id`
			left join order_send_cars osc on ot.order_no = osc.order_no
            LEFT JOIN driver_info di ON di.id = osc.driver_info_id
            LEFT JOIN vehicle_info vi ON vi.id = osc.vehicle_id
            LEFT JOIN supplier_info si ON vi.`supplier_id` = si.`id`
            WHERE ot.`order_no` = #{orderNo}
    </select>
    <select id="initDriverInfo" resultType="com.jayud.tms.model.vo.DriverInfoPdfVO">
        SELECT
            ot.legal_name legalName,le.rigis_address rigisAddress,le.phone legalPhone,le.fax,
            di.`name`,di.id_no idNo,di.hk_phone hkPhone,di.phone,
            vi.pt_company ptCompany,vi.customs_code customsCode,vi.plate_number plateNumber,vi.hk_number hkNumber,'' qs,
			vi.vehicle_tonnage vehicleTonnage,vi.pt_phone ptPhone,vi.pt_fax ptFax,vi.stepping_code steppingCode,'' loadList,
			vi.enterprise_code enterpriseCode,vi.weight,
			osc.jockey_id jockeyId,osc.jockey,
			(select name from port_info pi where pi.id_code = ot.port_code) portCodeDesc
        FROM
            order_transport ot
            LEFT JOIN legal_entity le on le.legal_name = ot.legal_name
			left join order_send_cars osc on ot.order_no = osc.order_no
	        LEFT JOIN driver_info di ON di.id = osc.driver_info_id
	        LEFT JOIN vehicle_info vi ON vi.id = osc.vehicle_id
            WHERE ot.`order_no` = #{orderNo}
    </select>
    <select id="initSendCarList" resultType="com.jayud.tms.model.vo.SendCarListTempVO">
    SELECT
        ot.legal_name legalName,
        le.legal_en_name legalEnName,
        ot.order_no jobNumber,
        di.phone,
		vi.plate_number plateNumber,
		ota1.enter_warehouse_no enterWarehouseNo,
        (select DATE_FORMAT(ota.take_time, '%Y-%m-%d' ) from order_take_adr ota where ota.opr_type = '1' and ota.order_no = ot.order_no limit 1) createTimeStr,
        di.`name`,
        ota1.take_time takeTimeStr,
        CONCAT(ifnull(da.state_name,''),ifnull(da.city_name,''),da.address) address,
        ota1.piece_amount pieceAmount,
        ota1.weight,
        ota1.remarks
    FROM
        order_transport ot
        left join legal_entity le on le.legal_name = ot.legal_name
        left join order_take_adr ota1 on ota1.order_no = ot.order_no and ota1.opr_type = '2'
        left join delivery_address da on da.id = ota1.delivery_id
        left join order_send_cars osc on osc.order_no = ot.order_no
        left join driver_info di on di.id = osc.driver_info_id
        left join vehicle_info vi on vi.id = osc.vehicle_id
    WHERE
        ot.order_no = #{orderNo}
    </select>
    <select id="getDriverPendingOrderNum" resultType="java.lang.Integer">
        select count(1) from order_send_cars osc
        inner join order_transport ot on ot.order_no = osc.order_no
        <where>
            and (osc.driver_info_id = #{driverId} OR osc.jockey_id = #{driverId})
            and ot.status ='T_4'
            <if test="orderNos!=null and orderNos.size>0">
                and osc.order_no not in
                <foreach collection="orderNos" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>
    <select id="getByExcludeStatus" resultType="com.jayud.tms.model.po.OrderSendCars">
        select c.* from order_send_cars c inner join order_transport ot
        <where>
            ot.status in 
            <foreach collection="excludeStatus"  item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>

    </select>
</mapper>
