<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderTakeAdrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderTakeAdr">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="delivery_id" property="deliveryId" />
        <result column="take_time" property="takeTime" />
        <result column="describe" property="describe" />
        <result column="amount" property="amount" />
        <result column="unit" property="unit" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="remarks" property="remarks" />
        <result column="types" property="types" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, delivery_id, take_time, describe, amount, unit, weight, volume, remarks, types, create_time, create_user
    </sql>

</mapper>
