<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderTransportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderTransport">
        <id column="id" property="id" />
        <result column="main_order_no" property="mainOrderNo" />
        <result column="order_no" property="orderNo" />
        <result column="port_code" property="portCode" />
        <result column="goods_type" property="goodsType" />
        <result column="vehicle_type" property="vehicleType" />
        <result column="vehicle_size" property="vehicleSize" />
        <result column="cntr_no" property="cntrNo" />
        <result column="cntr_pic" property="cntrPic" />
        <result column="cntr_pic_name" property="cntrPicName" />
        <result column="warehouse_info_id" property="warehouseInfoId" />
        <result column="encode" property="encode" />
        <result column="status" property="status" />
        <result column="is_load_goods" property="isLoadGoods" />
        <result column="is_unload_goods" property="isUnloadGoods" />
        <result column="unit_code" property="unitCode" />
        <result column="legal_name" property="legalName" />
        <result column="hk_unit_code" property="hkUnitCode" />
        <result column="hk_legal_name" property="hkLegalName" />
        <result column="is_hk_clear" property="isHkClear" />
        <result column="jiedan_user" property="jiedanUser" />
        <result column="jiedan_time" property="jiedanTime" />
        <result column="car_weigh_num" property="carWeighNum" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="created_time" property="createdTime" />
        <result column="created_user" property="createdUser" />
        <result column="hk_supplier_id" property="hkSupplierId" />
        <result column="hk_driver_name" property="hkDriverName" />
        <result column="hk_driver_phone" property="hkDriverPhone" />
        <result column="license_plate" property="licensePlate" />
        <result column="hk_license_plate" property="hkLicensePlate" />
        <result column="need_input_cost" property="needInputCost" />
        <result column="send_car_pdf_url" property="sendCarPdfUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_order_no, order_no, port_code, goods_type, vehicle_type, vehicle_size, cntr_no, cntr_pic, cntrPicName,
        warehouse_info_id, encode, status, is_load_goods, is_unload_goods,unit_code, hk_unit_code,hk_legal_name,is_hk_clear,
        updated_time, updated_user, created_time,created_user,jiedan_user,jiedan_time,car_weigh_num,legal_name,need_input_cost,
        hk_supplier_id,hk_driver_name,hk_driver_phone,license_plate,hk_license_plate,send_car_pdf_url
    </sql>

    <select id="getOrderTransport"  resultType="com.jayud.tms.model.vo.InputOrderTransportVO" >
        SELECT
          ot.id,
          ot.`order_no` orderNo,
          ot.`jiedan_user` jiedanUser,
          ot.`legal_name` legalName,
          DATE_FORMAT(ot.`jiedan_time`,'%Y-%m-%d %H:%i:%S') jiedanTimeStr,
          ot.`goods_type` goodsType,
          ot.`port_code` portCode,
          ot.`unit_code` unitCode,
          p.`name` portName,
          ot.`encode`,
          ot.`status`,
          osc.`hk_license_plate` hkLicensePlate,
          osc.`license_plate` licensePlate,
          ot.`vehicle_size` vehicleSize,
          ot.`vehicle_type` vehicleType,
          ot.`cntr_no` cntrNo,
          ot.`warehouse_info_id` warehouseInfoId,
          si.`supplier_ch_name` supplierChName,
          '' customsNo,
          osc.`driver_name` driverName,
          osc.`driver_phone` driverPhone,
          osc.`driver_hk_phone` driverHkPhone,
          ot.`car_weigh_num` carWeighNum,
          ot.`seamless_no`  seamlessNo,
          ot.`clear_customs_no` clearCustomsNo,
          osc.`remarks`,
          ot.`cntr_pic` cntrPic,
          ot.`cntr_pic_name` cntrPicName,
          wi.`company_name` companyName,
          wi.`contacts`,
          wi.`contact_number` contactNumber,
          wi.`address`,
          ot.`is_load_goods` isLoadGoods,
          ot.`is_unload_goods` isUnloadGoods,
          ot.`hk_legal_name` hkLegalName,
          ot.`hk_unit_code` hkUnitCode,
          ot.`is_hk_clear` isHkClear
        FROM
          order_transport ot
          LEFT JOIN order_info oi
            ON ot.`main_order_no` = oi.`order_no`
          LEFT JOIN port_info p
            ON ot.`port_code` = p.`id_code`
          LEFT JOIN order_send_cars osc
            ON osc.order_no = ot.`order_no`
          LEFT JOIN supplier_info si
            ON si.`id` = osc.`supplier_info_id`
          LEFT JOIN warehouse_info wi
            ON osc.`warehouse_info_id` = wi.`id`
          where ot.`main_order_no` = #{mainOrderNo}
    </select>
    <select id="findTransportOrderByPage" parameterType="com.jayud.tms.model.bo.QueryOrderTmsForm" resultType="com.jayud.tms.model.vo.OrderTransportVO" >
        SELECT
            ot.`id`,
            oi.`id` mainOrderId,
            oi.`order_no` mainOrderNo,
            ot.`order_no` orderNo,
            p.`name` portName,
            ot.`goods_type` goodsType,
            oi.`status`,
            oi.`class_code` classCode,
            pc.`name` classCodeDesc,
            oi.`customer_name` customerName,
            ot.`created_user` createdUser,
            DATE_FORMAT(ot.`created_time`,'%Y-%m-%d %H:%i:%S') createdTimeStr,
            t.`goods_desc` goodsDesc,
            t.`piece_amount` pieceAmount,
            t.`plate_amount` plateAmount,
            t.`weight`,
            t.state_name stateName1,
            t.city_name cityName1,
            t.address address1,
            s.state_name stateName2,
            s.city_name cityName2,
            s.address address2,
            ot.`encode`,
            ot.`vehicle_type` vehicleType,
            ot.`vehicle_size` vehicleSize,
            ot.`cntr_no` cntrNo
        FROM
            order_transport ot
            LEFT JOIN order_info oi
            ON ot.`main_order_no` = oi.`order_no`
            LEFT JOIN port_info p
            ON p.`id_code` = ot.`port_code`
            LEFT JOIN product_classify pc
            ON oi.`class_code` = pc.`id_code`
            LEFT JOIN (SELECT ota.`order_no`,da.`state_name`,da.`city_name`,da.`address`,ota.`goods_desc`,ota.`piece_amount`,ota.`plate_amount`,
            ota.`weight` FROM order_take_adr ota LEFT JOIN delivery_address da
            ON ota.`delivery_id` = da.`id` AND ota.`opr_type` = '1' ) t
            ON t.order_no = ot.`order_no`
            LEFT JOIN (SELECT ota.`order_no`,da.`state_name`,da.`city_name`,da.`address`,ota.`goods_desc`,ota.`piece_amount`,ota.`plate_amount`,
            ota.`weight` FROM order_take_adr ota LEFT JOIN delivery_address da
            ON ota.`delivery_id` = da.`id` AND ota.`opr_type` = '2' ) s
            ON s.order_no = ot.`order_no` where 1 = 1
        <if test="form.orderNo != null and form.orderNo != ''">
            and ot.order_no = #{form.orderNo}
        </if>
        <if test="form.portCode != null and form.portCode != ''">
            and ot.port_code = #{form.portCode}
        </if>
        <if test="form.classCode != null and form.classCode !=''">
            and oi.class_code = #{form.classCode}
        </if>
        <if test="form.customerName != null and form.customerName !=''">
            and oi.customer_name like concat('%',#{form.customerName},'%')
        </if>
        <if test="form.legalName != null and form.legalName !=''">
            and ot.legal_name like concat('%',#{form.legalName},'%')
        </if>
        <if test="form.endCreatedTime != null and form.endCreatedTime !=''">
            and DATE_FORMAT(ot.`created_time`,'%Y-%m-%d %H:%i:%S') <![CDATA[<=]]> #{form.endCreatedTime}
        </if>
        <if test="form.beginCreatedTime != null and form.beginCreatedTime !=''">
            and DATE_FORMAT(ot.`created_time`,'%Y-%m-%d %H:%i:%S') <![CDATA[>=]]> #{form.beginCreatedTime}
        </if>
        <if test="form.cmd == 'T_1'">
            AND ot.`status` = 'T_0'
        </if>
        <if test="form.cmd == 'T_2'">
            AND ot.`status` = 'T_1'
        </if>
        <if test="form.cmd == 'T_3'">
            and ot.`status` = 'T_2'
        </if>
        <if test="form.cmd == 'T_3_1'">
            AND ot.`status` = 'T_3_1'
        </if>
        <if test="form.cmd == 'T_4'">
            AND ot.`status` = 'T_3'
        </if>
        <if test="form.cmd == 'T_5'">
            AND ot.`status` = 'T_4'
        </if>
        <if test="form.cmd == 'T_6'">
            AND ot.`status` = 'C_5'
        </if>
        <if test="form.cmd == 'T_8'">
            AND ot.`status` = 'T_7'
        </if>
        <if test="form.cmd == 'T_9'">
            AND ot.`status` = 'T_8'
        </if>
        <if test="form.cmd == 'clearCustoms'">
            AND ot.`status` != 'HK_C_1' AND ot.`is_hk_clear` = '1'
        </if>
        <if test="form.cmd == 'T_10'">
            AND ot.`status` = 'T_9'
        </if>
        <if test="form.cmd == 'T_13'">
            AND ot.`status` = 'T_10'
        </if>
        <if test="form.cmd == 'T_14'">
            AND ot.`status` = 'T_13'
        </if>
        <if test="form.cmd == 'T_15'">
            AND ot.`status` = 'T_14'
        </if>
        <if test="form.cmd == 'costAudit'">
            AND oi.`status` = '1'
            AND (EXISTS (SELECT 1 FROM order_payment_cost opc WHERE opc.`main_order_no` = oi.orderNo)
            OR EXISTS (SELECT 1 FROM order_receivable_cost orc WHERE orc.`main_order_no` = oi.orderNo))
        </if>
    </select>
    <select id="initPdfData"  resultType="com.jayud.tms.model.vo.SendCarPdfVO" >
        SELECT
            oi.`legal_name` legalName,
            '' enLegalName,
            '' tel,
            '' fax,
            ot.`order_no` orderNo,
            DATE_FORMAT(
            ot.`jiedan_time`,
            '%Y-%m-%d %H:%i:%S'
            ) jiedanTimeStr,
            osc.`license_plate` licensePlate,
            osc.`hk_license_plate` hkLicensePlate,
            osc.`driver_phone` driverPhone,
            osc.`vehicle_size` vehicleSize,
            osc.`vehicle_type` vehicleType,
            p.`name` portName,
            ot.`goods_type` goodsType,
            ot.`jiedan_user` jiedanUser,
            si.`supplier_ch_name` clearCustomsAddress
        FROM
        order_info oi
        LEFT JOIN order_transport ot
        ON ot.`main_order_no` = oi.`order_no`
        LEFT JOIN order_send_cars osc
        ON osc.`transport_no` = ot.`order_no`
        LEFT JOIN port_info p
        ON p.`id_code` = ot.`port_code`
        LEFT JOIN supplier_info si
        ON osc.`supplier_info_id` = si.`id`
        WHERE oi.`class_code` = 'ZGYS'
        <if test="orderNo != null and orderNo != ''">
            and ot.order_no = #{orderNo}
        </if>
    </select>
</mapper>
