<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderSendCarsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderSendCars">
        <id column="id" property="id" />
        <result column="transport_no" property="transportNo" />
        <result column="order_no" property="orderNo" />
        <result column="encode" property="encode" />
        <result column="encode_url" property="encodeUrl" />
        <result column="encode_url_name" property="encodeUrlName" />
        <result column="vehicle_type" property="vehicleType" />
        <result column="vehicle_size" property="vehicleSize" />
        <result column="cntr_no" property="cntrNo" />
        <result column="cntr_pic" property="cntrPic" />
        <result column="cntr_pic_name" property="cntrPicName" />
        <result column="driver_info_info" property="driverInfoId" />
        <result column="warehouse_info_id" property="warehouseInfoId" />
        <result column="remarks" property="remarks" />
        <result column="describes" property="describes" />
        <result column="status" property="status" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user" property="updatedUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, transport_no, order_no, encode, encode_url,encode_url_name, vehicle_type, vehicle_size, cntr_no, cntr_pic,
        cntr_pic_name, driver_info_info,
        warehouse_info_id,remarks, describes, status, updated_time, updated_user, created_user, created_time
    </sql>
    <select id="getOrderSendInfo"  resultType="com.jayud.tms.model.vo.OrderSendCarsVO" >
        SELECT
          osc.`id`,
          osc.`transport_no` transportNo,
          osc.`encode`,
          osc.`vehicle_size` vehicleSize,
          osc.`vehicle_type` vehicleType,
          osc.`cntr_no` cntrNo,
          osc.`supplier_info_id` supplierInfoId,
          si.`supplier_ch_name` supplierName,
          vi.`plate_number` licensePlate,
          di.`name` driverName,
          osc.driver_info_id driverInfoId,
          vi.hk_number hkLicensePlate,
          di.phone driverPhone,
          osc.`describes`,
          osc.`status`,
          osc.`order_no` orderNo,
          osc.`remarks`,
          osc.`warehouse_info_id` warehouseInfoId,
          wi.`warehouse_name` warehouseName,
          wi.`contacts` warehouseContacts,
          wi.`contact_number` warehouseNumber,
          '中国' countryName,
          (SELECT rc.name FROM region_city rc WHERE rc.code = wi.`state_code` LIMIT 1) AS provinceName,
          (SELECT rc.name FROM region_city rc WHERE rc.code = wi.`city_code` LIMIT 1) AS cityName,
          wi.`address` address
        FROM
          order_send_cars osc
          LEFT JOIN supplier_info si
            ON osc.`supplier_info_id` = si.`id`
          LEFT JOIN warehouse_info wi
            ON wi.`id` = osc.`warehouse_info_id`
		  left join driver_info di on di.id = osc.driver_info_id
		  left join vehicle_info vi on vi.id = di.vehicle_id
          WHERE osc.`order_no` = #{orderNo}
    </select>
</mapper>
