<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderTransportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderTransport">
        <id column="id" property="id" />
        <result column="main_order_no" property="mainOrderNo" />
        <result column="order_no" property="orderNo" />
        <result column="port_code" property="portCode" />
        <result column="goods_type" property="goodsType" />
        <result column="vehicle_type" property="vehicleType" />
        <result column="vehicle_size" property="vehicleSize" />
        <result column="cntr_no" property="cntrNo" />
        <result column="cntr_pic" property="cntrPic" />
        <result column="cntr_pic_name" property="cntrPicName" />
        <result column="warehouse_info_id" property="warehouseInfoId" />
        <result column="encode" property="encode" />
        <result column="status" property="status" />
        <result column="is_load_goods" property="isLoadGoods" />
        <result column="is_unload_goods" property="isUnloadGoods" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_user" property="updatedUser" />
        <result column="created_time" property="createdTime" />
        <result column="created_user" property="createdUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_order_no, order_no, port_code, goods_type, vehicle_type, vehicle_size, cntr_no, cntr_pic, cntrPicName,
        warehouse_info_id, encode, status, is_load_goods, is_unload_goods, updated_time, updated_user, created_time,created_user
    </sql>

</mapper>
