<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderTakeAdrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderTakeAdr">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="delivery_id" property="deliveryId"/>
        <result column="take_time" property="takeTime"/>
        <result column="goods_desc" property="goodsDesc"/>
        <result column="plate_amount" property="plateAmount"/>
        <result column="piece_amount" property="pieceAmount"/>
        <result column="weight" property="weight"/>
        <result column="volume" property="volume"/>
        <result column="remarks" property="remarks"/>
        <result column="opr_type" property="oprType"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="file" property="file"/>
        <result column="file_name" property="fileName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, delivery_id, take_time, goods_desc, plate_amount, piece_amount, weight, volume, remarks, opr_type, enter_warehouse_no,create_time, create_user,
        file,file_name
    </sql>

    <select id="findTakeGoodsInfo" resultType="com.jayud.tms.model.vo.InputOrderTakeAdrVO">
        SELECT
          da.`contacts`,
          da.`phone`,
          da.`country_name` countryName,
          da.`state_name` stateName,
          da.`city_name` cityName,
          da.`address`,
          ota.delivery_id deliveryId,
          ota.id takeAdrId,
          DATE_FORMAT(
            ota.`take_time`,
            '%Y-%m-%d %H:%i:%S'
          ) takeTimeStr,
          ota.`goods_desc` goodsDesc,
          ota.`plate_amount` plateAmount,
          ota.`piece_amount` pieceAmount,
          '' boxAmount,
          ota.`weight`,
          ota.`volume`,
          ota.`opr_type` oprType,
          ota.`remarks`,
          ota.`enter_warehouse_no` enterWarehouseNo,
          ota.file,
		  ota.file_name fileName,
		  da.province,da.city,da.area,ota.is_hk_delivery
        FROM
          order_take_adr ota
          LEFT JOIN delivery_address da
            ON ota.`delivery_id` = da.`id`
            WHERE ota.`order_no` = #{orderNo}
    </select>

    <select id="getDriverOrderTakeAdr" resultType="com.jayud.tms.model.vo.DriverOrderTakeAdrVO">
        SELECT
        ota.id,
        ota.order_no orderNo,
        da.`contacts`,
        da.`phone`,
        da.`address`,
        take_time takeTime,
        ota.`goods_desc` goodsDesc,
        ota.opr_type oprType,
        (select name from region_city where id=da.province) province,
        (select name from region_city where id=da.city) city,
        (select name from region_city where id=da.area) area,
        address,
        piece_amount pieceAmount,
        weight,
        lo_and_la
        FROM
        order_take_adr ota
        LEFT JOIN delivery_address da ON ota.`delivery_id` = da.`id`
        <where>
            <if test="oprType!=null">
                and ota.opr_type = #{oprType}
            </if>
            and ota.`order_no` in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>


    <select id="getOrderTakeAdrInfos" resultType="com.jayud.tms.model.vo.OrderTakeAdrInfoVO">
        SELECT
        ota.order_no orderNo,
        ota.delivery_id deliveryId,
        ota.id takeAdrId,
        ota.`take_time` takeTimeStr,
        ota.`goods_desc` goodsDesc,
        ota.`plate_amount` plateAmount,
        ota.`piece_amount` pieceAmount,
        ota.`weight`,
        ota.`volume`,
        ota.`opr_type` oprType,
        ota.`remarks`,
        ota.`enter_warehouse_no` enterWarehouseNo,
        ota.file,
        ota.file_name fileName,
        da.`contacts`,
        da.`phone`,
        da.`address`
        FROM
        order_take_adr ota
        LEFT JOIN delivery_address da
        ON ota.`delivery_id` = da.`id`
        <where>
            <if test="oprType!=null">
                and ota.opr_type = #{oprType}
            </if>
            and ota.`order_no` in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="getByTakeTime" resultType="com.jayud.tms.model.po.OrderTakeAdr">
        select id, order_no, delivery_id,take_time,
        goods_desc, plate_amount, piece_amount, weight,
        volume, remarks, opr_type, enter_warehouse_no,
        create_time, create_user,file,file_name
        from order_take_adr
        <where>
            DATE_FORMAT(take_time,
            <choose>
                <when test="format!=null">#{format}</when>
                <otherwise>'%Y-%m'</otherwise>
            </choose>
            ) in
            <foreach collection="months" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>
