<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tms.mapper.OrderTakeAdrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tms.model.po.OrderTakeAdr">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="delivery_id" property="deliveryId" />
        <result column="take_time" property="takeTime" />
        <result column="goods_desc" property="goodsDesc" />
        <result column="plate_amount" property="plateAmount" />
        <result column="piece_amount" property="pieceAmount" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="remarks" property="remarks" />
        <result column="opr_type" property="oprType" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="enter_warehouse_no" property="enterWarehouseNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, delivery_id, take_time, goods_desc, plate_amount, piece_amount, weight, volume, remarks, opr_type, enter_warehouse_no,create_time, create_user
    </sql>

    <select id="findTakeGoodsInfo"  resultType="com.jayud.tms.model.vo.InputOrderTakeAdrVO" >
        SELECT
          da.`contacts`,
          da.`phone`,
          da.`country_name` countryName,
          da.`state_name` stateName,
          da.`city_name` cityName,
          da.`address`,
          DATE_FORMAT(
            ota.`take_time`,
            '%Y-%m-%d %H:%i:%S'
          ) takeTime,
          ota.`goods_desc` goodsDesc,
          ota.`plate_amount` plateAmount,
          ota.`piece_amount` pieceAmount,
          '' boxAmount,
          ota.`weight`,
          ota.`volume`,
          ota.`opr_type` oprType,
          ota.`remarks`,
          ota.`enter_warehouse_no` enterWarehouseNo,
          ota.delivery_id deliveryId
        FROM
          order_take_adr ota
          LEFT JOIN delivery_address da
            ON ota.`delivery_id` = da.`id`
            WHERE ota.`order_no` = #{orderNo}
    </select>

</mapper>
