<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tools.mapper.FbaOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tools.model.po.FbaOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_no" property="customerNo" />
        <result column="transshipment_no" property="transshipmentNo" />
        <result column="receipt_date" property="receiptDate" />
        <result column="sales_man" property="salesMan" />
        <result column="customer_name" property="customerName" />
        <result column="port_departure" property="portDeparture" />
        <result column="port_destination" property="portDestination" />
        <result column="voyage_number" property="voyageNumber" />
        <result column="number" property="number" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f.id, order_no, customer_no, transshipment_no, receipt_date, sales_man, customer_name, port_departure, port_destination, voyage_number, number, remark, create_user, create_time, update_user, update_time, is_delete,fo.operation_information
    </sql>

    <sql id="selects">
        SELECT <include refid="Base_Column_List"/>
        FROM fba_order f
        left join (select f.id,max(fo.trajectory_time),fo.operation_information from fba_order f left join fba_order_track fo on f.id = fo.order_id and fo.is_delete = 0 group by f.id) fo on fo.id = f.id
        <where>
            is_delete = 0
            <if test="form.orderNo != null and form.orderNo != ''">
                AND order_no like concat('%',#{form.orderNo},'%')
            </if>

            <if test="form.customerNo != null and form.customerNo != ''">
                AND customer_no like concat('%',#{form.customerNo},'%')
            </if>

            <if test="form.transshipmentNo != null and form.transshipmentNo != ''">
                AND transshipment_no like concat('%',#{form.transshipmentNo},'%')
            </if>

            <if test="form.receiptDate != null and form.receiptDate != ''">
                AND receipt_date = #{form.receiptDate}
            </if>

            <if test="form.salesMan != null and form.salesMan != ''">
                AND sales_man like concat('%',#{form.salesMan},'%')
            </if>

            <if test="form.customerName != null and form.customerName != ''">
                AND customer_name  like concat('%',#{form.customerName},'%')
            </if>

            <if test="form.portDeparture != null and form.portDeparture != ''">
                AND port_departure  like concat('%',#{form.portDeparture},'%')
            </if>

            <if test="form.voyageNumber != null and form.voyageNumber != ''">
                AND voyage_number  like concat('%',#{form.voyageNumber},'%')
            </if>
            <if test="form.portDestination != null and form.portDestination != ''">
                AND port_destination  like concat('%',#{form.portDestination},'%')
            </if>
            order by f.id desc
        </where>
    </sql>

    <select id="findList" resultType="com.jayud.tools.model.vo.FbaOrderVO" parameterType="com.jayud.tools.model.bo.QueryFbaOrderForm">
        <include refid="selects"/>
    </select>

    <select id="findByPage" resultType="com.jayud.tools.model.vo.FbaOrderVO" parameterType="com.jayud.tools.model.bo.QueryFbaOrderForm">
        <include refid="selects"/>
    </select>

    <select id="getFbaOrderVOByOrderNo" resultType="com.jayud.tools.model.vo.FbaOrderVO" parameterType="com.jayud.tools.model.bo.QueryFbaOrderForm">
        SELECT <include refid="Base_Column_List"/>
        FROM fba_order f
        left join (select f.id,max(fo.trajectory_time),fo.operation_information from fba_order f left join fba_order_track fo on f.id = fo.order_id and fo.is_delete = 0 group by f.id) fo on fo.id = f.id
        where is_delete = 0 and f.order_no = #{orderNo} or f.customer_no = #{orderNo} or f.transshipment_no = #{orderNo}
        order by f.id desc
    </select>

</mapper>
