<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.tools.mapper.SensitiveCommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.tools.model.po.SensitiveCommodity">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name
    </sql>

    <!--获取所有用户-->
    <select id="getSensitiveCommodityList" resultType="com.jayud.tools.model.po.SensitiveCommodity">
        select
        <include refid="Base_Column_List"/>
        from sensitive_commodity
    </select>

    <!--查询敏感品名分页-->
    <select id="findSensitiveCommodityByPage" parameterType="com.jayud.tools.model.po.SensitiveCommodity"
            resultType="com.jayud.tools.model.vo.SensitiveCommodityVO" >
        SELECT
        sc.id,
        sc.`name`
        FROM
        sensitive_commodity sc
        WHERE
        1 = 1
        <if test="form.name != null and form.name != ''">
            AND sc.`name` LIKE concat('%',#{form.name},'%')
        </if>
        GROUP BY
        sc.`id`
    </select>


</mapper>
