<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.scm.mapper.CustomerMaintenanceSetupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.scm.model.po.CustomerMaintenanceSetup">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="model_type" property="modelType" />
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="wh_user_id" property="whUserId" />
        <result column="wh_user_name" property="whUserName" />
        <result column="f_level" property="fLevel" />
        <result column="f_step" property="fStep" />
        <result column="check_state_flag" property="checkStateFlag" />
        <result column="remark" property="remark" />
        <result column="crt_by" property="crtBy" />
        <result column="crt_by_name" property="crtByName" />
        <result column="crt_by_dtm" property="crtByDtm" />
        <result column="mdy_by" property="mdyBy" />
        <result column="mdy_by_name" property="mdyByName" />
        <result column="mdy_by_dtm" property="mdyByDtm" />
        <result column="voided" property="voided" />
        <result column="voided_by" property="voidedBy" />
        <result column="voided_by_name" property="voidedByName" />
        <result column="voided_by_dtm" property="voidedByDtm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, model_type, role_id, role_name, wh_user_id, wh_user_name, f_level, f_step, check_state_flag, remark, crt_by, crt_by_name, crt_by_dtm, mdy_by, mdy_by_name, mdy_by_dtm, voided, voided_by, voided_by_name, voided_by_dtm
    </sql>

    <select id="findByPage" resultType="com.jayud.scm.model.vo.CustomerMaintenanceSetupVO">
        select id, customer_id customerId,
        model_type modelType, role_id roleId, role_name roleName, wh_user_id whUserId, wh_user_name whUserName, check_state_flag checkStateFlag,
        crt_by_name crtByName, crt_by_dtm crtByDtm,remark
        from customer_maintenance_setup where voided = 0 and customer_id = #{form.id}
    </select>

    <select id="findCustomerMaintenanceSetupBycustomerIdAndRoleName" resultType="com.jayud.scm.model.vo.CustomerMaintenanceSetupVO">
        select id, customer_id customerId,
               model_type modelType, role_id roleId, role_name roleName, wh_user_id whUserId, wh_user_name whUserName, check_state_flag checkStateFlag,
               crt_by_name crtByName, crt_by_dtm crtByDtm,remark
        from customer_maintenance_setup
        where voided = 0
        and customer_id = #{customerId, jdbcType=INTEGER}
        and role_name = #{roleName, jdbcType=VARCHAR}
    </select>

</mapper>
