<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.scm.mapper.HubShippingEntryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.scm.model.po.HubShippingEntry">
        <id column="id" property="id" />
        <result column="shipping_id" property="shippingId" />
        <result column="booking_id" property="bookingId" />
        <result column="booking_no" property="bookingNo" />
        <result column="booking_entry_id" property="bookingEntryId" />
        <result column="receiving_id" property="receivingId" />
        <result column="receiving_no" property="receivingNo" />
        <result column="receiving_entry_id" property="receivingEntryId" />
        <result column="bill_id" property="billId" />
        <result column="bill_no" property="billNo" />
        <result column="item_id" property="itemId" />
        <result column="item_no" property="itemNo" />
        <result column="item_model" property="itemModel" />
        <result column="item_name" property="itemName" />
        <result column="item_brand" property="itemBrand" />
        <result column="item_origin" property="itemOrigin" />
        <result column="qty" property="qty" />
        <result column="unit" property="unit" />
        <result column="price" property="price" />
        <result column="hg_price" property="hgPrice" />
        <result column="packages" property="packages" />
        <result column="pallets" property="pallets" />
        <result column="cartons" property="cartons" />
        <result column="i_cartons" property="iCartons" />
        <result column="ctns_no" property="ctnsNo" />
        <result column="gw" property="gw" />
        <result column="nw" property="nw" />
        <result column="cbm" property="cbm" />
        <result column="temp_01" property="temp01" />
        <result column="temp_02" property="temp02" />
        <result column="temp_03" property="temp03" />
        <result column="state_flag" property="stateFlag" />
        <result column="check_begin_time" property="checkBeginTime" />
        <result column="check_end_time" property="checkEndTime" />
        <result column="check_remark" property="checkRemark" />
        <result column="pn" property="pn" />
        <result column="is_onl" property="isOnl" />
        <result column="onl_id" property="onlId" />
        <result column="onl_no" property="onlNo" />
        <result column="requirement" property="requirement" />
        <result column="pick_requested" property="pickRequested" />
        <result column="allocated_requested" property="allocatedRequested" />
        <result column="pack_requested" property="packRequested" />
        <result column="qc_requested" property="qcRequested" />
        <result column="label_requested" property="labelRequested" />
        <result column="is_unpacking" property="isUnpacking" />
        <result column="wh_no" property="whNo" />
        <result column="crt_by" property="crtBy" />
        <result column="crt_by_name" property="crtByName" />
        <result column="crt_by_dtm" property="crtByDtm" />
        <result column="remark" property="remark" />
        <result column="mdy_by" property="mdyBy" />
        <result column="mdy_by_name" property="mdyByName" />
        <result column="mdy_by_dtm" property="mdyByDtm" />
        <result column="voided" property="voided" />
        <result column="voided_by" property="voidedBy" />
        <result column="voided_by_name" property="voidedByName" />
        <result column="voided_by_dtm" property="voidedByDtm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shipping_id, booking_id, booking_no, booking_entry_id, receiving_id, receiving_no, receiving_entry_id, bill_id, bill_no, item_id, item_no, item_model, item_name, item_brand, item_origin, qty, unit, price, hg_price, packages, pallets, cartons, i_cartons, ctns_no, gw, nw, cbm, temp_01, temp_02, temp_03, state_flag, check_begin_time, check_end_time, check_remark, pn, is_onl, onl_id, onl_no, requirement, pick_requested, allocated_requested, pack_requested, qc_requested, label_requested, is_unpacking, wh_no, crt_by, crt_by_name, crt_by_dtm, remark, mdy_by, mdy_by_name, mdy_by_dtm, voided, voided_by, voided_by_name, voided_by_dtm
    </sql>

    <select id="findByPage" resultType="com.jayud.scm.model.vo.HubShippingEntryVO">
        select id, shipping_id shippingId, booking_id bookingId, booking_no bookingNo,
        booking_entry_id bookingEntryId, receiving_id receivingId, receiving_no receivingNo, receiving_entry_id receivingEntryId,
        bill_id billId, bill_no billNo, item_id itemId, item_no itemNo, item_model itemModel, item_name itemName, item_brand itemBrand,
        item_origin itemOrigin, qty, unit, price, hg_price hgPrice, packages, pallets, cartons,
        i_cartons iCartons, ctns_no ctnsNo, gw, nw, cbm, state_flag stateFlag,
        check_begin_time checkBeginTime, check_end_time checkEndTime, check_remark checkRemark, pn,
        requirement, pick_requested, allocated_requested, pack_requested,
        qc_requested qcRequested, label_requested labelRequested, is_unpacking isUnpacking, wh_no whNo, crt_by_name crtByName,
        crt_by_dtm crtByDtm, remark, mdy_by_name mdyByName, mdy_by_dtm mdyByDtm
        from hub_shipping_entry hse
        where hse.voided = 0 and hse.shipping_id = #{form.id}
    </select>

</mapper>
