<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.scm.mapper.TaxInvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.scm.model.po.TaxInvoice">
        <id column="id" property="id" />
        <result column="tax_no" property="taxNo" />
        <result column="invcode" property="invcode" />
        <result column="invnumber" property="invnumber" />
        <result column="invdate" property="invdate" />
        <result column="c_id" property="cId" />
        <result column="c_name" property="cName" />
        <result column="c_taxno" property="cTaxno" />
        <result column="c_bank" property="cBank" />
        <result column="c_address" property="cAddress" />
        <result column="tax" property="tax" />
        <result column="tax_remark" property="taxRemark" />
        <result column="change_reason" property="changeReason" />
        <result column="deliver_id" property="deliverId" />
        <result column="deliver_no" property="deliverNo" />
        <result column="sync_status" property="syncStatus" />
        <result column="is_sync" property="isSync" />
        <result column="onl_id" property="onlId" />
        <result column="onl_no" property="onlNo" />
        <result column="express_company" property="expressCompany" />
        <result column="track_number" property="trackNumber" />
        <result column="user_remark" property="userRemark" />
        <result column="tax_qty" property="taxQty" />
        <result column="inv_total_amount" property="invTotalAmount" />
        <result column="inv_total_tax" property="invTotalTax" />
        <result column="inv_total_money" property="invTotalMoney" />
        <result column="sign_date" property="signDate" />
        <result column="sign_remak" property="signRemak" />
        <result column="sign_state" property="signState" />
        <result column="f_multi_level0" property="fMultiLevel0" />
        <result column="f_date_time0" property="fDateTime0" />
        <result column="f_multi_level1" property="fMultiLevel1" />
        <result column="f_date_time1" property="fDateTime1" />
        <result column="invoicekind" property="invoicekind" />
        <result column="f_level" property="fLevel" />
        <result column="f_step" property="fStep" />
        <result column="check_state_flag" property="checkStateFlag" />
        <result column="remark" property="remark" />
        <result column="create_name" property="createName" />
        <result column="check_name" property="checkName" />
        <result column="rec_name" property="recName" />
        <result column="is_list" property="isList" />
        <result column="stateflage" property="stateflage" />
        <result column="crt_by" property="crtBy" />
        <result column="crt_by_name" property="crtByName" />
        <result column="crt_by_dtm" property="crtByDtm" />
        <result column="mdy_by" property="mdyBy" />
        <result column="mdy_by_name" property="mdyByName" />
        <result column="mdy_by_dtm" property="mdyByDtm" />
        <result column="voided" property="voided" />
        <result column="voided_by" property="voidedBy" />
        <result column="voided_by_name" property="voidedByName" />
        <result column="voided_by_dtm" property="voidedByDtm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tax_no, invcode, invnumber, invdate, c_id, c_name, c_taxno, c_bank, c_address, tax, tax_remark, change_reason, deliver_id, deliver_no, sync_status, is_sync, onl_id, onl_no, express_company, track_number, user_remark, tax_qty, inv_total_amount, inv_total_tax, inv_total_money, sign_date, sign_remak, sign_state, f_multi_level0, f_date_time0, f_multi_level1, f_date_time1, invoicekind, f_level, f_step, check_state_flag, remark, create_name, check_name, rec_name, is_list, stateflage, crt_by, crt_by_name, crt_by_dtm, mdy_by, mdy_by_name, mdy_by_dtm, voided, voided_by, voided_by_name, voided_by_dtm
    </sql>

</mapper>
