<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.scm.mapper.VerificationReocrdsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.scm.model.po.VerificationReocrds">
        <id column="id" property="id" />
        <result column="f_bill_no" property="fBillNo" />
        <result column="f_date" property="fDate" />
        <result column="pay_id" property="payId" />
        <result column="invoice_id" property="invoiceId" />
        <result column="invoice_entry_id" property="invoiceEntryId" />
        <result column="currency_name" property="currencyName" />
        <result column="rate" property="rate" />
        <result column="c_money" property="cMoney" />
        <result column="shou_fee" property="shouFee" />
        <result column="shou_fee_cdf" property="shouFeeCdf" />
        <result column="proxy_fee" property="proxyFee" />
        <result column="pay_entry_id" property="payEntryId" />
        <result column="check_state_flag" property="checkStateFlag" />
        <result column="f_level" property="fLevel" />
        <result column="f_step" property="fStep" />
        <result column="is_sync" property="isSync" />
        <result column="onl_id" property="onlId" />
        <result column="onl_no" property="onlNo" />
        <result column="crt_by" property="crtBy" />
        <result column="crt_by_name" property="crtByName" />
        <result column="crt_by_dtm" property="crtByDtm" />
        <result column="mdy_by" property="mdyBy" />
        <result column="mdy_by_name" property="mdyByName" />
        <result column="mdy_by_dtm" property="mdyByDtm" />
        <result column="voided" property="voided" />
        <result column="voided_by" property="voidedBy" />
        <result column="voided_by_name" property="voidedByName" />
        <result column="voided_by_dtm" property="voidedByDtm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, f_bill_no, f_date, pay_id, invoice_id, invoice_entry_id, currency_name, rate, c_money, shou_fee, shou_fee_cdf, proxy_fee, pay_entry_id, check_state_flag, f_level, f_step, is_sync, onl_id, onl_no, crt_by, crt_by_name, crt_by_dtm, mdy_by, mdy_by_name, mdy_by_dtm, voided, voided_by, voided_by_name, voided_by_dtm
    </sql>

</mapper>
