<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.storage.mapper.RelocationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.storage.model.po.RelocationRecord">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="area_name" property="areaName" />
        <result column="shelves_name" property="shelvesName" />
        <result column="old_location_code" property="oldLocationCode" />
        <result column="new_location_code" property="newLocationCode" />
        <result column="sku" property="sku" />
        <result column="number" property="number" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, warehouse_name, area_name, shelves_name, old_location_code, new_location_code, sku, number, status, create_user, create_time, remarks
    </sql>

</mapper>
