<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.CostTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.CostType">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="code_name" property="codeName"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, code_name, status
    </sql>

    <select id="findCostTypeByPage" parameterType="com.jayud.oms.model.bo.QueryCostTypeForm"
            resultType="com.jayud.oms.model.vo.CostTypeVO">
        select
            id, code, code_name codeName, status,
            is_pay_collection isPayCollection,
            create_time createTime,
            create_user createUser,
            update_time updateTime,
            update_user updateUser,
            remarks
        from
        cost_type
        <where>
            and status='1'
            <if test="form.codeName !=null and form.codeName !=''">
                and code_name like concat('%',#{form.codeName},'%')
            </if>
        </where>
    </select>

</mapper>
