<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.CostInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.CostInfo">
        <id column="id" property="id"/>
        <result column="id_code" property="idCode"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="remarks" property="remarks"/>
        <result column="cids" property="cids"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, id_code, name, status, remarks,cids, create_time
    </sql>

    <select id="findCostInfoByPage"
            resultType="com.jayud.oms.model.vo.CostInfoVO">
        SELECT
        ci.id,
        id_code idCode,
        name,
        ci.status,
        remarks,
        ci.cids codeName,
        ci.create_time createTime,
        ci.create_user createdUser,
        ci.update_time updateTime,
        ci.update_user updateUser
        FROM
        cost_info ci
        <where>
            <if test="form.name != null and form.name != ''">
                and ci.name like concat('%',#{form.name},'%')
            </if>
            <if test="form.idCode != null and form.idCode != ''">
                and ci.id_code like concat('%',#{form.idCode},'%')
            </if>
            <if test="cids !=null and cids.size>0">
                and (
                <foreach collection="cids" item="item" index="index" separator="or">
                    ci.cids like concat('%',#{item},'%')
                </foreach>
                )
            </if>
            <if test="form.status !=null and form.status !=''">
                and status = #{form.status}
            </if>
        </where>

    </select>
</mapper>
