<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.CurrencyInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.CurrencyInfo">
        <id column="id" property="id" />
        <result column="currency_code" property="currencyCode" />
        <result column="currency_name" property="currencyName" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, currency_code, currency_name, status, create_user, create_time
    </sql>

    <select id="findCurrencyInfo"  resultType="com.jayud.oms.model.vo.CurrencyInfoVO" >
        SELECT
            ci.`currency_name` currencyName,
            ci.`currency_code` currencyCode,
            t1.exchange_rate
        FROM
            currency_info ci
            LEFT JOIN currency_rate t1 ON ci.`id` = t1.`ocid`
            AND t1.dcid = ( SELECT t.id FROM currency_info t WHERE t.currency_code = 'CNY' )
        WHERE
            ci.`status` = 1
            AND t1.`status` = 1
            and t1.`month` = (select max(t2.`month`) from currency_rate t2 where t1.ocid = t2.ocid and t1.dcid = t2.dcid GROUP BY t2.dcid,t2.ocid)
    </select>

</mapper>
