<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.CustomerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.CustomerInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_code" property="idCode"/>
        <result column="types" property="types"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="email" property="email"/>
        <result column="tfn" property="tfn"/>
        <result column="if_contract" property="ifContract"/>
        <result column="settlement_type" property="settlementType"/>
        <result column="account_period" property="accountPeriod"/>
        <result column="tax_type" property="taxType"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="estate" property="estate"/>
        <result column="department_code" property="departmentCode"/>
        <result column="ku_code" property="kuCode"/>
        <result column="yw_code" property="ywCode"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="created_user" property="createdUser"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         id,name,id_code,types,contact,phone,address,email,tfn,
         if_contract,settlement_type,account_period,estate,department_code,ku_code,yw_code,audit_status,
         created_user,updated_user,tax_type,tax_rate,status
    </sql>

    <!--    <select id="findCustomerInfoByPage" parameterType="com.jayud.oms.model.bo.QueryCustomerInfoForm"-->
    <!--            resultType="com.jayud.oms.model.vo.CustomerInfoVO">-->
    <!--        SELECT-->
    <!--        ci.id,ci.name,ci.`id_code` idCode,ci.`types`,ci.`contact`,ci.`phone`,ci.`address`,ci.`email`,ci.`tfn`,ci.`if_contract` ifContract,-->
    <!--        ci.`settlement_type` settlementType,ci.`account_period` accountPeriod,ci.`estate`,ci.`department_id` departmentId,d.`name` departmentName,-->
    <!--        ci.`ku_id` kuId,su1.`user_name` kuName,ci.`yw_id` ywId,su2.`user_name` ywName,ci.`audit_status` auditStatus,-->
    <!--        (CASE ci.`audit_status` WHEN '0' THEN '待客服审核'-->
    <!--        WHEN '1' THEN '待财务审核'-->
    <!--        WHEN '2' THEN '待总经办审核'-->
    <!--        WHEN '10' THEN '审核通过'-->
    <!--        WHEN '11' THEN '审核拒绝' END) auditStatusDesc,-->
    <!--        ci.`created_user` createdUser,-->
    <!--        DATE_FORMAT(ci.`created_time`,'%Y-%m-%d %H:%i:%S') createdTimeStr,-->
    <!--        ci.`updated_user` updatedUser,ci.`audit_comment` auditComment,-->
    <!--        DATE_FORMAT(ci.`updated_time`,'%Y-%m-%d %H:%i:%S') updatedTimeStr-->
    <!--        FROM-->
    <!--        customer_info ci-->
    <!--        LEFT JOIN department d-->
    <!--        ON ci.`department_id` = d.`id`-->
    <!--        LEFT JOIN `system_user` su1-->
    <!--        ON su1.`id` = ci.`ku_id`-->
    <!--        LEFT JOIN `system_user` su2-->
    <!--        ON su2.`id` = ci.`yw_id` where ci.`status` = 1-->
    <!--        <if test="form.name != null and form.name != ''">-->
    <!--            and ci.name like concat('%',#{form.name},'%')-->
    <!--        </if>-->
    <!--        <if test="form.idCode != null and form.idCode != ''">-->
    <!--            and ci.id_code like concat('%',#{form.idCode},'%')-->
    <!--        </if>-->
    <!--        <if test="form.ywId != null and form.ywId != ''">-->
    <!--            and ci.yw_id = #{form.ywId}-->
    <!--        </if>-->
    <!--        <if test="form.contact != null and form.contact != ''">-->
    <!--            and ci.contact like concat('%',#{form.contact},'%')-->
    <!--        </if>-->
    <!--        <if test="form.auditStatus != null and form.auditStatus != ''">-->
    <!--            and ci.audit_status = #{form.auditStatus}-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'kf'">-->
    <!--            and ci.audit_status = 0-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'cw'">-->
    <!--            and ci.audit_status = 1-->
    <!--        </if>-->
    <!--        <if test="form.cmd == 'zjb'">-->
    <!--            and ci.audit_status = 2-->
    <!--        </if>-->
    <!--    </select>-->

    <select id="getCustomerInfoById" resultType="com.jayud.oms.model.vo.CustomerInfoVO">
        SELECT
        ci.id,ci.name,ci.`id_code` idCode,ci.`types`,ci.`contact`,ci.`phone`,ci.`address`,ci.`email`,ci.`tfn`,ci.`if_contract` ifContract,
        ci.`settlement_type` settlementType,ci.`account_period` accountPeriod,ci.`tax_rate` taxRate,ci.`tax_type` taxType,ci.`estate`,ci.`department_id` departmentId,
        d.`name` departmentName,ci.`ku_id` kuId,su1.`user_name` kuName,ci.`yw_id` ywId,su2.`user_name` ywName,ci.`audit_status` auditStatus,
        (CASE
              ci.`audit_status`
              WHEN '0'
              THEN '待客服审核'
              WHEN '1'
              THEN '待财务审核'
              WHEN '2'
              THEN '待总经办审核'
              WHEN '10'
              THEN '审核通过'
              WHEN '11'
              THEN '审核拒绝'
        END) auditStatusDesc,
        ci.`created_user` createdUser,
        DATE_FORMAT(ci.`created_time`,'%Y-%m-%d %H:%i:%S') createdTimeStr,
        ci.`updated_user` updatedTimeStr,ci.`audit_comment` auditComment,
        DATE_FORMAT(ci.`updated_time`,'%Y-%m-%d %H:%i:%S') updatedTimeStr,
		(select GROUP_CONCAT(crl.legal_entity_id) from customer_rela_legal crl where crl.customer_info_id = ci.id group by ci.id) legalEntityIdStr
        FROM
        customer_info ci
        LEFT JOIN department d
        ON ci.`department_id` = d.`id`
        LEFT JOIN `system_user` su1
        ON su1.`id` = ci.`ku_id`
        LEFT JOIN `system_user` su2
        ON su2.`id` = ci.`yw_id` where ci.id = #{id}
    </select>

    <!--客户账户管理-->
    <select id="getCustAccountByCondition" resultType="com.jayud.oms.model.vo.CustAccountVO">
        SELECT
        su.id,
        su.name,
        su.`en_user_name` enUserName,
        su.`user_name` userName,
        sr.`name` roleName,
        sr.`id` roleId,
        ci.`name` companyName,
        ci.id companyId,
        (SELECT
        t.user_name
        FROM
        `system_user` t
        WHERE t.id = su.`superior_id`) departChargeName,
        (SELECT
        t.id
        FROM
        `system_user` t
        WHERE t.id = su.`superior_id`) departmentChargeId,
        (
        CASE
        su.`status`
        WHEN '0'
        THEN '关闭'
        WHEN '1'
        THEN '启用'
        END
        ) statusDesc,
        su.`created_user` createdUser,
        DATE_FORMAT(
        su.`created_time`,
        '%Y-%m-%d %H:%i:%S'
        ) createdTimeStr
        FROM
        `system_user` su
        LEFT JOIN system_user_role_relation surr
        ON su.`id` = surr.`user_id`
        LEFT JOIN system_role sr
        ON surr.`role_id` = sr.`id`
        LEFT JOIN customer_info ci
        ON su.`company_id` = ci.`id`
        WHERE su.user_type = '2' and su.id = #{id}
    </select>

    <select id="findCustAccountByPage" resultType="com.jayud.oms.model.vo.CustAccountVO"
            parameterType="com.jayud.oms.model.bo.QueryCusAccountForm">
        SELECT
        su.id,
        su.name,
        su.`en_user_name` enUserName,
        su.`user_name` userName,
        sr.`name` roleName,
        sr.`id` roleId,
        ci.`name` companyName,
        ci.id companyId,
        (SELECT
        t.user_name
        FROM
        `system_user` t
        WHERE t.id = su.`superior_id`) departChargeName,
        (SELECT
        t.id
        FROM
        `system_user` t
        WHERE t.id = su.`superior_id`) departmentChargeId,
        (
        CASE
        su.`status`
        WHEN '0'
        THEN '关闭'
        WHEN '1'
        THEN '启用'
        END
        ) statusDesc,
        su.`created_user` createdUser,
        DATE_FORMAT(
        su.`created_time`,
        '%Y-%m-%d %H:%i:%S'
        ) createdTimeStr
        FROM
        `system_user` su
        LEFT JOIN system_user_role_relation surr
        ON su.`id` = surr.`user_id`
        LEFT JOIN system_role sr
        ON surr.`role_id` = sr.`id`
        LEFT JOIN customer_info ci
        ON su.`company_id` = ci.`id`
        WHERE su.status = 1 and su.user_type = '2'
        <if test="form.companyId != null and form.companyId != ''">
            and ci.id = #{form.companyId}
        </if>
        <if test="form.status != null and form.status != ''">
            and su.status = #{form.status}
        </if>
        <if test="form.name != null and form.name != ''">
            and su.name like concat('%',#{form.name},'%')
        </if>
    </select>

    <!--    <select id="findCustomerBasicsInfoByPage" parameterType="com.jayud.oms.model.bo.QueryCustomerInfoForm"-->
    <!--            resultType="com.jayud.oms.model.vo.CustomerInfoVO">-->
    <!--        select-->
    <!--        id,name,id_code idCode,contact,phone,address,email,created_time createdTimeStr-->
    <!--        from customer_info-->
    <!--        <where>-->
    <!--            audit_status = 10-->
    <!--            <if test="form.name != null and form.name != ''">-->
    <!--                and name like concat('%',#{form.name},'%')-->
    <!--            </if>-->
    <!--            <if test="form.idCode != null and form.idCode != ''">-->
    <!--                and id_code like concat('%',#{form.idCode},'%')-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->

    <select id="existCustomerInfo" resultType="com.jayud.oms.model.vo.CustomerInfoVO">
        select id,name,id_code idCode from customer_info where id_code = #{idCode}
    </select>

    <select id="relateUnitList" parameterType="java.lang.Long" resultType="com.jayud.oms.model.vo.CustomerInfoVO">
        select ci.id,ci.id_code idCode,ci.`name`,ci.contact,ci.phone,ci.address from customer_info ci
        where ci.id in
           (select cru.unit_id from customer_rela_unit cru
            where cru.customer_info_id = #{id})
    </select>

    <select id="findRelateUnitList" parameterType="com.jayud.oms.model.bo.QueryRelUnitInfoListForm"
            resultType="com.jayud.oms.model.vo.CustomerInfoVO">
        select ci.id,ci.id_code idCode,ci.`name`,ci.contact,ci.phone,ci.address from customer_info ci
        where ci.audit_status = '10'
        and ci.id not in
        (select cru.unit_id from customer_rela_unit cru
        where cru.customer_info_id = #{form.customerInfoId})
        <if test="form.name != null and form.name != ''">
            and ci.`name` like concat('%',#{form.name},'%')
        </if>
        <if test="form.idCode != null and form.idCode != ''">
            and ci.id_code like concat('%',#{form.idCode},'%')
        </if>
    </select>

    <select id="findCustomerInfoByPage" resultType="com.jayud.oms.model.vo.CustomerInfoVO">
        SELECT
        ci.id,ci.name,ci.`id_code`
        idCode,ci.`types`,ci.`contact`,ci.`phone`,ci.`address`,ci.`email`,ci.`tfn`,ci.`if_contract` ifContract,
        ci.`settlement_type` settlementType,ci.`account_period` accountPeriod,ci.`estate`,ci.`department_id`
        departmentId,d.`name` departmentName,
        ci.`ku_id` kuId,su1.`user_name` kuName,ci.`yw_id` ywId,su2.`user_name` ywName,ci.`audit_status`
        auditStatus,ci.`status`,
        (CASE ci.`audit_status` WHEN '0' THEN '待客服审核'
        WHEN '1' THEN '待财务审核'
        WHEN '2' THEN '待总经办审核'
        WHEN '10' THEN '审核通过'
        WHEN '11' THEN '审核拒绝' END) auditStatusDesc,
        ci.`created_user` createdUser,
        DATE_FORMAT(ci.`created_time`,'%Y-%m-%d %H:%i:%S') createdTimeStr,
        ci.`updated_user` updatedUser,ci.`audit_comment` auditComment,
        DATE_FORMAT(ci.`updated_time`,'%Y-%m-%d %H:%i:%S') updatedTimeStr
        FROM
        `customer_info` ci
        LEFT JOIN department d
        ON ci.`department_id` = d.`id`
        LEFT JOIN `system_user` su1
        ON su1.`id` = ci.`ku_id`
        LEFT JOIN `system_user` su2
        ON su2.`id` = ci.`yw_id`
        LEFT JOIN `customer_rela_legal` crl ON ci.`id` = crl.`customer_info_id`
        where 1 = 1
        <if test="form.name != null and form.name != ''">
            and ci.name like concat('%',#{form.name},'%')
        </if>
        <if test="form.idCode != null and form.idCode != ''">
            and ci.id_code like concat('%',#{form.idCode},'%')
        </if>
        <if test="form.ywId != null and form.ywId != ''">
            and ci.yw_id = #{form.ywId}
        </if>
        <if test="form.contact != null and form.contact != ''">
            and ci.contact like concat('%',#{form.contact},'%')
        </if>
        <if test="form.auditStatus != null and form.auditStatus != ''">
            and ci.audit_status = #{form.auditStatus}
        </if>
        <if test="form.cmd == 'kf'">
            and ci.audit_status = 0
        </if>
        <if test="form.cmd == 'cw'">
            and ci.audit_status = 1
        </if>
        <if test="form.cmd == 'zjb'">
            and ci.audit_status = 2
        </if>
        <if test="legalIds != null">
            and crl.`legal_entity_id` in
            <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                #{legalId}
            </foreach>
        </if>

    </select>

    <select id="findCustomerBasicsInfoByPage"
            resultType="com.jayud.oms.model.vo.CustomerInfoVO">
        select
        ci.id,name,id_code idCode,contact,phone,address,email,ci.created_time createdTimeStr
        from customer_info ci LEFT JOIN `customer_rela_legal` crl ON ci.`id` = crl.`customer_info_id`
        <where>
            audit_status = 10
            <if test="form.name != null and form.name != ''">
                and name like concat('%',#{form.name},'%')
            </if>
            <if test="form.idCode != null and form.idCode != ''">
                and id_code like concat('%',#{form.idCode},'%')
            </if>
            <if test="legalIds != null">
                and crl.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findCustomerInfoByCondition"
            resultType="com.jayud.oms.model.po.CustomerInfo">
        select
        ci.id,name,id_code idCode,contact,phone,address,email,ci.created_time createdTimeStr
        from customer_info ci LEFT JOIN `customer_rela_legal` crl ON ci.`id` = crl.`customer_info_id`
        <where>
            audit_status = 10 and status = '1'
            <if test="legalIds != null">
                and crl.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
