<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.CustomerLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.CustomerLine">
        <id column="id" property="id" />
        <result column="customer_line_name" property="customerLineName" />
        <result column="customer_line_code" property="customerLineCode" />
        <result column="driver_info_id" property="driverInfoId" />
        <result column="driver_name" property="driverName" />
        <result column="line_id" property="lineId" />
        <result column="line_name" property="lineName" />
        <result column="line_rule" property="lineRule" />
        <result column="vehicle_no" property="vehicleNo" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="created_user" property="createdUser" />
        <result column="up_time" property="upTime" />
        <result column="up_user" property="upUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_line_name, customer_line_code, driver_info_id, driver_name, line_id, line_name, line_rule, vehicle_no, remarks, create_time, created_user, up_time, up_user
    </sql>

    <select id="findCustomerLineByPage" parameterType="com.jayud.oms.model.bo.QueryCustomerLineForm"
            resultType="com.jayud.oms.model.vo.CustomerLineVO">
        select id, customer_line_name, customer_line_code, driver_name, line_name,
        line_rule, vehicle_no, remarks, create_time, created_user, up_time, up_user
        from customer_line
        <where>
            <if test="form.customerLineName != null and form.customerLineName != ''">
                and customer_line_name like concat('%',#{form.customerLineName},'%')
            </if>
            <if test="form.lineName != null and form.lineName != ''">
                and line_name like concat('%',#{form.lineName},'%')
            </if>
            <if test="form.createTime != null and form.createTime.size>0">
                and date_format(create_time,'%Y-%m-%d')
                BETWEEN #{form.createTime[0]} AND #{form.createTime[1]}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getCustomerLineDetails" parameterType="java.util.HashMap"
            resultType="com.jayud.oms.model.vo.CustomerLineDetailsVO">
        select id, customer_line_name, customer_line_code, driver_info_id, driver_name, line_id, line_name,
        line_rule, vehicle_no, remarks, create_time, created_user, up_time, up_user
        from customer_line where id = #{id}
    </select>

    <select id="getLastCodeByCreateTime" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select customer_line_code as code from customer_line where date_format(create_time,'%Y%m%d') = #{curDate} order by create_time desc limit 1
    </select>

</mapper>
