<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.CustomerRelaLegalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.CustomerRelaLegal">
        <id column="id" property="id"/>
        <result column="customer_info_id" property="customerInfoId"/>
        <result column="legal_entity_id" property="legalEntityId"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_info_id, legal_entity_id, created_user, created_time
    </sql>

    <select id="findLegalByCustomerId" resultType="com.jayud.oms.model.vo.LegalEntityVO">
        SELECT
        le.id,
        le.legal_name legalName
        FROM
        customer_rela_legal crl
        LEFT JOIN legal_entity le on le.id = crl.legal_entity_id
        where crl.customer_info_id = #{id}
        <if test="auditStatus!=null and auditStatus!=''">
            and le.audit_status=#{auditStatus}
        </if>
    </select>
</mapper>
