<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.DeliveryAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.DeliveryAddress">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="country_code" property="countryCode" />
        <result column="country_name" property="countryName" />
        <result column="state_code" property="stateCode" />
        <result column="state_name" property="stateName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="address" property="address" />
        <result column="post_code" property="postCode" />
        <result column="warehouse_info_id" property="warehouseInfoId" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="type" property="type" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, contacts, phone, country_code, country_name, state_code, state_name, city_code, city_name, address, post_code, warehouse_info_id, status, create_user, create_time, type, province, city, area
    </sql>

    <select id="findCustomerAddressByPage" parameterType="com.jayud.oms.model.bo.QueryCustomerAddressForm"
            resultType="com.jayud.oms.model.vo.CustomerAddressVO">
        select
        id, type, customer_id customerId,
        contacts, phone,
        (select name from region_city where id=province) provinceName,
        (select name from region_city where id=city) cityName,
        (select name from region_city where id=area) areaName,
        address,
        post_code postCode, status,
        create_user createUser, create_time createTime
        from
        delivery_address
        <where>
            <if test="form.contacts !=null and form.contacts !=''">
                and contacts like concat("%",#{form.contacts},"%")
            </if>
            <if test="form.phone !=null and form.phone !=''">
                and phone like concat("%",#{form.phone},"%")
            </if>
            <if test="form.customerId !=null">
                and customer_id =#{form.customerId}
            </if>
        </where>
    </select>
</mapper>
