<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.model.po.OrderInfo">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="biz_uid" property="bizUid" />
        <result column="biz_uname" property="bizUname" />
        <result column="unit_account" property="unitAccount" />
        <result column="unit_code" property="unitCode" />
        <result column="contract_no" property="contractNo" />
        <result column="legal_code" property="legalCode" />
        <result column="legal_name" property="legalName" />
        <result column="reference_no" property="referenceNo" />
        <result column="cntr_no" property="cntrNo" />
        <result column="biz_code" property="bizCode" />
        <result column="status" property="status" />
        <result column="biz_belong_depart" property="bizBelongDepart" />
        <result column="create_time" property="createTime" />
        <result column="created_user" property="createdUser" />
        <result column="up_time" property="upTime" />
        <result column="up_user" property="upUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, customer_code, customer_name, biz_uid, biz_uname, unit_account, unit_code, contract_no, legal_code, legal_name, reference_no, cntr_no, biz_code, status, create_time, created_user, up_time, up_user
    </sql>

</mapper>
