<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.OrderPaymentCostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.OrderPaymentCost">
        <id column="id" property="id" />
        <result column="main_order_no" property="mainOrderNo" />
        <result column="biz_order_no" property="bizOrderNo" />
        <result column="order_no" property="orderNo" />
        <result column="biz_code" property="bizCode" />
        <result column="biz_name" property="bizName" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="cost_type_id" property="costTypeId" />
        <result column="cost_code" property="costCode" />
        <result column="unit_price" property="unitPrice" />
        <result column="number" property="number" />
        <result column="currency_code" property="currencyCode" />
        <result column="amount" property="amount" />
        <result column="exchange_rate" property="exchangeRate" />
        <result column="change_amount" property="changeAmount" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="opt_name" property="optName" />
        <result column="opt_time" property="optTime" />
        <result column="created_time" property="createdTime" />
        <result column="created_user" property="createdUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_order_no, biz_order_no, order_no, biz_code, biz_name, customer_code, customer_name,cost_type_id, cost_code, unit_price, number, currency_code, amount, exchange_rate, change_amount, remarks, status, opt_name, opt_time, created_time, created_user
    </sql>

    <select id="findPaymentCost" parameterType="com.jayud.oms.model.bo.GetCostDetailForm" resultType="com.jayud.oms.model.vo.InputPaymentCostVO" >
        SELECT
        opc.`id`,
        opc.`customer_name` customerName ,
        opc.`cost_type_id` costTypeId,
        (SELECT ct.code_name FROM cost_type ct WHERE ct.id = opc.`cost_type_id` LIMIT 1) costType,
        opc.`cost_code` costCode,
        (SELECT ci.name FROM cost_info ci WHERE ci.id_code = opc.`cost_code` AND ci.types = 2 LIMIT 1) costName,
        opc.`unit_price` unitPrice,
        opc.`number`,
        opc.`currency_code` currencyCode,
        (SELECT ci.currency_name FROM currency_info ci WHERE ci.currency_code = opc.`currency_code` LIMIT 1) currencyName,
        opc.`amount`,
        opc.`change_amount` changeAmount,
        opc.`exchange_rate` exchangeRate,
        opc.`remarks`,
        opc.`status`
        FROM
        order_payment_cost opc
        where opc.`main_order_no` = #{form.mainOrderNo}
        <if test="form.cmd == 'main_cost_audit'">
            and opc.`status` in ('2','3')
        </if>
        <if test="form.cmd == 'sub_cost'">
            and opc.`order_no` != '' and opc.`order_no` is not null
        </if>
        <if test="form.cmd == 'sub_cost_audit'">
            and opc.`status` in ('2','3')
            and opc.`order_no` != '' and opc.`order_no` is not null
        </if>
    </select>

</mapper>
