<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.OrderInfo">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="customer_code" property="customerCode"/>
        <result column="customer_name" property="customerName"/>
        <result column="biz_uid" property="bizUid"/>
        <result column="biz_uname" property="bizUname"/>
        <result column="unit_account" property="unitAccount"/>
        <result column="unit_code" property="unitCode"/>
        <result column="contract_no" property="contractNo"/>
        <result column="legal_code" property="legalCode"/>
        <result column="legal_name" property="legalName"/>
        <result column="legal_entity_id" property="legalEntityId"/>
        <result column="reference_no" property="referenceNo"/>
        <result column="cntr_no" property="cntrNo"/>
        <result column="biz_code" property="bizCode"/>
        <result column="class_code" property="classCode"/>
        <result column="status" property="status"/>
        <result column="biz_belong_depart" property="bizBelongDepart"/>
        <result column="selected_server" property="selectedServer"/>
        <result column="is_data_all" property="isDataAll"/>
        <result column="create_time" property="createTime"/>
        <result column="created_user" property="createdUser"/>
        <result column="up_time" property="upTime"/>
        <result column="up_user" property="upUser"/>
        <result column="need_input_cost" property="needInputCost"/>
        <result column="customs_release" property="customsRelease"/>
        <result column="encode" property="encode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, customer_code, customer_name, biz_uid, biz_uname, unit_account, unit_code, contract_no, legal_code, legal_name, reference_no, cntr_no, biz_code,class_code, status,
        biz_belong_depart,selected_server,is_data_all,create_time, created_user, up_time, up_user,need_input_cost,customs_release,encode
    </sql>


    <select id="findOrderInfoByPage" parameterType="com.jayud.oms.model.bo.QueryOrderInfoForm"
            resultType="com.jayud.oms.model.vo.OrderInfoVO">
        SELECT
        oi.id,
        oi.remarks,
        oi.`order_no` orderNo,
        oi.`biz_code` bizCode,
        oi.`customer_name` customerName,
        oi.`status`,
        oi.`legal_name` legalName,
        oi.`legal_entity_id` legal_entity_id,
        oi.unit_account,
        oi.contract_no,
        oi.reference_no,
        oi.biz_uname,
        -- p.`name` portName,
        oi.`class_code` classCode,
        pc2.name classCodeDesc,
        oi.selected_server selectedServer,
        oi.`customer_code` customerCode,
        oi.`created_user` createdUser,
        oi.`create_time` createdTimeStr,
        (CASE WHEN (SELECT COUNT(1) FROM order_payment_cost opc WHERE opc.main_order_no = oi.`order_no`) +
        (SELECT COUNT(1) FROM order_receivable_cost orc WHERE orc.main_order_no = oi.`order_no`)>0 THEN TRUE
        ELSE FALSE
        END) isCost,
        oi.`need_input_cost` needInputCost,
        oi.`customs_release` customsRelease,
        oi.unit_code unitCode,
        oi.reject_comment,
        oi.is_rejected,
        oi.operation_time
        FROM
        order_info oi
        LEFT JOIN product_classify pc2 ON pc2.id_code = oi.`class_code`
        <where>
            <if test="form.cmd == 'noSubmit'">
                and oi.`status` = 2
            </if>
            <if test="form.cmd == 'costAudit'">
                and oi.`status` IN (1,3,4)
                AND (EXISTS (SELECT 1 FROM order_payment_cost opc WHERE opc.`main_order_no` = oi.order_no AND
                opc.`status`
                = '2' and opc.sub_type='main')
                OR EXISTS (SELECT 1 FROM order_receivable_cost orc WHERE orc.`main_order_no` = oi.order_no AND
                orc.`status`
                = '2' and orc.sub_type='main'))
            </if>
            <if test="form.cmd == 'costAudited'">
                and oi.`status` IN (1,3,4)
                AND oi.order_no in (
                (SELECT opc.main_order_no FROM order_payment_cost opc WHERE opc.`status` = '3' and opc.sub_type='main'
                and opc.is_bill='0'
                union SELECT orc.main_order_no FROM order_receivable_cost orc WHERE orc.`status` = '3' and
                orc.sub_type='main' and orc.is_bill='0')
                )
            </if>
            <if test="form.cmd == 'outCustomsRelease'">
                and (oi.class_code = 'ZGYS' or oi.selected_server like concat('%','ZGYSDD','%')) and oi.`status` = 1
                and oi.customs_release = 0
                and oi.selected_server not like concat('%','CKBG','%')
            </if>
            <if test="form.cmd == 'dataNotAll'">
                and oi.`status` = 4
            </if>
            <if test="form.cmd == 'cancelled'">
                and oi.`status` = 6
            </if>
            <if test="form.cmd == 'rejected'">
                and oi.`status` = 7
            </if>
            <if test="form.orderNo != null and form.orderNo != ''">
                and oi.order_no like concat('%',#{form.orderNo},'%')
            </if>
            <!--        <if test="form.portCode != null and form.portCode != ''">-->
            <!--            and oi.portCode = #{form.portCode}-->
            <!--        </if>-->
            <if test="form.classCode != null and form.classCode !=''">
                and oi.class_code = #{form.classCode}
            </if>
            <if test="form.customerName != null and form.customerName !=''">
                and oi.customer_name like concat('%',#{form.customerName},'%')
            </if>
            <if test="form.legalName != null and form.legalName !=''">
                and oi.legal_name like concat('%',#{form.legalName},'%')
            </if>
            <if test="form.endCreateTimeStr != null and form.endCreateTimeStr !=''">
                and oi.create_time <![CDATA[<=]]> #{form.endCreateTimeStr}
            </if>
            <if test="form.beginCreateTimeStr != null and form.beginCreateTimeStr !=''">
                and oi.create_time <![CDATA[>=]]> #{form.beginCreateTimeStr}
            </if>
            <if test="form.createdUser != null and form.createdUser !=''">
                and oi.created_user like concat('%',#{form.createdUser},'%')
            </if>
            <if test="form.operationTime !=null and form.operationTime.size > 0">
                and oi.operation_time between #{form.operationTime[0]} and #{form.operationTime[1]}
            </if>
            <choose>
                <when test="form.entrance == 'myOrder'">
                    and oi.created_user = #{form.loginUserName}
                </when>
                <otherwise>
                    <if test="legalIds != null and legalIds.size>0">
                        and oi.`legal_entity_id` in
                        <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                            #{legalId}
                        </foreach>
                    </if>
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findGoCustomsAuditByPage" parameterType="com.jayud.oms.model.bo.QueryOrderInfoForm"
            resultType="com.jayud.oms.model.vo.OrderInfoVO">
        SELECT DISTINCT
        oi.id,
        oi.`remarks`,
        oi.`order_no` orderNo,
        oi.`status`,
        oi.`class_code` classCode,
        oi.`customer_name` customerName,
        oi.`customer_code` customerCode,
        oi.`legal_name` legalName,
        oi.`created_user` createdUser,
        oi.`create_time` createdTimeStr,
        oi.`need_input_cost` needInputCost,
        oi.`customs_release` customsRelease,
        oi.selected_server selectedServer,
        oi.operation_time
        FROM
        order_info oi
        <where>
            <choose>
                <when test="form.mainOrderIds !=null and form.mainOrderIds.size>0 ">
                    oi.`id` in
                    <foreach collection="form.mainOrderIds" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    -- TODO 为空返回null值
                    oi.id=-1
                </otherwise>
            </choose>
            <if test="form.orderNo != null and form.orderNo != ''">
                and oi.order_no = #{form.orderNo}
            </if>
            <if test="form.portCode != null and form.portCode != ''">
                and ot.port_code = #{form.portCode}
            </if>
            <if test="form.classCode != null and form.classCode !=''">
                and oi.class_code = #{form.classCode}
            </if>
            <if test="form.customerName != null and form.customerName !=''">
                and oi.customer_name like concat('%',#{form.customerName},'%')
            </if>
            <if test="form.legalName != null and form.legalName !=''">
                and oi.legal_name like concat('%',#{form.legalName},'%')
            </if>
            <if test="form.endCreateTimeStr != null and form.endCreateTimeStr !=''">
                and DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H:%i:%S') <![CDATA[<=]]> #{form.endCreateTimeStr}
            </if>
            <if test="form.beginCreateTimeStr != null and form.beginCreateTimeStr !=''">
                and DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H:%i:%S') <![CDATA[>=]]> #{form.beginCreateTimeStr}
            </if>
            <if test="form.createdUser != null and form.createdUser !=''">
                and oi.created_user like concat('%',#{form.createdUser},'%')
            </if>
            <if test="form.operationTime !=null and form.operationTime>0">
                and oi.operation_time between #{form.operationTime[0]} and #{form.operationTime[1]}
            </if>
        </where>
        order by oi.id desc
    </select>


    <!--    <select id="findGoCustomsAuditByPage" parameterType="com.jayud.oms.model.bo.QueryOrderInfoForm"-->
    <!--            resultType="com.jayud.oms.model.vo.OrderInfoVO">-->
    <!--        SELECT DISTINCT-->
    <!--        oi.id,-->
    <!--        oi.`remarks`,-->
    <!--        oi.`order_no` orderNo,-->
    <!--        ot.`goods_type` goodsType,-->
    <!--        ot.`port_code` portCode,-->
    <!--        oi.`status`,-->
    <!--        oi.`class_code` classCode,-->
    <!--        oi.`customer_name` customerName,-->
    <!--        oi.`customer_code` customerCode,-->
    <!--        oi.`legal_name` legalName,-->

    <!--        ot.`status` subTmsStatus,-->
    <!--        oi.`created_user` createdUser,-->
    <!--        DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H:%i:%S') createdTimeStr,-->

    <!--        oi.`need_input_cost` needInputCost,-->
    <!--        oi.`customs_release` customsRelease,-->
    <!--        oi.selected_server selectedServer-->
    <!--        FROM-->
    <!--        order_info oi LEFT JOIN order_transport ot ON-->
    <!--        oi.`order_no` = ot.`main_order_no`-->

    <!--        <where>-->
    <!--            <choose>-->
    <!--                <when test="form.mainOrderIds !=null and form.mainOrderIds.size>0 ">-->
    <!--                    oi.`id` in-->
    <!--                    <foreach collection="form.mainOrderIds" item="item" open="(" separator="," close=")">-->
    <!--                        #{item}-->
    <!--                    </foreach>-->
    <!--                </when>-->
    <!--                <otherwise>-->
    <!--                    &#45;&#45; TODO 为空返回null值-->
    <!--                    oi.id=-1-->
    <!--                </otherwise>-->
    <!--            </choose>-->


    <!--            &#45;&#45; TODO 外部报关-->
    <!--            &#45;&#45; (oi.`class_code` = 'ZGYS' or oi.selected_server like concat('%','ZGYSDD','%'))-->
    <!--            &#45;&#45; AND (ot.`status` = 'T_6' or (ot.`status` = 'T_5' AND ot.is_vehicle_weigh = 0))-->
    <!--            &#45;&#45; AND (oi.`customs_release` = 1-->
    <!--            &#45;&#45; OR-->
    <!--            &#45;&#45; &#45;&#45; TODO 出口报关所有都放行才能进通关前审核-->
    <!--            &#45;&#45; ((SELECT COUNT(1) FROM logistics_track lt WHERE lt.`main_order_id` = oi.`id` AND lt.`status`='C_5') =-->
    <!--            &#45;&#45; (SELECT COUNT(1) FROM order_customs oc WHERE oc.`main_order_no` = oi.`order_no`)-->
    <!--            &#45;&#45; AND (SELECT COUNT(1) FROM logistics_track lt WHERE lt.`main_order_id` = oi.`id` AND lt.`status`='C_5') >-->
    <!--            &#45;&#45; 0)-->
    <!--            &#45;&#45; )-->
    <!--            <if test="form.orderNo != null and form.orderNo != ''">-->
    <!--                and oi.order_no = #{form.orderNo}-->
    <!--            </if>-->
    <!--            <if test="form.portCode != null and form.portCode != ''">-->
    <!--                and ot.port_code = #{form.portCode}-->
    <!--            </if>-->
    <!--            <if test="form.classCode != null and form.classCode !=''">-->
    <!--                and oi.class_code = #{form.classCode}-->
    <!--            </if>-->
    <!--            <if test="form.customerName != null and form.customerName !=''">-->
    <!--                and oi.customer_name like concat('%',#{form.customerName},'%')-->
    <!--            </if>-->
    <!--            <if test="form.legalName != null and form.legalName !=''">-->
    <!--                and oi.legal_name like concat('%',#{form.legalName},'%')-->
    <!--            </if>-->
    <!--            <if test="form.endCreateTimeStr != null and form.endCreateTimeStr !=''">-->
    <!--                and DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H:%i:%S') <![CDATA[<=]]> #{form.endCreateTimeStr}-->
    <!--            </if>-->
    <!--            <if test="form.beginCreateTimeStr != null and form.beginCreateTimeStr !=''">-->
    <!--                and DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H:%i:%S') <![CDATA[>=]]> #{form.beginCreateTimeStr}-->
    <!--            </if>-->

    <!--            <if test="form.createdUser != null and form.createdUser !=''">-->
    <!--                and oi.created_user like concat('%',#{form.createdUser},'%')-->
    <!--            </if>-->

    <!--            &lt;!&ndash;        <if test="legalIds != null and legalIds.size>0">&ndash;&gt;-->
    <!--            &lt;!&ndash;            and oi.`legal_entity_id` in&ndash;&gt;-->
    <!--            &lt;!&ndash;            <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">&ndash;&gt;-->
    <!--            &lt;!&ndash;                #{legalId}&ndash;&gt;-->
    <!--            &lt;!&ndash;            </foreach>&ndash;&gt;-->
    <!--            &lt;!&ndash;        </if>&ndash;&gt;-->
    <!--        </where>-->
    <!--    </select>-->

    <select id="getMainOrderById" parameterType="java.lang.Long" resultType="com.jayud.oms.model.vo.InputMainOrderVO">
        SELECT
        oi.`id` orderId,
        oi.remarks,
        oi.`order_no` orderNo,
        oi.`customer_code` customerCode,
        oi.`customer_name` customerName,
        oi.`biz_uid` bizUid,
        oi.`biz_uname` bizUname,
        oi.`contract_no` contractNo,
        oi.`legal_name` legalName,
        oi.`biz_belong_depart` bizBelongDepart,
        oi.`reference_no` referenceNo,
        oi.`biz_code` bizCode,
        (SELECT pb.name FROM product_biz pb WHERE pb.id_code = oi.`biz_code` LIMIT 1) bizDesc,
        oi.created_user createdUser,
        DATE_FORMAT(oi.create_time,'%Y-%m-%d %H:%i:%S') createdTimeStr,
        oi.`selected_server` selectedServer,
        oi.`class_code` classCode,
        oi.`unit_code` unitCode,
        oi.`unit_account` unitAccount,
        oi.`is_data_all` isDataAll,
        oi.`status` status,
        oi.legal_entity_id legalEntityId,
        ci.id customerId,
        oi.operation_time
        FROM
        order_info oi
        left join customer_info ci on oi.customer_code = ci.id_code
        <where>

            <if test="idValue != null and idValue != ''">
                and oi.`id` = #{idValue}
            </if>
        </where>
    </select>

    <select id="countOrderData" resultType="com.jayud.oms.model.vo.OrderDataCountVO">
        SELECT
        (SELECT
        COUNT(1)
        FROM
        order_info o1
        <where>
            <choose>
                <when test="form.entrance == 'myOrder'">
                    o1.created_user = #{form.loginUserName}
                </when>
                <otherwise>
                    <if test="legalIds != null and legalIds.size>0">
                        o1.`legal_entity_id` in
                        <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                            #{legalId}
                        </foreach>
                    </if>
                </otherwise>
            </choose>
        </where>
        ) AS allCount,

        (SELECT
        COUNT(1)
        FROM
        order_info o2
        WHERE o2.status = '2'
        <choose>
            <when test="form.entrance == 'myOrder'">
                and o2.created_user = #{form.loginUserName}
            </when>
            <otherwise>
                <if test="legalIds != null and legalIds.size>0">
                    and o2.`legal_entity_id` in
                    <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                        #{legalId}
                    </foreach>
                </if>
            </otherwise>
        </choose>
        ) AS preSubmitCount,

        (SELECT
        COUNT(1)
        FROM
        order_info o3
        WHERE o3.status = '4'
        <choose>
            <when test="form.entrance == 'myOrder'">
                and o3.created_user = #{form.loginUserName}
            </when>
            <otherwise>
                <if test="legalIds != null and legalIds.size>0">
                    and o3.`legal_entity_id` in
                    <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                        #{legalId}
                    </foreach>
                </if>
            </otherwise>
        </choose>
        ) AS dataNotAllCount,

        (SELECT
        COUNT(1)
        FROM
        order_info o6
        WHERE o6.status = '6'
        <choose>
            <when test="form.entrance == 'myOrder'">
                and o6.created_user = #{form.loginUserName}
            </when>
            <otherwise>
                <if test="legalIds != null and legalIds.size>0">
                    and o6.`legal_entity_id` in
                    <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                        #{legalId}
                    </foreach>
                </if>
            </otherwise>
        </choose>
        ) AS cancelledCount,

        (SELECT
        COUNT(1)
        FROM
        order_info o7
        WHERE o7.status = '7'
        <choose>
            <when test="form.entrance == 'myOrder'">
                and o7.created_user = #{form.loginUserName}
            </when>
            <otherwise>
                <if test="legalIds != null and legalIds.size>0">
                    and o7.`legal_entity_id` in
                    <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                        #{legalId}
                    </foreach>
                </if>
            </otherwise>
        </choose>
        ) AS pendingRejectedCount
        FROM
        DUAL
    </select>
    <select id="initGoCustomsAudit1" resultType="com.jayud.oms.model.vo.InitGoCustomsAuditVO">
        SELECT
            (select oc.encode from order_customs oc where oc.main_order_no = oi.order_no limit 1) encode,
            (SELECT vi.plate_number FROM vehicle_info vi LEFT JOIN order_send_cars osc ON vi.id = osc.vehicle_id WHERE osc.order_no = ot.order_no) plateNumber,
            (SELECT d.name FROM driver_info d LEFT JOIN order_send_cars osc ON d.id = osc.driver_info_id WHERE osc.order_no = ot.order_no) driverName,
            (select oc.encode_pic_name from order_customs oc where oc.main_order_no = oi.order_no limit 1) fileNameStr,
            (select oc.encode_pic from order_customs oc where oc.main_order_no = oi.order_no limit 1) fileStr
        FROM
            order_info oi
            LEFT JOIN order_transport ot ON ot.main_order_no = oi.order_no
        WHERE
            oi.order_no = #{form.orderNo}
    </select>
    <select id="initGoCustomsAudit2" resultType="com.jayud.oms.model.vo.InitGoCustomsAuditVO">
    SELECT
        oi.encode,
        (select vi.plate_number from vehicle_info vi left join order_send_cars osc on vi.id = osc.vehicle_id where osc.order_no = ot.order_no) plateNumber,
        (SELECT d.name FROM driver_info d LEFT JOIN order_send_cars osc ON d.id = osc.driver_info_id WHERE osc.order_no = ot.order_no) driverName,
        (select ai.status_file_name from audit_info ai where ai.audit_status = 'E_C_0' and ai.ext_id = oi.id order by ai.created_time desc limit 1) fileNameStr,
        (select ai.status_file from audit_info ai where ai.audit_status = 'E_C_0' and ai.ext_id = oi.id order by ai.created_time desc limit 1) fileStr
    FROM
        order_info oi
        LEFT JOIN order_transport ot ON ot.main_order_no = oi.order_no
    WHERE
        oi.order_no = #{form.orderNo}
    </select>


    <select id="pendingExternalCustomsDeclarationNum"
            resultType="java.lang.Integer">
        SELECT count(*) FROM
        order_info i
        <where>
            and (i.class_code = 'ZGYS' or i.selected_server like concat('%','ZGYSDD','%')) and i.`status` = 1
            and i.customs_release = 0
            and not exists (SELECT 1 FROM order_customs oc WHERE oc.`main_order_no` = i.order_no)
            <if test="legalIds != null and legalIds.size>0">
                and i.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="pendingGoCustomsAuditNum"
            resultType="java.lang.Integer">
        SELECT count(*) FROM
        order_info oi LEFT JOIN order_transport ot ON
        oi.`order_no` = ot.`main_order_no`
        WHERE
        -- TODO 外部报关
        (oi.`class_code` = 'ZGYS' or oi.selected_server like concat('%','ZGYSDD','%'))
        AND (ot.`status` = 'T_6' or (ot.`status` = 'T_5' AND ot.is_vehicle_weigh = 0))
        AND (oi.`customs_release` = 1
        OR
        -- TODO 出口报关所有都放行才能进通关前审核
        ((SELECT COUNT(1) FROM logistics_track lt WHERE lt.`main_order_id` = oi.`id` AND lt.`status`='C_5') =
        (SELECT COUNT(1) FROM order_customs oc WHERE oc.`main_order_no` = oi.`order_no`)
        AND (SELECT COUNT(1) FROM logistics_track lt WHERE lt.`main_order_id` = oi.`id` AND lt.`status`='C_5') > 0)
        )

        <if test="legalIds != null and legalIds.size>0">
            and oi.`legal_entity_id` in
            <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                #{legalId}
            </foreach>
        </if>
    </select>

</mapper>
