<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.OrderInfo">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="biz_uid" property="bizUid" />
        <result column="biz_uname" property="bizUname" />
        <result column="unit_account" property="unitAccount" />
        <result column="unit_code" property="unitCode" />
        <result column="contract_no" property="contractNo" />
        <result column="legal_code" property="legalCode" />
        <result column="legal_name" property="legalName" />
        <result column="reference_no" property="referenceNo" />
        <result column="cntr_no" property="cntrNo" />
        <result column="biz_code" property="bizCode" />
        <result column="status" property="status" />
        <result column="biz_belong_depart" property="bizBelongDepart" />
        <result column="create_time" property="createTime" />
        <result column="created_user" property="createdUser" />
        <result column="up_time" property="upTime" />
        <result column="up_user" property="upUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, customer_code, customer_name, biz_uid, biz_uname, unit_account, unit_code, contract_no, legal_code, legal_name, reference_no, cntr_no, biz_code, status, create_time, created_user, up_time, up_user
    </sql>

    <select id="noSubmitOrderByPage" parameterType="com.jayud.oms.model.bo.QueryOrderInfoForm" resultType="com.jayud.oms.model.vo.NoSubmitOrderVO" >
        select * from (
        SELECT
        oi.id,
        oi.`order_no` orderNo,
        (CASE oc.`goods_type` WHEN 1 THEN '进口'
        WHEN 2 THEN '出口' END) goodsTypeDesc,
        oc.`port_code` portCode,
        oc.`port_name` portName,
        oi.`status`,
        (CASE oi.`status` WHEN 1 THEN '正常'
        WHEN 2 THEN '草稿'
        WHEN 3 THEN '关闭' END) statusDesc,
        oi.`biz_code` bizCode,
        (SELECT pc.name FROM product_classify pc WHERE pc.id_code = oi.`biz_code`) bizDesc,
        oi.`customer_name` customerName,
        '' goodsInfo,
        '' takeAddress,
        '' giveAddress,
        oi.`created_user` createdUser,
        DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H %I %S') createdTimeStr
        FROM
        order_info oi LEFT JOIN order_customs oc ON oi.`order_no` = oc.`main_order_no`
        UNION ALL
        SELECT
        oi.id,
        oi.`order_no` orderNo,
        (CASE ot.`goods_type` WHEN 1 THEN '进口'
        WHEN 2 THEN '出口' END) goodsTypeDesc,
        ot.`port_code` portCode,
        ot.`port_name` portName,
        oi.`status`,
        (CASE oi.`status` WHEN 1 THEN '正常'
        WHEN 2 THEN '草稿'
        WHEN 3 THEN '关闭' END) statusDesc,
        oi.`biz_code` bizCode,
        (SELECT pc.name FROM product_classify pc WHERE pc.id_code = oi.`biz_code`) bizDesc,
        oi.`customer_name` customerName,
        (SELECT CONCAT(ota.`describe`,' ',ota.`amount`,(CASE ota.`unit` WHEN 1 THEN '件' WHEN 2 THEN '其他'
        END),',','重量',ota.`weight`,'KG') FROM order_take_adr ota WHERE ota.`order_no` = ot.order_no AND ota.`types` = 1 ORDER BY ota.`id` LIMIT 1) goodsInfo,
        (SELECT da.`address` FROM order_take_adr ota LEFT JOIN delivery_address da ON ota.`delivery_id` = da.`id` WHERE ota.`order_no` = ot.order_no AND ota.`types` = 1 ORDER BY ota.`id` LIMIT 1) takeAddress,
        (SELECT da.`address` FROM order_take_adr ota LEFT JOIN delivery_address da ON ota.`delivery_id` = da.`id` WHERE ota.`order_no` = ot.order_no AND ota.`types` = 2 ORDER BY ota.`id` LIMIT 1) giveAddress,
        oi.`created_user` createdUser,
        DATE_FORMAT(oi.`create_time`,'%Y-%m-%d %H %I %S') createdTimeStr
        FROM
        order_info oi LEFT JOIN order_transport ot ON oi.`order_no` = ot.`main_order_no` ) temp WHERE 1 = 1
        <if test="form.orderNo != null and form.orderNo != ''">
            and temp.orderNo = #{form.orderNo}
        </if>
        <if test="form.portCode != null and form.portCode != ''">
            and temp.portCode = #{form.portCode}
        </if>
        <if test="form.bizCode != null and form.bizCode !=''">
            and temp.bizCode = #{form.bizCode}
        </if>
    </select>

    <select id="getMainOrderById" parameterType="java.lang.Long" resultType="com.jayud.oms.model.vo.InputOrderVO" >
        SELECT
            oi.`id` orderId,
            oi.`order_no` orderNo,
            oi.`customer_code` customerCode,
            oi.`biz_code` bizUid,
            oi.`contract_no` contractNo,
            oi.`legal_code` legalCode,
            oi.`biz_belong_depart` bizBelongDepart,
            oi.`reference_no` referenceNo
        FROM
            order_info oi WHERE 1 > 2
        <if test="idValue != null and idValue != ''">
            and oi.`id` = #{idValue}
        </if>
    </select>

</mapper>
