<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.PrintReportManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.PrintReportManage">
        <id column="id" property="id" />
        <result column="unique_iden" property="uniqueIden" />
        <result column="template_url" property="templateUrl" />
        <result column="params" property="params" />
        <result column="name" property="name" />
        <result column="modular_name" property="modularName" />
        <result column="report_name" property="reportName" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unique_iden, template_url, params, name, modular_name, report_name, status, create_time, create_user, update_time, update_user, remarks
    </sql>

</mapper>
