<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.SupplierInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.SupplierInfo">
        <id column="id" property="id"/>
        <result column="supplier_code" property="supplierCode"/>
        <result column="product_classify_id" property="productClassifyIds"/>
        <result column="supplier_ch_name" property="supplierChName"/>
        <result column="supplier_en_name" property="supplierEnName"/>
        <result column="state_code" property="stateCode"/>
        <result column="contacts" property="contacts"/>
        <result column="company_name" property="companyName"/>
        <result column="contact_number" property="contactNumber"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="address" property="address"/>
        <result column="pid" property="pid"/>
        <result column="pname" property="pname"/>
        <result column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <result column="zip_code" property="zipCode"/>
        <result column="ext_setting_id" property="extSettingId"/>
        <result column="settlement_type" property="settlementType"/>
        <result column="payment_day" property="paymentDay"/>
        <result column="tax_receipt" property="taxReceipt"/>
        <result column="rate" property="rate"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_code, product_classify_id, supplier_ch_name, supplier_en_name,
         state_code, contacts, company_name, contact_number, contact_phone, address,
         pid, pname, cid, cname, zip_code, ext_setting_id, settlement_type, payment_day,
         tax_receipt, rate, buyer_id, status, create_user, create_time, update_time, update_user
    </sql>

    <!--    <select id="findSupplierInfoByPage" parameterType="com.jayud.oms.model.bo.QuerySupplierInfoForm"-->
    <!--            resultType="com.jayud.oms.model.vo.SupplierInfoVO">-->
    <!--        select-->
    <!--        s.id, s.supplier_code supplierCode,-->
    <!--        s.product_classify_ids productClassify,-->
    <!--        s.supplier_ch_name supplierChName,-->
    <!--        s.supplier_en_name supplierEnName,-->
    <!--        s.state_code stateCode, s.contacts, s.company_name companyName,-->
    <!--        s.contact_number contactNumber,-->
    <!--        s.contact_phone contactPhone, s.address, s.pid, s.pname, s.cid, s.cname,-->
    <!--        s.zip_code zipCode, s.ext_setting_id extSettingId,-->
    <!--        settlement_type settlementType, payment_day paymentDay,-->
    <!--        tax_receipt tax_receipt, rate,-->
    <!--        s.buyer_id buyerId,s.status,-->
    <!--        s.create_user createUser, s.create_time createTime,-->
    <!--        s.update_time updateTime,s.update_user updateUser-->
    <!--        from-->
    <!--        supplier_info s-->
    <!--        <where>-->
    <!--            <if test="form.supplierCode!=null and form.supplierCode!=''">-->
    <!--                and s.supplier_code like concat ('%',#{form.supplierCode},'%')-->
    <!--            </if>-->
    <!--            <if test="form.supplierChName!=null and form.supplierChName!=''">-->
    <!--                and s.supplier_ch_name like concat ('%',#{form.supplierChName},'%')-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->


    <select id="findAuditSupplierInfoByPage" parameterType="com.jayud.oms.model.bo.QueryAuditSupplierInfoForm"
            resultType="com.jayud.oms.model.vo.SupplierInfoVO">
        select
        s.id, s.supplier_code supplierCode,
        s.product_classify_ids productClassify,
        s.supplier_ch_name supplierChName,
        s.supplier_en_name supplierEnName,
        s.state_code stateCode, s.contacts, s.company_name companyName,
        s.contact_number contactNumber,
        s.contact_phone contactPhone, s.address, s.pid, s.pname, s.cid, s.cname,
        s.zip_code zipCode, s.ext_setting_id extSettingId,
        settlement_type settlementType, payment_day paymentDay,
        tax_receipt tax_receipt, rate,
        s.buyer_id buyerId,s.status,
        s.create_user createUser, s.create_time createTime,
        s.update_time updateTime,s.update_user updateUser,
        a.audit_status auditStatus, a.audit_comment auditComment
        from
        supplier_info s left join audit_info a on s.id = a.ext_id and ext_desc=#{form.auditTableDesc}
        <where>
            <if test="form.supplierCode!=null and form.supplierCode!=''">
                and s.supplier_code like concat ('%',#{form.supplierCode},'%')
            </if>
            <if test="form.supplierChName!=null and form.supplierChName!=''">
                and s.supplier_ch_name like concat ('%',#{form.supplierChName},'%')
            </if>
            and a.audit_status = #{form.auditStatus}
        </where>
    </select>

    <select id="findSupplierInfoByPage"
            resultType="com.jayud.oms.model.vo.SupplierInfoVO">
        select distinct
        s.id, s.supplier_code supplierCode,
        s.product_classify_ids productClassify,
        s.supplier_ch_name supplierChName,
        s.supplier_en_name supplierEnName,
        s.state_code stateCode, s.contacts, s.company_name companyName,
        s.contact_number contactNumber,
        s.contact_phone contactPhone, s.address, s.pid, s.pname, s.cid, s.cname,
        s.zip_code zipCode, s.ext_setting_id extSettingId,
        settlement_type settlementType, payment_day paymentDay,
        tax_receipt tax_receipt, rate,
        s.buyer_id buyerId,s.status,
        s.create_user createUser, s.create_time createTime,
        s.update_time updateTime,s.update_user updateUser,
        (select GROUP_CONCAT(srl.legal_entity_id) from supplier_rela_legal srl where srl.supplier_info_id = s.id group by s.id) legalEntityIdStr
        from
        supplier_info s
        LEFT JOIN `supplier_rela_legal` srl ON s.`id` = srl.`supplier_info_id`
        <where>
            <if test="form.supplierCode!=null and form.supplierCode!=''">
                and s.supplier_code like concat ('%',#{form.supplierCode},'%')
            </if>
            <if test="form.supplierChName!=null and form.supplierChName!=''">
                and s.supplier_ch_name like concat ('%',#{form.supplierChName},'%')
            </if>
            <if test="legalIds != null and legalIds.size>0">
                and srl.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getApprovedSupplier" resultType="com.jayud.oms.model.po.SupplierInfo">
        select
        s.id, s.supplier_code supplierCode,
        s.product_classify_ids productClassify,
        s.supplier_ch_name supplierChName,
        s.supplier_en_name supplierEnName,
        s.state_code stateCode, s.contacts, s.company_name companyName,
        s.contact_number contactNumber,
        s.contact_phone contactPhone, s.address, s.pid, s.pname, s.cid, s.cname,
        s.zip_code zipCode, s.ext_setting_id extSettingId,
        settlement_type settlementType, payment_day paymentDay,
        tax_receipt tax_receipt, rate,
        s.buyer_id buyerId,s.status,
        s.create_user createUser, s.create_time createTime,
        s.update_time updateTime,s.update_user updateUser,
        from supplier_info s
        <where>
            and s.status=#{supplierStatus}
            and s.id in (select a.ext_id from audit_info a
            where
            a.ext_desc=#{tablesDesc}
            and a.audit_status=#{auditStatus}
            <if test="supplierIds != null and supplierIds.size()>0">
                and a.ext_id in
                <foreach collection="supplierIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            group by ext_id, ext_desc
            order by id desc
            )
        </where>

    </select>

</mapper>
