<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.SupplierInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.SupplierInfo">
        <id column="id" property="id" />
        <result column="supplier_code" property="supplierCode" />
        <result column="supplier_ch_name" property="supplierChName" />
        <result column="supplier_en_name" property="supplierEnName" />
        <result column="state_code" property="stateCode" />
        <result column="contacts" property="contacts" />
        <result column="company_name" property="companyName" />
        <result column="contact_number" property="contactNumber" />
        <result column="contact_phone" property="contactPhone" />
        <result column="address" property="address" />
        <result column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="cid" property="cid" />
        <result column="cname" property="cname" />
        <result column="zip_code" property="zipCode" />
        <result column="ext_setting_id" property="extSettingId" />
        <result column="status" property="status" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_code, supplier_ch_name, supplier_en_name, state_code, contacts, company_name, contact_number, contact_phone, address, pid, pname, cid, cname, zip_code, ext_setting_id, status, created_user, created_time
    </sql>

</mapper>
