<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.VehicleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.VehicleInfo">
        <id column="id" property="id"/>
        <result column="plate_number" property="plateNumber"/>
        <result column="hk_number" property="hkNumber"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="pt_company" property="ptCompany"/>
        <result column="pt_fax" property="ptFax"/>
        <result column="car_type" property="carType"/>
        <result column="pt_phone" property="ptPhone"/>
        <result column="customs_code" property="customsCode"/>
        <result column="card_number" property="cardNumber"/>
        <result column="weight" property="weight"/>
        <result column="files" property="files"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="stepping_code" property="steppingCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="vehicle_tonnage" property="vehicleTonnage"/>
        <result column="file_name" property="fileName"/>
    </resultMap>

    <!-- 车辆详情 -->
    <resultMap id="VehicleDetailsMap" type="com.jayud.oms.model.vo.VehicleDetailsVO">
        <id column="id" property="id"/>
        <result column="plate_number" property="plateNumber"/>
        <result column="hk_number" property="hkNumber"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="pt_company" property="ptCompany"/>
        <result column="pt_fax" property="ptFax"/>
        <result column="car_type" property="carType"/>
        <result column="pt_phone" property="ptPhone"/>
        <result column="customs_code" property="customsCode"/>
        <result column="card_number" property="cardNumber"/>
        <result column="weight" property="weight"/>
        <result column="files" property="files"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="stepping_code" property="steppingCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="vehicle_tonnage" property="vehicleTonnage"/>
        <result column="file_name" property="fileName"/>
        <result column="driver_info_ids" property="driverInfoIds"/>
        <result column="main_driver_id" property="mainDriverId"/>
        <association property="supplierInfoVO" javaType="com.jayud.oms.model.vo.SupplierInfoVO">
            <id column="id" property="id"/>
            <result column="supplier_code" property="supplierCode"/>
            <!--            <result column="product_classify_id" property="productClassifyIds"/>-->
            <result column="supplier_ch_name" property="supplierChName"/>
            <result column="contacts" property="contacts"/>
            <result column="contact_number" property="contactNumber"/>
            <result column="address" property="address"/>
            <result column="settlement_type" property="settlementType"/>
            <result column="payment_day" property="paymentDay"/>
            <result column="tax_receipt" property="taxReceipt"/>
            <result column="rate" property="rate"/>
            <result column="buyer_id" property="buyerId"/>
            <result column="status" property="status"/>
            <result column="app_key" property="appKey"/>
            <result column="gps_address" property="gpsAddress"/>
            <result column="gps_type" property="gpsType"/>
            <result column="gps_req_param" property="gpsReqParam"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plate_number, hk_number, supplier_id, supplier_name, pt_company, pt_fax, car_type, pt_phone, customs_code, card_number, weight, files, status, create_user, create_time, update_time, update_user, stepping_code, enterprise_code,file_name
    </sql>

    <select id="findVehicleInfoByPage" parameterType="com.jayud.oms.model.bo.QueryVehicleInfoForm"
            resultType="com.jayud.oms.model.vo.VehicleInfoVO">
        select
        w.id, plate_number plateNumber,
        hk_number hkNumber,
        w.supplier_id supplierId,
        s.supplier_ch_name supplierName,
        pt_company ptCompany,
        pt_fax ptFax, car_type carType,
        pt_phone ptPhone,
        customs_code customsCode,
        card_number cardNumber, weight, w.status,
        w.create_user createUser, w.create_time createTime,
        w.update_time updateTime, w.update_user updateUser,
        stepping_code steppingCode, enterprise_code enterpriseCode,
        vehicle_tonnage vehicleTonnage,
        w.files,
        w.file_name fileName,
        `type`
        from
        vehicle_info w left join supplier_info s on w.supplier_id=s.id
        <where>
            <if test="form.status!=null and form.status!=''">
                and w.status= #{form.status}
            </if>
            <if test="form.plateNumber!=null and form.plateNumber!=''">
                and w.plate_number like concat('%',#{form.plateNumber},'%')
            </if>
            <if test="form.hkNumber!=null and form.hkNumber!=''">
                and w.hk_number like concat('%',#{form.hkNumber},'%')
            </if>
            <if test="form.supplierName!=null and form.supplierName!=''">
                and s.supplier_ch_name like concat('%',#{form.supplierName},'%')
            </if>
            <if test="form.type!=null">
                and w.type= #{form.type}
            </if>
        </where>
        order by id desc
    </select>
    <select id="findTmsVehicle" resultType="com.jayud.oms.model.vo.VehicleInfoVO">
        select
            w.id,
            plate_number plateNumber,
            hk_number hkNumber,
            w.supplier_id supplierId,
            s.supplier_ch_name supplierName,
            s.supplier_code,
            w.driver_info_ids
        from
            vehicle_info w left join supplier_info s on w.supplier_id=s.id
        where w.type=0
    </select>

    <select id="findVehicleSize" resultType="com.jayud.oms.model.vo.VehicleSizeInfoVO">
        SELECT v.id,v.vehicle_size vehicleSize,v.vehicle_type vehicleType FROM vehicle_size_info v
    </select>

    <select id="getVehicleDetailsById" parameterType="java.lang.Long" resultMap="VehicleDetailsMap">
        select
        v.*,s.*
        from
        vehicle_info v
        left join supplier_info s on v.supplier_id=s.id
        where v.id=#{vehicleId}
    </select>


    <select id="getDetailsByPlateNum" parameterType="java.lang.Long" resultMap="VehicleDetailsMap">
        select
        v.*,s.*
        from
        vehicle_info v
        left join supplier_info s on v.supplier_id=s.id
        where v.plate_number in
        <foreach collection="plateNumbers" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>

    </select>

    <select id="getPlateNumberListByDriverId" resultType="com.jayud.oms.model.vo.InitVehicleInfoVO">
        SELECT DISTINCT v.plate_number, v.id FROM vehicle_info v
        where find_in_set(#{driverId}, v.driver_info_ids)
        order by v.id desc
    </select>

</mapper>
