<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.oms.mapper.WarehouseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.oms.model.po.WarehouseInfo">
        <id column="id" property="id"/>
        <result column="warehouse_code" property="warehouseCode"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="contacts" property="contacts"/>
        <result column="contact_number" property="contactNumber"/>
        <result column="address" property="address"/>
        <result column="state_code" property="stateCode"/>
        <result column="city_code" property="cityCode"/>
        <result column="area" property="area"/>
        <result column="zip_code" property="zipCode"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warehouse_code, warehouse_name, contacts, contact_number, address, state_code, city_code, area, zip_code, status, create_user, create_time
    </sql>

    <select id="findWarehouseInfoByPage" parameterType="com.jayud.oms.model.bo.QueryWarehouseInfoForm"
    resultType="com.jayud.oms.model.vo.WarehouseInfoVO">
        select
        id, warehouse_code warehouseCode, warehouse_name warehouseName,
        contacts, contact_number contactNumber, address,
        (select name from region_city where id=w.state_code) province,
        (select name from region_city where id=w.city_code) city,
        (select name from region_city where id=w.area)area, zip_code zipCode, status,
        create_user createUser, create_time createTime
        from
        warehouse_info w
        <where>
            <if test="form.warehouseName!=null and form.warehouseName!=''">
                and w.warehouse_name like concat('%',#{form.warehouseName},'%')
            </if>
            <if test="form.contacts!=null and form.contacts!=''">
                and w.contacts like concat('%',#{form.contacts},'%')
            </if>
            <if test="form.contactNumber!=null and form.contactNumber!=''">
                and s.contact_number like concat('%',#{form.contactNumber},'%')
            </if>
            <if test="form.status!=null and form.status!=''">
                and status= #{form.status}
            </if>
        </where>

    </select>

</mapper>
