<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.trailer.mapper.TrailerDispatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.trailer.po.TrailerDispatch">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="trailer_order_no" property="trailerOrderNo" />
        <result column="order_no" property="orderNo" />
        <result column="plate_number" property="plateNumber" />
        <result column="phone" property="phone" />
        <result column="supplier_name" property="supplierName" />
        <result column="remark" property="remark" />
        <result column="review_comments" property="reviewComments" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="cabinet_weight" property="cabinetWeight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, trailer_order_no, order_no, plate_number, phone,name, supplier_name, remark, review_comments,create_user, create_time, update_user, update_time,cabinet_weight
    </sql>

</mapper>
