<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.trailer.mapper.TrailerOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jayud.trailer.po.TrailerOrder">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="main_order_no" property="mainOrderNo"/>
        <result column="status" property="status"/>
        <result column="process_status" property="processStatus"/>
        <result column="legal_entity_id" property="legalEntityId"/>
        <result column="legal_name" property="legalName"/>
        <result column="imp_and_exp_type" property="impAndExpType"/>
        <result column="unit_code" property="unitCode"/>
        <result column="unit_code_name" property="unitCodeName"/>
        <result column="port_departure_code" property="portDepartureCode"/>
        <result column="port_destination_code" property="portDestinationCode"/>
        <result column="cabinet_size" property="cabinetSize"/>
        <result column="bill_of_lading" property="billOfLading"/>
        <result column="bol_file_path" property="bolFilePath"/>
        <result column="bol_file_name" property="bolFileName"/>
        <result column="paper_strip_seal" property="paperStripSeal"/>
        <result column="pss_file_path" property="pssFilePath"/>
        <result column="pss_file_name" property="pssFileName"/>
        <result column="cabinet_number" property="cabinetNumber"/>
        <result column="cn_file_path" property="cnFilePath"/>
        <result column="cn_file_name" property="cnFileName"/>
        <result column="so" property="so"/>
        <result column="so_file_path" property="soFilePath"/>
        <result column="so_file_name" property="soFileName"/>
        <result column="arrival_time" property="arrivalTime"/>
        <result column="closing_warehouse_time" property="closingWarehouseTime"/>
        <result column="time_counter_rent" property="timeCounterRent"/>
        <result column="open_time" property="openTime"/>
        <result column="cutting_replenishing_time" property="cuttingReplenishingTime"/>
        <result column="
closing_time" property="
closingTime"/>
        <result column="
release_time" property="
releaseTime"/>
        <result column="is_weighed" property="isWeighed"/>
        <result column="process_description" property="processDescription"/>
        <result column="is_make_up" property="isMakeUp"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="need_input_cost" property="needInputCost"/>
        <result column="order_taker" property="orderTaker"/>
        <result column="receiving_orders_date" property="receivingOrdersDate"/>
    </resultMap>

    <resultMap id="info" type="com.jayud.trailer.vo.TrailerOrderInfoVO">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="main_order_no" property="mainOrderNo"/>
        <result column="status" property="status"/>
        <result column="process_status" property="processStatus"/>
        <result column="legal_entity_id" property="legalEntityId"/>
        <result column="legal_name" property="legalName"/>
        <result column="imp_and_exp_type" property="impAndExpType"/>
        <result column="unit_code" property="unitCode"/>
        <result column="unit_code_name" property="unitCodeName"/>
        <result column="port_code" property="portCode"/>
        <result column="cabinet_size" property="cabinetSize"/>
        <result column="bill_of_lading" property="billOfLading"/>
        <result column="bol_file_path" property="bolFilePath"/>
        <result column="bol_file_name" property="bolFileName"/>
        <result column="paper_strip_seal" property="paperStripSeal"/>
        <result column="pss_file_path" property="pssFilePath"/>
        <result column="pss_file_name" property="pssFileName"/>
        <result column="cabinet_number" property="cabinetNumber"/>
        <result column="cn_file_path" property="cnFilePath"/>
        <result column="cn_file_name" property="cnFileName"/>
        <result column="so" property="so"/>
        <result column="so_file_path" property="soFilePath"/>
        <result column="so_file_name" property="soFileName"/>
        <result column="arrival_time" property="arrivalTime"/>
        <result column="closing_warehouse_time" property="closingWarehouseTime"/>
        <result column="time_counter_rent" property="timeCounterRent"/>
        <result column="open_time" property="openTime"/>
        <result column="cutting_replenishing_time" property="cuttingReplenishingTime"/>
        <result column="is_weighed" property="isWeighed"/>
        <result column="is_make_up" property="isMakeUp"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="need_input_cost" property="needInputCost"/>
        <result column="order_taker" property="orderTaker"/>
        <result column="receiving_orders_date" property="receivingOrdersDate"/>
        <result column="closing_time" property="closingTime"/>
        <result column="release_time" property="releaseTime"/>
        <result column="process_description" property="processDescription"/>
        <result column="is_info_complete" property="isInfoComplete"/>
        <association property="trailerDispatchInfoVO" javaType="com.jayud.trailer.vo.TrailerDispatchInfoVO">
            <id column="id" property="id"/>
            <result column="order_id" property="orderId"/>
            <result column="trailer_order_no" property="trailerOrderNo"/>
            <result column="order_no" property="orderNo"/>
            <result column="plate_number" property="plateNumber"/>
            <result column="phone" property="phone"/>
            <result column="supplier_name" property="supplierName"/>
            <result column="remark" property="remark"/>
            <result column="create_user" property="createUser"/>
            <result column="create_time" property="createTime"/>
            <result column="update_user" property="updateUser"/>
            <result column="update_time" property="updateTime"/>
            <result column="status" property="status"/>
            <result column="weighing" property="weighing"/>
            <result column="name" property="name"/>
            <result column="review_comments" property="reviewComments"/>
            <result column="cabinet_weight" property="cabinetWeight"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, main_order_no, status, process_status, legal_entity_id, legal_name, imp_and_exp_type, unit_code, unit_code_name, port_departure_code, port_destination_code, cabinet_size, bill_of_lading, bol_file_path, bol_file_name, paper_strip_seal, pss_file_path, pss_file_name, cabinet_number, cn_file_path, cn_file_name, so, so_file_path, so_file_name, arrival_time, closing_warehouse_time, time_counter_rent, open_time, cutting_replenishing_time, 
closing_time, process_description,
release_time, is_weighed, is_make_up, create_user, create_time, update_user, update_time, need_input_cost, order_taker, receiving_orders_date
    </sql>

    <select id="getTrailerOrder" parameterType="long" resultType="com.jayud.trailer.vo.TrailerOrderVO">
        select id,order_no orderNo,main_order_no mainOrderNo,status, process_status processStatus,
        legal_entity_id legalEntityId,legal_name legalName,imp_and_exp_type impAndExpType,
        unit_code unitCode,unit_code_name unitCodeName,port_code portCode,
        cabinet_size cabinetSize,
        bill_of_lading billOfLading,bol_file_path bolFilePath,bol_file_name bolFileName,
        paper_strip_seal paperStripSeal,
        pss_file_path pssFilePath,
        pss_file_name pssFileName,
        cabinet_number cabinetNumber,
        cn_file_path cnFilePath,
        cn_file_name cnFileName,process_description processDescription,
        so,so_file_path soFilePath,so_file_name soFileName,
        arrival_time arrivalTime,closing_warehouse_time closingWarehouseTime,
        time_counter_rent timeCounterRent,open_time openTime,cutting_replenishing_time cuttingReplenishingTime,
        closing_time closingTime,release_time releaseTime,
        is_weighed isWeighed,is_make_up isMakeUp,create_user createUser,create_time createTime,update_user updateUser,
        update_time updateTime,need_input_cost needInputCost,order_taker orderTaker,
        receiving_orders_date receivingOrdersDate,
         is_info_complete isInfoComplete
        from trailer_order tor where tor.id = #{id}
    </select>

    <select id="findByPage" resultType="com.jayud.trailer.vo.TrailerOrderFormVO">
        select tor.id orderId,tor.order_no orderNo,main_order_no mainOrderNo,status, process_status processStatus,
        legal_entity_id legalEntityId,legal_name subLegalName,imp_and_exp_type impAndExpType,
        unit_code unitCode,unit_code_name unitCodeName,port_code portCode,
        cabinet_size cabinetSize,
        bill_of_lading billOfLading,bol_file_path bolFilePath,bol_file_name bolFileName,
        paper_strip_seal paperStripSeal,
        pss_file_path pssFilePath,
        pss_file_name pssFileName,
        cabinet_number cabinetNumber,
        cn_file_path cnFilePath,
        cn_file_name cnFileName,
        so,so_file_path soFilePath,so_file_name soFileName,
        arrival_time arrivalTime,closing_warehouse_time closingWarehouseTime,
        time_counter_rent timeCounterRent,open_time openTime
        ,cutting_replenishing_time cuttingReplenishingTime,
        closing_time closingTime,
        release_time releaseTime,
        is_weighed isWeighed,
        is_make_up isMakeUp,
        process_description processDescription,
        create_user createUser,
        create_time createTime,create_time createdTimeStr,
        update_user updateUser,
        update_time updateTime,need_input_cost needInputCost,order_taker orderTaker,
        receiving_orders_date receivingOrdersDate,
        (CASE WHEN (SELECT COUNT(1) FROM order_payment_cost opc WHERE opc.order_no = tor.`order_no`) +
        (SELECT COUNT(1) FROM order_receivable_cost orc WHERE orc.order_no = tor.`order_no`)>0 THEN TRUE
        ELSE FALSE
        END) cost
        from trailer_order tor
        <where>
            <if test="form.orderNo !=null and form.orderNo!=''">
                and tor.order_no like concat('%',#{form.orderNo},'%')
            </if>
            <if test="form.impAndExpType !=null and form.impAndExpType!='' and form.impAndExpType!=0">
                and tor.imp_and_exp_type like concat('%',#{form.impAndExpType},'%')
            </if>
            <if test="form.so !=null and form.so!=''">
                and tor.so like concat('%',#{form.so},'%')
            </if>
            <if test="form.cabinetNumber !=null and form.cabinetNumber!=''">
                and tor.cabinet_number like concat('%',#{form.cabinetNumber},'%')
            </if>
            <if test="form.billOfLading !=null and form.billOfLading!=''">
                and tor.bill_of_lading like concat('%',#{form.billOfLading},'%')
            </if>
            <if test="form.paperStripSeal !=null and form.paperStripSeal!=''">
                and tor.paper_strip_seal like concat('%',#{form.paperStripSeal},'%')
            </if>
            <if test="form.processStatus !=null and form.processStatus!=''">
                and tor.process_status like concat('%',#{form.processStatus},'%')
            </if>
            <if test="form.createUser !=null and form.createUser!=''">
                and tor.create_user like concat('%',#{form.createUser},'%')
            </if>
            <if test="form.portCode !=null and form.portCode!=''">
                and tor.port_code like concat('%',#{form.portCode},'%')
            </if>
            <if test="form.cabinetSize !=null and form.cabinetSize!=''">
                and tor.cabinet_size like concat('%',#{form.cabinetSize},'%')
            </if>
            <if test="form.mainOrderNos !=null and form.mainOrderNos.size > 0">
                and tor.main_order_no IN
                <foreach collection="form.mainOrderNos" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.status !=null and form.status!=''">
                and tor.status = #{form.status}
            </if>
            <if test="form.processStatusList!=null and form.processStatusList.size>0">
                and tor.process_status IN
                <foreach collection="form.processStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="form.startTime !=null and form.startTime!=''">
                and tor.create_time <![CDATA[>= ]]> #{form.startTime}
            </if>
            <if test="form.endTime !=null and form.endTime!=''">
                and tor.create_time <![CDATA[<= ]]> #{form.endTime}
            </if>
            <if test="form.cmd == 'costAudit'">
                AND (EXISTS (SELECT 1 FROM order_payment_cost opc WHERE opc.`order_no` = tor.order_no AND opc.`status` =
                '2' and opc.sub_type = 'tc')
                OR EXISTS (SELECT 1 FROM order_receivable_cost orc WHERE orc.`order_no` = tor.order_no AND orc.`status`
                =
                '2' and orc.sub_type = 'tc'))
            </if>

            <if test="legalIds != null and legalIds.size>0">
                and tor.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
            and tor.is_info_complete = 1
        </where>
        order by tor.id desc
    </select>

    <select id="getTrailerInfoByMainOrderNos" resultMap="info">
        select
        tr.*,td.*
        from trailer_order tr left join trailer_dispatch td on tr.id=td.order_id
        <where>
            tr.main_order_no in
            <foreach collection="mainOrderNos" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>

    </select>

    <select id="getNumByStatus" resultType="java.lang.Integer">
        select count(*) from trailer_order tor
        LEFT JOIN order_info oi
        ON tor.`main_order_no` = oi.`order_no`
        <where>
            <choose>
                <when test="status=='TT_0'">
                    and tor.status=#{status} AND oi.`status` in ('1','4')
                </when>
                <when test="status=='TT_3'">
                    and tor.status=#{status} AND tor.`imp_and_exp_type` = 1
                </when>
                <when test="status=='TT_6'">
                    and tor.status=#{status} AND tor.`imp_and_exp_type` = 2 and tor.`is_weighed` = 1
                </when>
                <otherwise>
                    and tor.status=#{status}
                </otherwise>
            </choose>
            <if test="legalIds != null and legalIds.size>0">
                and tor.`legal_entity_id` in
                <foreach collection="legalIds" item="legalId" open="(" separator="," close=")">
                    #{legalId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
