<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.crm.mapper.CrmCreditDepartMapper">

    <!-- 通用查询映射结果ss -->
    <resultMap id="BaseResultMap" type="com.jayud.crm.model.po.CrmCreditDepart">
        <id column="id" property="id" />
        <result column="credit_id" property="creditId" />
        <result column="credit_name" property="creditName" />
        <result column="depart_id" property="departId" />
        <result column="depart_name" property="departName" />
        <result column="credit_value" property="creditValue" />
        <result column="credit_amt" property="creditAmt" />
        <result column="tenant_code" property="tenantCode" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, credit_id, credit_name, depart_id, depart_name, credit_value, credit_amt, tenant_code, remark, is_deleted, create_by, create_time, update_by, update_time
    </sql>

    <!-- 表名 -->
    <sql id="tname">crm_credit_depart </sql>

    <sql id="selects">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tname"/>
        <where>
            is_deleted = 0
            <if test="crmCreditDepart.creditId != null and crmCreditDepart.creditId != ''">
                AND credit_id LIKE CONCAT('%',#{crmCreditDepart.creditId},'%')
            </if>

            <if test="crmCreditDepart.creditName != null and crmCreditDepart.creditName != ''">
                AND credit_name LIKE CONCAT('%',#{crmCreditDepart.creditName},'%')
            </if>

            <if test="crmCreditDepart.departId != null ">
                AND depart_id = ${crmCreditDepart.departId}
            </if>

            <if test="crmCreditDepart.departName != null ">
                AND depart_name = ${crmCreditDepart.departName}
            </if>

            <if test="crmCreditDepart.creditValue != null and crmCreditDepart.creditValue != ''">
                AND credit_value LIKE CONCAT('%',#{crmCreditDepart.creditValue},'%')
            </if>

            <if test="crmCreditDepart.creditAmt != null ">
                AND credit_amt = ${crmCreditDepart.creditAmt}
            </if>

            <if test="crmCreditDepart.tenantCode != null and crmCreditDepart.tenantCode != ''">
                AND tenant_code LIKE CONCAT('%',#{crmCreditDepart.tenantCode},'%')
            </if>

            <if test="crmCreditDepart.remark != null and crmCreditDepart.remark != ''">
                AND remark LIKE CONCAT('%',#{crmCreditDepart.remark},'%')
            </if>

        </where>
    </sql>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.jayud.crm.model.po.CrmCreditDepart">
        <include refid="selects"/>
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="com.jayud.crm.model.po.CrmCreditDepart">
        <include refid="selects"/>
    </select>




    <delete id="phyDelById">
        DELETE FROM  crm_credit_depart WHERE id = ${id}
    </delete>

    <update id="logicDel">
        UPDATE crm_credit_depart SET is_deleted = 1 ,update_by = #{username}, update_time = now()
        WHERE id = ${id} AND is_deleted = 0
    </update>

    <select id="queryCrmCreditDepartForExcel" resultType="java.util.LinkedHashMap">
        SELECT
            id 'id',
            credit_id 'creditId',
            credit_name 'creditName',
            depart_id 'departId',
            depart_name 'departName',
            credit_value 'creditValue',
            credit_amt 'creditAmt',
            tenant_code 'tenantCode',
            remark 'remark',
            is_deleted 'isDeleted',
            create_by 'createBy',
            create_time 'createTime',
            update_by 'updateBy',
            update_time 'updateTime'
        FROM crm_credit_depart
        WHERE is_deleted = 0
                    <if test="creditId != null and creditId != ''">
                        AND credit_id LIKE CONCAT('%',#{creditId}, '%')
                    </if>
                    <if test="creditName != null and creditName != ''">
                        AND credit_name LIKE CONCAT('%',#{creditName}, '%')
                    </if>
                    <if test="departId != null ">
                        AND depart_id = #{departId}
                    </if>
                    <if test="departName != null ">
                        AND depart_name = #{departName}
                    </if>
                    <if test="creditValue != null and creditValue != ''">
                        AND credit_value LIKE CONCAT('%',#{creditValue}, '%')
                    </if>
                    <if test="creditAmt != null ">
                        AND credit_amt = #{creditAmt}
                    </if>
                    <if test="tenantCode != null and tenantCode != ''">
                        AND tenant_code LIKE CONCAT('%',#{tenantCode}, '%')
                    </if>
                    <if test="remark != null and remark != ''">
                        AND remark LIKE CONCAT('%',#{remark}, '%')
                    </if>

    </select>

</mapper>
