<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayud.crm.mapper.CrmCreditVisitRoleMapper">

    <!-- 通用查询映射结果ss -->
    <resultMap id="BaseResultMap" type="com.jayud.crm.model.po.CrmCreditVisitRole">
        <id column="id" property="id" />
        <result column="visit_id" property="visitId" />
        <result column="user_id" property="userId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="key" property="key" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, visit_id, user_id, is_deleted, create_by, create_time, update_by, update_time, key
    </sql>

    <!-- 表名 -->
    <sql id="tname">crm_credit_visit_role </sql>

    <sql id="selects">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tname"/>
        <where>
            is_deleted = 0
            <if test="crmCreditVisitRole.visitId != null ">
                AND visit_id = ${crmCreditVisitRole.visitId}
            </if>

            <if test="crmCreditVisitRole.userId != null ">
                AND user_id = ${crmCreditVisitRole.userId}
            </if>

            <if test="crmCreditVisitRole.key != null ">
                AND key = ${crmCreditVisitRole.key}
            </if>

        </where>
    </sql>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.jayud.crm.model.po.CrmCreditVisitRole">
        <include refid="selects"/>
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="com.jayud.crm.model.po.CrmCreditVisitRole">
        <include refid="selects"/>
    </select>




    <delete id="phyDelById">
        DELETE FROM  crm_credit_visit_role WHERE id = ${id}
    </delete>

    <update id="logicDel">
        UPDATE crm_credit_visit_role SET is_deleted = 1 ,update_by = #{username}, update_time = now()
        WHERE id = ${id} AND is_deleted = 0
    </update>


</mapper>
